{% load static %}

<div class="modal fade reference-document" id="acquirer_resident_certification_three" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning-subtle bg-gradient bg-opacity-50">
                <h1 class="modal-title fs-5">
                    在留証明書
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 class="text-center">
                    日本の住民票に代わる海外の住所について証明書です
                </h5>
                <p class="text-center">
                    ※各大使館または領事館により書式が異なりますが、記載内容は同じです。
                </p>
                <p class="d-flex justify-content-center">
                    <img class="modal-image" src="{% static 'toukiApp/img/在留証明書１.png' %}" alt="在留証明書１の説明画像">
                </p>
            </div>
        </div>
    </div>
</div>