{% load static %}

<div class="modal fade reference-document" id="alt_decedent_resident_certification_two" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning-subtle bg-gradient bg-opacity-50">
                <h5 class="modal-title">
                    登記識別情報通知
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 class="text-center lh-lg">
                    不動産の所有者であることを証明するものです。
                    <br>
                    ２つの書式があります。
                </h5>
                <div class="mt-4 mx-auto supplement border rounded-3 p-3 border-warning">
                    <p class="sm-text-center">
                        <span class="px-3 border-bottom border-dark">
                            以下をご確認ください。
                        </span>
                    </p>
                    <ul class="ps-0 ps-sm-5 mb-0">
                        <li class="d-flex">
                            <div>
                                ・
                            </div>
                            <div>
                                登記の目的が「所有権移転」または「〇〇持分移転」であること
                            </div>
                        </li>
                        <li class="mt-3 d-flex">
                            <div>
                                ・
                            </div>
                            <div>
                                対象の不動産の記載があること
                            </div>
                        </li>
                        <li class="mt-3 d-flex">
                            <div>
                                ・
                            </div>
                            <div>
                                受付年月日と番号が登記簿謄本のものと一致している
                            </div>
                        </li>
                    </ul>
                </div>
                <hr class="my-4">
                <p class="d-flex justify-content-center">
                    <img class="modal-image" src="{% static 'toukiApp/img/登記識別情報通知１.png' %}" alt="登記識別情報通知１の参考画像">
                </p>
                <p class="d-flex justify-content-center">
                    <img class="modal-image" src="{% static 'toukiApp/img/登記識別情報通知２.png' %}" alt="登記識別情報通知２の参考画像">
                </p>
            </div>
        </div>
    </div>
</div>