{% load static %}

<div class="modal fade reference-document" id="alt_decedent_resident_certification_two" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">
                    登記識別情報通知（いずれかの書式）
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="d-flex justify-content-center">
                    <img class="modal-image" src="{% static 'toukiApp/img/登記識別情報通知１.png' %}" alt="登記識別情報通知１の参考画像">
                </p>
                <p class="d-flex justify-content-center">
                    <img class="modal-image" src="{% static 'toukiApp/img/登記識別情報通知２.png' %}" alt="登記識別情報通知２の参考画像">
                </p>
            </div>
        </div>
    </div>
</div>