{% load static %}

<div class="modal fade reference-document" id="alt_decedent_resident_certification_three" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">
                    不在住証明書（他の書式もありますが、同じ内容が記載されてます。）
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="d-flex justify-content-center">
                    <img class="modal-image" src="{% static 'toukiApp/img/不在住証明書.png' %}" alt="不在住証明書の参考画像">
                </p>
            </div>
        </div>
    </div>
</div>