{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'toukiApp/parts/condition_diagram.css' %}">
{% endblock %}

<div id="condition_diagram_modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-secondary-subtle">
                <h5 class="modal-title">
                    対応可能な相続関係の範囲
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <img class="modal-image" src="{% static 'toukiApp/img/対応可能な相続関係図.png' %}" alt="除籍全部事項証明書の最後のページの説明画像">
                </div>
            </div>
        </div>
    </div>
</div>


{% block js %}
    {% load static %}
    <script src="{% static 'toukiApp/parts/condition_diagram.js' %}"></script>
{% endblock %}