{% load static %}

<div class="modal fade reference-document" id="decedent_resident_certification_one" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning-subtle bg-gradient bg-opacity-50">
                <h1 class="modal-title fs-5">
                    住民票の除票
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mx-auto">
                <img class="modal-image" src="{% static 'toukiApp/img/住民票の除票.png' %}" alt="住民票の除票の参考画像">
            </div>
        </div>
    </div>
</div>