{% load static %}

<div class="modal fade reference-document" id="decedent_resident_certification_two" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning-subtle bg-gradient bg-opacity-50">
                <h5 class="modal-title">
                    戸籍の附票
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="d-flex justify-content-center">
                    <img class="modal-image" src="{% static 'toukiApp/img/戸籍の除票.png' %}" alt="戸籍の除票の参考画像">
                </p>
                <p class="d-flex justify-content-center">
                    <img class="modal-image" src="{% static 'toukiApp/img/改製原戸籍の附票.png' %}" alt="改製原戸籍の附票の参考画像">
                </p>
            </div>
        </div>
    </div>
</div>