{% load static %}

<div class="modal fade reference-document" id="deleted_family_card_last_page_modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning-subtle bg-gradient bg-opacity-50">
                <h5 class="modal-title">
                    除籍全部事項証明書
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 class="text-center lh-lg">
                    転籍などにより更新されなくなった戸籍の証明書です。
                    <br>
                    最後のページの下の部分に「除籍」と書いてあるものは相続人の戸籍謄本（戸籍全部または個人事項証明書）として使用できません。
                </h5>
                <hr>
                <p class="mt-5 d-flex justify-content-center">
                    <img class="modal-image" src="{% static 'toukiApp/img/除籍全部事項証明書の最後のページ.png' %}" alt="除籍全部事項証明書の最後のページの説明画像">
                </p>
            </div>
        </div>
    </div>
</div>