{% if form.errors %}
    <div class="form-error-wrapper">
        {% for field, errors in form.errors.items %}
            <div>
                {% if field == "__all__" or field in field_names %}
                    <div class="{% if forloop.counter0 > 0 %}mt-3{% endif %}">
                        <span class="border-bottom border-dark">
                            {% if field == "__all__" %}
                                {% if request.path == "/account/login/" %}
                                    アカウントエラー
                                {% else %}
                                    フォームエラー
                                {% endif %}
                            {% elif field == "created_by" or field == "email" %}
                                メールアドレス
                            {% elif field == "subject" %}
                                件名
                            {% elif field == "content" %}
                                お問い合わせ内容
                            {% elif field == "name" or field == "username" %}
                                氏名
                            {% elif field == "payer" %}
                                支払名義人
                            {% elif field == "address" %}
                                住所
                            {% elif field == "phone_number" %}
                                電話番号
                            {% elif field == "card_number" %}
                                カード番号
                            {% elif field == "expiry_month" %}
                                有効期限(月)
                            {% elif field == "expiry_year" %}
                                有効期限(年)
                            {% elif field == "cvv" %}
                                CVV
                            {% elif field == "password1" %}
                                パスワード
                            {% elif field == "password2" %}
                                確認用
                            {% elif field == "terms_agreement" %}
                                規約に同意
                            {% elif field == "session_id" %}
                                セッションID
                            {% elif field == "token" %}
                                一時コード
                            {% else %}
                                入力エラー
                            {% endif %}
                        </span>
                    </div>
                {% endif %}
                <ul class="mb-0 ps-md-3 ps-0">
                    {% for error in errors %}
                        <li class="text-danger">
                            {{ error|linebreaksbr }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% endif %}