{% load static %}

<div class="modal fade reference-document" id="heir_family_certification" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning-subtle bg-gradient bg-opacity-50">
                <h1 class="modal-title fs-5">
                    戸籍個人事項証明書
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-center fw-bold">
                    戸籍
                    <span class="px-3 border-bottom border-dark">
                        全部
                    </span>
                    事項証明書は同じ籍に入っている他の方も記載されます。
                </p>
                <p class="d-flex justify-content-center">
                    <img class="modal-image" src="{% static 'toukiApp/img/戸籍の全部事項証明書.png' %}" alt="戸籍の全部事項証明書の説明画像">
                </p>
            </div>
        </div>
    </div>
</div>