{% load static %}

<div class="modal fade reference-document" id="moj-online-request-page" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning-subtle bg-gradient bg-opacity-50">
                <h5 class="modal-title">
                    かんたん証明書請求での手順
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="ps-0">
                    <li>
                        <div class="d-flex justify-content-center">
                            <div class="fw-bold supplement border border-2 rounded-3 p-3 border-warning">
                                <h5 class="text-center">
                                    リンク先のページにある「申請者IDをお持ちでない場合」からアカウント登録をする。
                                </h5>
                                <div class="d-flex mt-3">
                                    <div>
                                        ※
                                    </div>
                                    <div>
                                        利用時間は平日（８：３０～２１：００）です。
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="mt-5 text-center">
                            <img class="modal-image" src="{% static 'toukiApp/img/かんたん証明書請求１.png' %}" alt="かんたん証明書請求１の説明画像">
                        </p>
                    </li>
                    <li>
                        <div class="d-flex justify-content-center">
                            <h5 class="fw-bold supplement border border-2 rounded-3 p-3 border-warning text-center">
                                以下、画像に表示されている赤字に従ってご操作ください。
                            </h5>
                        </div>
                        <p class="text-center mt-3">
                            <img class="modal-image" src="{% static 'toukiApp/img/かんたん証明書請求２.png' %}" alt="かんたん証明書請求２の説明画像">
                        </p>
                    </li>
                    <hr class="border-primary border-5">
                    <li class="mt-5">
                        <p class="text-center mt-3">
                            <img class="modal-image" src="{% static 'toukiApp/img/かんたん証明書請求３.png' %}" alt="かんたん証明書請求３の説明画像">
                        </p>
                    </li>
                    <hr class="border-primary border-5">
                    <li class="mt-5">
                        <div class="d-flex justify-content-center">
                            <div class="fw-bold supplement border border-2 rounded-3 p-3 border-warning">
                                <div class="d-flex">
                                    <div>
                                        ※
                                    </div>
                                    <div>
                                        マンション（区分建物）の一室は「建物」を選択してください。
                                    </div>
                                </div>
                                <div class="d-flex mt-3">
                                    <div>
                                        ※
                                    </div>
                                    <div>
                                        マンション（区分建物）の敷地は取得する必要ありません。
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="text-center mt-3">
                            <img class="modal-image" src="{% static 'toukiApp/img/かんたん証明書請求４.png' %}" alt="かんたん証明書請求４の説明画像">
                        </p>
                    </li>
                    <hr class="border-primary border-5">
                    <li class="mt-5">
                        <p class="text-center mt-3">
                            <img class="modal-image" src="{% static 'toukiApp/img/かんたん証明書請求５.png' %}" alt="かんたん証明書請求５の説明画像">
                        </p>
                    </li>
                    <hr class="border-primary border-5">
                    <li class="mt-5">
                        <div class="d-flex justify-content-center">
                            <div class="fw-bold supplement border border-2 rounded-3 p-3 border-warning">
                                <div class="d-flex">
                                    <div>
                                        ※
                                    </div>
                                    <div>
                                        請求者や送り先は自由に変更できます。
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="text-center mt-3">
                            <img class="modal-image" src="{% static 'toukiApp/img/かんたん証明書請求６.png' %}" alt="かんたん証明書請求６の説明画像">
                        </p>
                    </li>
                    <hr class="border-primary border-5">
                    <li class="mt-5">
                        <p class="text-center mt-3">
                            <img class="modal-image" src="{% static 'toukiApp/img/かんたん証明書請求７.png' %}" alt="かんたん証明書請求７の説明画像">
                        </p>
                    </li>
                    <hr class="border-primary border-5">
                    <li class="mt-5">
                        <div class="d-flex justify-content-center">
                            <div class="fw-bold supplement border border-2 rounded-3 p-3 border-warning">
                                <div class="d-flex">
                                    <div>
                                        ※
                                    </div>
                                    <div>
                                        ネットバンキングまたはATMで支払う方の氏名を入力してください
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="text-center mt-3">
                            <img class="modal-image" src="{% static 'toukiApp/img/かんたん証明書請求８.png' %}" alt="かんたん証明書請求８の説明画像">
                        </p>
                    </li>
                    <hr class="border-primary border-5">
                    <li class="mt-5">
                        <p class="text-center mt-3">
                            <img class="modal-image" src="{% static 'toukiApp/img/かんたん証明書請求９.png' %}" alt="かんたん証明書請求９の説明画像">
                        </p>
                    </li>
                    <hr class="border-primary border-5">
                    <li class="mt-5">
                        <p class="text-center mt-3">
                            <img class="modal-image" src="{% static 'toukiApp/img/かんたん証明書請求１０.png' %}" alt="かんたん証明書請求１０の説明画像">
                        </p>
                    </li>
                    <hr class="border-primary border-5">
                    <li class="mt-5">
                        <p class="text-center mt-3">
                            <img class="modal-image" src="{% static 'toukiApp/img/かんたん証明書請求１１.png' %}" alt="かんたん証明書請求１１の説明画像">
                        </p>
                    </li>
                    <hr class="border-primary border-5">
                    <li class="mt-5">
                        <div class="d-flex justify-content-center">
                            <div class="fw-bold supplement border border-2 rounded-3 p-3 border-warning">
                                <div class="d-flex">
                                    <div>
                                        ※
                                    </div>
                                    <div>
                                        「電子納付」をクリックするとインターネットバンキング用のページが別タブで開きます。
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="text-center mt-3">
                            <img class="modal-image" src="{% static 'toukiApp/img/かんたん証明書請求１２.png' %}" alt="かんたん証明書請求１２の説明画像">
                        </p>
                    </li>
                    <hr class="border-primary border-5">
                    <li class="mt-5">
                        <div class="d-flex justify-content-center">
                            <div class="fw-bold supplement border border-2 rounded-3 p-3 border-warning">
                                <div class="d-flex">
                                    <div>
                                        ※
                                    </div>
                                    <div>
                                        請求が完了して２，３日後（土日祝日除く）に普通郵便でご指定の住所に届きます。
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="text-center mt-3">
                            <img class="modal-image" src="{% static 'toukiApp/img/かんたん証明書請求１３.png' %}" alt="かんたん証明書請求１３の説明画像">
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>