{% load static %}

<div class="modal fade reference-document" id="price_certification" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning-subtle bg-gradient bg-opacity-50">
                <h5 class="modal-title">
                    本年度の固定資産評価証明書
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 class="text-center lh-lg">
                    市区町村が設定した不動産の価格（固定資産評価額）が記載された証明書です。
                </h5>
                <p class="text-center">
                    ※画像は公課証明書ですが、固定資産評価証明書も同様の内容が記載されています。
                </p>
                <ul class="supplement px-2 py-3 px-sm-3 mt-3 mx-auto border rounded-3 border-warning">
                    <li class="d-flex">
                        <div>
                            ※
                        </div>
                        <div>
                            被相続人がその市区町村に所有する全ての不動産が記載されてます。
                        </div>
                    </li>
                    <li class="d-flex">
                        <div>
                            ※
                        </div>
                        <div>
                            不動産の所在地は住所と異なることもあります。
                            <ul class="ps-0 ps-sm-3 mt-3">
                                <li class="d-flex">
                                    <div>
                                        ＞
                                    </div>
                                    <div>
                                        住所：人が住んでいる場所を特定するためのもの
                                    </div>
                                </li>
                                <li class="d-flex">
                                    <div>
                                        ＞
                                    </div>
                                    <div>
                                        地番：土地の場所を特定するためのもの
                                    </div>
                                </li>
                                <li class="d-flex">
                                    <div>
                                        ＞
                                    </div>
                                    <div>
                                        家屋番号：建物の場所を特定するためのもの
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="d-flex mt-3">
                        <div>
                            ※
                        </div>
                        <div>
                            <div class="fw-bold">
                                評価額が非課税や無記載などで不明な不動産がある場合は、
                                <a class="fw-bold text-primary text-decoration-none" href="mailto:{{ company_data.MAIL_ADDRESS|urlencode }}?subject=非課税の不動産について&body=※固定資産評価証明書の画像を添付してください%0D%0A%0D%0Aアカウント：{{ user_email|urlencode }}%0D%0A法務局への照会する方法を教えてください。">
                                    お問い合わせ
                                </a>
                                をお願いします（2枚目の画像）。
                            <div>
                            <div class="mt-3">
                                「2 必要書類一覧」ですでにお問い合わせいただいている場合は大丈夫です。
                            </div>
                        </div>
                    </li>
                </ul>
                <hr>
                <h5 class="text-center">
                    ＜評価額がある場合＞
                </h5>
                <img class="modal-image" src="{% static 'toukiApp/img/公課証明書（あり）.png' %}" alt="固定資産評価証明書（あり）の説明画像">
                <hr class="my-4">
                <h5 class="text-center">
                    ＜評価額がない場合＞
                </h5>
                <img class="modal-image" src="{% static 'toukiApp/img/公課証明書（なし）.png' %}" alt="固定資産評価証明書（なし）の説明画像">
            </div>
        </div>
    </div>
</div>         