<fieldset class="signature">
    <div>
        <span>
            令和
        </span>
        <span>
            年
        </span>
        <span>
            月
        </span>
        <span>
            日（記入日）
        </span>
    </div>
    <div class="d-flex">
        <div class="align-self-end">
            住所
        </div>
    </div>
    <div>
        <div>
            氏名
        </div>
        <div class="stamp_box">
        </div>
        <div class="form-text my-auto">
            ※実印（印鑑登録証明書と同じ印鑑）
            <br>
            ※不鮮明なときは丸枠の近くに押し直す
        </div>
    </div>
</fieldset>