{% load static %}

<div class="modal fade reference-document" id="touki-jouhou-service-page" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning-subtle bg-gradient bg-opacity-50">
                <h5 class="modal-title">
                    登記情報提供サービスでの手順
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="ps-0">
                    <li>
                        <div class="fw-bold supplement border rounded-3 p-3 border-warning mx-auto">
                            <h5 class="text-center">
                                リンク先のページで「一時利用」の「利用申込」をクリックしてアカウント登録（無料）をする。
                            </h5>
                            <div class="d-flex mt-3">
                                <div>
                                    ※
                                </div>
                                <div>
                                    <span class="border-bottom border-dark">
                                        一時利用は当日中しか請求できない
                                    </span>
                                    ため、複数の固定資産評価証明書を請求している場合は、全て揃ってからの利用をおすすめします。
                                </div>
                            </div>
                            <div class="d-flex mt-3">
                                <div>
                                    ※
                                </div>
                                <div>
                                    営業時間
                                    <br>
                                    平日(8:30 - 23:00)
                                    <br>
                                    土日祝日(8:30 - 18:00)
                                </div>
                            </div>
                            <div class="d-flex mt-3">
                                <div>
                                    ※
                                </div>
                                <div>
                                    翌日以降も請求する場合は、個人利用（登録費用３００円）の利用申込が必要になります。
                                </div>
                            </div>
                        </div>
                        <p class="text-center mt-3">
                            <img class="modal-image" src="{% static 'toukiApp/img/登記情報提供サービス１.png' %}" alt="登記情報提供サービス１の説明画像">
                        </p>
                    </li>
                    <hr>
                    <li class="mt-5">
                        <div class="fw-bold supplement border rounded-3 p-3 border-warning mx-auto">
                            <h5 class="text-center mb-0">
                                アカウント登録後、ログインして表示されるページにある「不動産請求」をクリックする。
                            </h5>
                        </div>
                        <p class="text-center mt-3">
                            <img class="modal-image" src="{% static 'toukiApp/img/登記情報提供サービス２.png' %}" alt="登記情報提供サービス１の説明画像">
                        </p>
                    </li>
                    <hr>
                    <li class="mt-5">
                        <div class="fw-bold supplement border rounded-3 p-3 border-warning mx-auto">
                            <h5 class="text-center mb-0">
                                固定資産評価証明書に記載されている所在地のとおりに入力して「確定」をクリックする。
                            </h5>
                            <div class="d-flex mt-3">
                                <div>
                                    ※
                                </div>
                                <div>
                                    マンション（区分建物）の一室は「建物」を選択してください。
                                </div>
                            </div>
                            <div class="d-flex mt-3">
                                <div>
                                    ※
                                </div>
                                <div>
                                    マンション（区分建物）の敷地は取得する必要ありません。
                                </div>
                            </div>
                        </div>
                        <p class="text-center mt-3">
                            <img class="modal-image" src="{% static 'toukiApp/img/登記情報提供サービス３.png' %}" alt="登記情報提供サービス１の説明画像">
                        </p>
                    </li>
                    <hr>
                    <li class="mt-5">
                        <div class="fw-bold supplement border rounded-3 p-3 border-warning mx-auto">
                            <h5 class="text-center mb-0">
                                一覧表示に誤りがなければ全てにチェックをして「請求」をクリックする。
                            </h5>
                        </div>
                        <p class="text-center mt-3">
                            <img class="modal-image" src="{% static 'toukiApp/img/登記情報提供サービス４.png' %}" alt="登記情報提供サービス１の説明画像">
                        </p>
                    </li>
                    <hr>
                    <li class="mt-5">
                        <div class="fw-bold supplement border rounded-3 p-3 border-warning mx-auto">
                            <h5 class="text-center mb-0">
                                カード情報を入力して次へをクリックする（次へ以降は案内どおりに操作すると取得できます）。
                            </h5>
                        </div>
                        <p class="text-center mt-3">
                            <img class="modal-image" src="{% static 'toukiApp/img/登記情報提供サービス５.png' %}" alt="登記情報提供サービス１の説明画像">
                        </p>
                    </li>
                    <hr>
                    <li class="mt-5">
                        <div class="fw-bold supplement border rounded-3 p-3 border-warning mx-auto">
                            <h5 class="text-center mb-0">
                                取得できたら「マイページ」に一覧表示されますので、対象の不動産にチェックを入れて「表示・保存」をクリックするとPDFデータを取得できます。
                            </h5>
                        </div>
                        <p class="text-center mt-3">
                            <img class="modal-image" src="{% static 'toukiApp/img/登記情報提供サービス６.png' %}" alt="登記情報提供サービス１の説明画像">
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>