{% extends "account/base.html" %}
{% block title %} 無効なアカウント | {{ block.super }}{% endblock title %}
{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
<div class="container col-lg-9 mx-auto my-5">
    <h4 class="text-center">
        下記理由によりアカウントが無効の状態です。
    </h4>
    <div class="mt-5">
        <div>
            <p>
                <span  class="fw-bold fs-5 bg-warning-subtle rounded-3 p-1">
                    メールアドレスの認証が完了していない
                </span>
            </p>
            弊社からのメールに記載されたリンクをクリックしてメールアドレスの認証を完了させてください。
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}