<!DOCTYPE html>
<html lang="ja">
    <head>

        {% load static %}

        <title>
            {% block title %}
                そうぞくとうきくん
            {% endblock %}
        </title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        {% if DJANGO_SETTINGS_MODULE != "toukiAi.settings.production" %}
            <meta name="robots" content="noindex" />
        {% elif request.path == '/account/signup/' or request.path == '/account/login/' or request.path == '/account/password/reset/' %}
        {% elif not request.user.is_authenticated %}
            <meta name="robots" content="noindex" />
        {% endif %}

        {% if request.path == '/account/signup/' or request.path == '/account/login/' or request.path == '/account/password/reset/' %}
            <link rel="canonical" href="{{ canonical_url }}">
        {% endif %}

        {% block og %}
        {% endblock %}

        {% block twitter %}
        {% endblock %}

        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.jpg' %}">
        <link rel="icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5">

        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <link href="https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        {% load static %}
        <link rel="stylesheet" href="{% static 'base.css' %}">
        <link rel="stylesheet" href="{% static 'accounts/common.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        {% block stylesheet %}
        {% endblock %}
        
        <script src="{% static 'organization-structured-data.js' %}"></script>
        <script src="{% static 'website-structured-data.js' %}"></script>

        {% if DJANGO_SETTINGS_MODULE == "toukiAi.settings.production" %}
            <!-- Google tag (gtag.js) -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=G-XYE5E70T29"></script>
            <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-XYE5E70T29');
            </script>
        {% endif %}
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>

    <body>
        {% block header %}
        {% endblock %}

        <main id="main" class="navbar navbar-expand-md p-md-3">
            <div id="mainContainer" class="container-xxl flex-wrap flex-md-nowrap">
                {% block content %}
                {% endblock %}
            </div>
        </main>

        {% block footer %}
        {% endblock %}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <script src="{% static 'base.js' %}"></script>
        <script src="{% static 'accounts/common.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
        {% block js %}{% endblock %}
    </body>

</html>