{% extends "account/base.html" %}
{% block title %} メールアドレス認証 | {{ block.super}}{% endblock title %}
{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/email_confirm.css' %}">
    <link rel="stylesheet" href="{% static 'toukiApp/parts/condition_diagram.css' %}">
{% endblock %}
{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}

{% if confirmation %}
    <div class="col-lg-7 col-md-9 mx-auto my-5 px-2">
        <div class="card shadow">
            <div class="card-header bg-warning-subtle bg-gradient bg-opacity-50">
                <h1 class="fs-4 card-title text-center mb-0 p-3">
                    登録前に確認
                </h1>
            </div>
            <div class="card-body">
                <div class="mt-3 card-text">
                    <ol  class="list-group list-group-numbered fw-bold">
                        <li class="list-group-item">
                            登録完了後は
                            <a class="text-decoration-none" href="{% url 'toukiApp:terms' %}" target="_blank" rel="noopener noreferrer">
                                利用規約
                            </a>
                            が適用されます。
                            <div class="d-flex">
                                <div>
                                    ※
                                </div>
                                <div>
                                    利用規約は、一般的な内容で自動で利用料を発生させたり
                                    <span class="text-success">
                                        会員様が特別不利になるような項目はありません。
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            相続人判定の機能まで無料で利用できます。
                            <div class="d-flex">
                                <div>
                                    ※
                                </div>
                                <div>
                                    <button type="button" class="ps-1 text-primary fw-bold text-start" data-bs-toggle="modal" data-bs-target="#condition_diagram_modal">
                                        対応可能な相続関係の範囲。
                                    </button>
                                </div>
                            </div>
                            {% include "toukiApp/parts/condition_diagram.html" %}
                        </li>
                        <li class="list-group-item">
                            無料のアカウントは、登録から３ヶ月経過後、弊社の都合により削除されることがあります。
                        </li>
                        <li class="list-group-item">
                            システムの全機能を利用する、またはオプションを利用する場合は、登録後に表示されるページの上部にある「オプション」から選択できます。
                        </li>
                        <li class="list-group-item">
                            お問い合わせは、登録後に表示されるページ左側にある「お問い合わせ」からお願いします。
                        </li>
                    </ol>
                    <form method="post" class="mt-3" action="{% url 'accounts:account_confirm_email' confirmation.key %}">
                        {% csrf_token %}
                        <div class="text-center">
                            <button id="submitBtn" type="submit" class="btn btn-primary bg-gradient bg-opacity-50 fw-bold">
                                登録完了
                                <span id="submitSpinner" class="spinner-border spinner-border-sm text-warning" role="status" style="display: none;">
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="mx-auto my-5">
        <h4>
            リンクの無効になっています。<br>
        </h4>
        <p class="fw-bold text-center">
            <a class="p-2 fw-bold" href="{% url 'account_signup' %}">
                アカウント登録
            </a>
        </p>
    </div>
{% endif %}

{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}

{% block js %}
    {% load static %}
    <script src="{% static 'toukiApp/parts/condition_diagram.js' %}"></script>
    <script src="{% static 'accounts/email_confirm.js' %}"></script>
{% endblock %}