{% extends "account/base.html" %}

{% block title %}
    {{ title }} | {{ block.super}}
{% endblock title %}

{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/option_select.css' %}">
    <link rel="stylesheet" href="{% static 'toukiApp/parts/messages.css' %}">
{% endblock %}

{% block header %}
    {% include "toukiApp/step_header.html" %}
{% endblock %}

{% block content %}

{% include "toukiApp/parts/step_messages.html" %}

<div class="mx-auto col-8 col-sm-9 col-md-7 col-lg-6 mt-3">
    <h4 class="text-center mb-0">
        オプション選択
        <br>
        （令和６年６月末までの限定価格です）
    </h4>
    <hr>
    <div>
        <h5 class="text-center fw-bold">
            お支払い方法について
        </h5>
        <p class="text-center fw-bold">
            <span class="text-danger">
                現在、銀行振込のみの受付となっております。
            </span>
        </p>
        <div class="fw-bold">
            <div class="d-flex">
                <div>
                    ※
                </div>
                <div>
                    <span class="border-bottom border-dark">
                    振込内容を確認できる画像を弊社にメール
                    </span>
                    いただくと弊社に着金する前（土日祝日を含む）でもお申し込みされたオプションを利用できるようになります。
                    <div>
                        ただし、振込日の翌銀行営業日中に入金を確認できない場合、アカウントを一時凍結させていただきます。
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div {% if paid_option_and_amount.option2 %}style="display: none"{% endif %}>
        <h5 class="text-center">
            利用を希望するオプションに☑してください
        </h5>
        <ul class="ps-0 mt-3 fw-bold">
            <li class="d-flex">
                <div>
                    ※
                </div>
                <div>
                    お支払いが完了するまではオプションを変更することができます。
                </div>
            </li>
            <li class="d-flex">
                <div>
                    ※
                </div>
                <div>
                    お申し込みから１週間以内にお支払いが完了しない場合はキャンセルされたものとします。       
                </div>
            </li>
        </ul>
    </div>
    <form class="mt-3" action="{% url 'accounts:option_select' %}" method="POST" novalidate>
        {% csrf_token %}
        <section id="basic-section" class="card shadow mt-3" {% if paid_option_and_amount.basic or paid_option_and_amount.option2 %}style="display: none"{% endif %}>
            <div class="card-header p-3 bg-primary-subtle bg-gradient bg-opacity-50">
                <div class="card-title text-center mb-0 d-flex justify-content-center align-items-center">
                    <div>
                        {{form.basic}}
                    </div>
                    <div class="ms-3">
                        <label class="fs-5 fw-bold" for="{{ form.basic.id_for_label }}">
                            {{service.BASIC_NAME}}
                            <span class="ms-3">
                                {{service.CAMPAIGN_BASIC_PRICE_STR}}（税込）
                            </span>
                        </label>
                    </div>
                </div>
                <div class="supplement text-center mt-3" style="display: none;">
                    <button type="button" class="fw-bold text-primary">
                        ページ下部に表示された項目の入力をお願いします。
                    </button>
                </div>
            </div>
            <div class="card-body px-5">
                <div>
                    <span class="fw-bold">
                        相続人判定（１．基本データ入力）以外の機能も使用することができるようになります。
                    </span>
                    <ul>
                        <li>
                            <span class="fw-bold">
                                １．基本データ入力
                            </span>
                            <div class="d-flex">
                                <div>
                                    作業内容：
                                </div>
                                <div>
                                    <span class="border-bottom border-dark">
                                        相続人を判定するためのデータ入力
                                    </span>
                                    <br>
                                    ※無料版で入力されたデータが引き継がれます
                                </div>
                            </div>
                        </li>
                        <li>
                            <span class="fw-bold">
                                ２．必要書類一覧
                            </span>
                            <div class="d-flex">
                                <div>
                                    作業内容：
                                </div>
                                <div>
                                    <span class="border-bottom border-dark">
                                        必要書類一覧をもとに役所などで書類を取得
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span class="fw-bold">
                                ３．詳細データ入力
                            </span>
                            <div class="d-flex">
                                <div>
                                    作業内容：
                                </div>
                                <div>
                                    <span class="border-bottom border-dark">
                                        申請書類を作成するためのデータ入力
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span class="fw-bold">
                                ４．書類の印刷
                            </span>
                            <div class="d-flex">
                                <div>
                                    作業内容：
                                </div>
                                <div>
                                    <span class="border-bottom border-dark">
                                        作成された書類の印刷、各相続人への配布、署名押印など
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span class="fw-bold">
                                ５．法務局に申請
                            </span>
                            <div class="d-flex">
                                <div>
                                    作業内容：
                                </div>
                                <div>
                                    <span class="border-bottom border-dark">
                                        案内に従って書類を整理して法務局へ郵送
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span class="fw-bold">
                                ６．申請後について
                            </span>
                            <div class="d-flex">
                                <div>
                                    作業内容：
                                </div>
                                <div>
                                    <span class="border-bottom border-dark">
                                        書類に不備があった場合の対応など
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="fw-bold text-center">
                            ※随時お問い合わせを利用できます。
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="option1-section" class="card shadow" {% if paid_option_and_amount.option1 or paid_option_and_amount.option2 %}style="display: none"{% endif %}>
            <div class="card-header p-3 bg-success-subtle bg-gradient bg-opacity-50">
                <div class="card-title text-center mb-0 d-flex justify-content-center align-items-center">
                    <div>
                        {{form.option1}}
                    </div>
                    <div class="ms-3">
                        <label class="fs-5 fw-bold" for="{{ form.option1.id_for_label }}">
                            {{service.OPTION1_NAME}}
                            <span class="ms-3">
                                {{service.CAMPAIGN_OPTION1_PRICE_STR}}（税込）
                            </span>
                        </label>
                    </div>
                </div>
                <div class="supplement text-center mt-3" style="display: none;">
                    <button type="button" class="fw-bold text-primary">
                        ページ下部に表示された項目の入力をお願いします。
                    </button>
                </div>
            </div>
            <div class="card-body px-5">
                <div>
                    <p>
                        <span class="fw-bold">
                            被相続人の出生から死亡までの戸籍謄本の取得を代行します。
                        </span>
                    </p>
                    <p>
                        役所で全て取得できず次どこに請求すればわからない場合やお時間がない場合におすすめです。
                    </p>
                    <div>
                        <div class="d-flex">
                            <div class="fw-bold">
                                ※
                            </div>
                            <div>
                                被相続人に関して必要な書類は出生から死亡前の戸籍謄本以外にもあります
                                <button type="button" class="fw-bold text-primary" data-bs-toggle="modal" data-bs-target="#decedent-certification-list-modal">
                                    （被相続人に関する必要書類一覧はこちら）
                                </button>    
                                。
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="fw-bold">
                                ※
                            </div>
                            <div>
                                <span class="border-bottom border-dark">
                                    配偶者、直系卑属（子、孫...）、直系尊属（父母、祖父母...）に該当する相続人の方は、
                                </span>
                                ご自身の最寄りの役所で全て取得できることが多いです。
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="fw-bold">
                                ※
                            </div>
                            <div>
                                システムも利用されている場合に、弊社で取得した書類の情報をシステムに入力して反映させることはできません。
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="decedent-certification-list-modal" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header bg-warning-subtle">
                                    <h1 class="modal-title fs-5">お亡くなりになった方に関する必要書類一覧</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <ul class="pe-3 pb-3">
                                        <li>
                                            <span class="border-bottom border-dark px-3">
                                                出生から死亡までの戸籍謄本
                                                <span class="fw-bold">
                                                    （取得代行対象）
                                                </span>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="border-bottom border-dark px-3">
                                                死亡時の住所を証する住民票の除票など
                                            </span>
                                            <div class="d-flex">
                                                <div>
                                                    ※
                                                </div>
                                                <div>
                                                    死亡時の住所が登記記録上の住所と異なるとき登記記録上の住所までの履歴がわかるものも必要です。
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="border-bottom border-dark px-3">
                                                所有する不動産の評価額を確認できるもの
                                            </span>
                                        </li>
                                        <li>
                                            <span class="border-bottom border-dark px-3">
                                                所有する不動産の登記記録を確認できるもの
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="option2-section" class="card shadow" {% if paid_option_and_amount.option2 %}style="display: none"{% endif %}>
            <div class="card-header p-3 bg-warning-subtle bg-gradient bg-opacity-50">
                <div class="card-title text-center mb-0 d-flex justify-content-center align-items-center">
                    <div>
                        {{form.option2}}
                    </div>
                    <div class="ms-3">
                        <label class="fs-5 fw-bold" for="{{ form.option2.id_for_label }}">
                            {{service.OPTION2_NAME}}
                            <span class="ms-3">
                                {{service.CAMPAIGN_OPTION2_PRICE_STR}}（税込）
                            </span>
                        </label>
                    </div>
                </div>
                <div class="supplement text-center mt-3" style="display: none;">
                    <button type="button" class="fw-bold text-primary">
                        ページ下部に表示された項目の入力をお願いします。
                    </button>
                </div>
            </div>
            <div class="card-body px-5">
                <div>
                    <p>
                        <span class="fw-bold">
                            福岡県内の提携の司法書士が代理で登記手続きを行います。
                        </span>
                    </p>
                    <p>
                        システムや戸籍謄本の取得代行を利用中にこちらに切り替える場合、
                        <span class="border-bottom border-dark">
                            差額のみのお支払い
                        </span>
                        でご利用できます。
                    </p>
                    <div class="d-flex">
                        <div>
                            ※
                        </div>
                        <div>
                            不動産を取得する方からのご依頼のみ受け付けてます。
                        </div>
                    </div>
                    <div class="d-flex">
                        <div>
                            ※
                        </div>
                        <div>
                            遠方の方でも郵送でやり取りできます。
                        </div>
                    </div>
                    <div class="d-flex">
                        <div>
                            ※
                        </div>
                        <div>
                            対面での相談をご希望の場合、原則web面談での対応となります（弊社または司法書士から届くメールに記載されたURLをクリックするだけで開始できます）。
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="charge-section" class="card shadow">
            <div class="card-header p-3 bg-danger-subtle bg-gradient bg-opacity-50">
                <h5 class="card-title text-center mb-0">
                    {{form.charge.label}}
                </h5>
            </div>
            <div class="card-body px-5">
                <ul>
                    <li class="no-option fw-bold text-center">
                        オプションが選択されてません
                    </li>
                    <li class="d-flex justify-content-center">
                        <ul class="option-detail-wrapper">
                            <li style="display: none;">
                                <div class="d-flex">
                                    <div class="price">
                                        {{service.CAMPAIGN_BASIC_PRICE_STR}}
                                    </div>
                                    <div class="ms-3">
                                        {{service.BASIC_NAME}}
                                    </div>
                                </div>
                            </li>
                            <li style="display: none;">
                                <div class="d-flex">
                                    <div class="price">
                                        {{service.CAMPAIGN_OPTION1_PRICE_STR}}
                                    </div>
                                    <div class="ms-3">
                                        {{service.OPTION1_NAME}}
                                    </div>
                                </div>
                            </li>
                            <li style="display: none;">
                                <div class="d-flex">
                                    <div class="price">
                                        {{service.CAMPAIGN_OPTION2_PRICE_STR}}
                                    </div>
                                    <div class="ms-3">
                                        {{service.OPTION2_NAME}}
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <hr>
                    <li class="fw-bold text-center d-flex justify-content-center">
                        <div>
                            {{form.charge}}
                        </div>
                        <div class="d-flex align-items-center ms-3">
                            <span>
                                円（税込）
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section id="form-section" class="card shadow">
            <div class="card-header p-3 bg-secondary-subtle bg-gradient bg-opacity-50">
                <h5 class="card-title text-center mb-0">
                    入力事項
                </h5>
            </div>
            <div class="card-body px-5">
                <div id="form-errors" class="fw-bold bg-danger-subtle border rounded-3 p-3 mt-4" {% if form.errors %}style="display: block"{% else %}style="display: none"{% endif %}>
                    {% for field in form %}
                        {% if forloop.first and form.non_field_errors or field.errors %}
                            <ul>
                                {% if forloop.first %}
                                    {% if form.non_field_errors %}
                                        <li>
                                            入力欄のエラー
                                        </li>
                                        {% for error in form.non_field_errors %}
                                            <li class="ms-3">
                                                {{ error }}
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                                {% if field.errors %}
                                    <li>
                                        {{field.label}}
                                    </li>
                                    {% for error in field.errors %}
                                        <li class="ms-3">
                                            {{error}}
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>
                <fieldset class="mt-3" style="display: none;">
                    {% for field in form %}
                        {% if field.name == "basic" or field.name == "option1" or field.name == "option2" or field.name == "charge" %}
                        {% else %}
                            <div class="input-group Q">
                                <label class="input-group-text label" for="{{ field.auto_id }}">
                                    {{ field.label }}
                                </label>
                                {{ field }}
                                <span id="{{ field.auto_id}}_messageEl" class="errorMessage emPosition" style="display: none;">
                                </span>
                            </div>
                        {% endif %}
                    {% endfor %}
                </fieldset>
                <div class="mt-3 d-flex justify-content-between">
                    <p class="mt-3 text-center">
                        <button id="returnBtn" type="button" class="btn btn-secondary p-2 fw-bold bg-gradient bg-opacity-50 border-0 shadow">
                            元のページに戻る
                            <span id="return-spinner" class="spinner-border spinner-border-sm text-warning" role="status" style="display: none;">
                            </span>
                        </button>
                    </p>
                    <p class="mt-3 text-center">
                        <button id="submitBtn" disabled type="submit" class="px-4 btn btn-primary p-2 fw-bold bg-gradient bg-opacity-50 border-0 shadow">
                            申し込む
                            <span id="submitSpinner" class="spinner-border spinner-border-sm text-warning" role="status" style="display: none;">
                            </span>
                        </button>
                    </p>
                </div>
            </div>
        </section>
    </form>
</div>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}

{% block js %}
    {% load static %}
    <script src="{% static 'toukiApp/parts/messages.js' %}"></script>
    <script src="{% static 'accounts/option_select.js' %}"></script>
    <script> const paid = "{{paid|escapejs}}"; </script>
{% endblock %}