{% extends "base.html" %}

{% block title %}
    {{ title }} | {{ block.super }}
{% endblock title %}

{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/option_select.css' %}">
    <link rel="stylesheet" href="{% static 'toukiApp/parts/messages.css' %}">
{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}

{% include "toukiApp/parts/step_messages.html" %}
{% include "account/parts/modals/condition.html" %}

<div class="mx-auto  col-md-11 col-lg-9 col-xl-8 mt-3 px-3">
    <h1 class="fs-4 text-center mb-0">
        オプション選択
    </h1>
    <hr>
    <div {% if paid_option_and_amount.option2 %}style="display: none"{% endif %}>
        <h5 class="text-center">
            ご希望のオプションに☑してください
        </h5>
    </div>
    <form class="mt-3" action="{% url 'accounts:option_select' %}" method="POST" novalidate>
        {% csrf_token %}
        <section id="basic-section" class="card shadow mt-3" {% if paid_option_and_amount.basic or paid_option_and_amount.option2 %}style="display: none"{% endif %}>
            <div class="card-header p-3 bg-primary-subtle bg-gradient bg-opacity-50">
                <div class="card-title text-center mb-0 d-sm-flex justify-content-center align-items-center">
                    <div>
                        {{form.basic}}
                    </div>
                    <div class="ms-sm-3">
                        <label class="fs-5 fw-bold" for="{{ form.basic.id_for_label }}">
                            {{service.BASIC_NAME}}
                            <span class="ms-sm-3">
                                {{service.CAMPAIGN_BASIC_PRICE_STR}}(税込)
                            </span>
                        </label>
                    </div>
                </div>
                <div class="supplement text-center mt-3" style="display: none;">
                    <button type="button" class="fw-bold text-primary">
                        ページ下部の申込情報の入力をお願いします。
                    </button>
                </div>
            </div>
            <div class="card-body px-sm-5">
                <div>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary p-2 fw-bold bg-gradient bg-opacity-50 border-0 shadow" data-bs-toggle="modal" data-bs-target="#condition_modal">
                            利用条件
                        </button>
                    </div>
                    <h5 class="text-center mt-3">
                        以下の機能を使用できます。
                    </h5>
                    <div class="d-flex justify-content-center">
                        <ul>
                            <li>
                                <span class="fw-bold">
                                    1 基本データ入力
                                </span>
                                <div class="d-flex">
                                    <div>
                                        機能：
                                    </div>
                                    <div>
                                        相続人を判定
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div>
                                        作業：
                                    </div>
                                    <div>
                                        データ入力
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span class="fw-bold">
                                    2 必要書類一覧
                                </span>
                                <div class="d-flex">
                                    <div>
                                        機能：
                                    </div>
                                    <div>
                                        必要書類一覧を表示
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div>
                                        作業：
                                    </div>
                                    <div>
                                        役所などで書類を収集
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span class="fw-bold">
                                    3 詳細データ入力
                                </span>
                                <div class="d-flex">
                                    <div>
                                        機能：
                                    </div>
                                    <div>
                                        申請データを登録
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div>
                                        作業：
                                    </div>
                                    <div>
                                        データ入力
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span class="fw-bold">
                                    4 書類の印刷
                                </span>
                                <div class="d-flex">
                                    <div>
                                        機能：
                                    </div>
                                    <div>
                                        書類を生成
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div>
                                        作業：
                                    </div>
                                    <div>
                                        書類の印刷、各相続人へ配布、署名押印など
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span class="fw-bold">
                                    5 法務局に書類を提出
                                </span>
                                <div class="d-flex">
                                    <div>
                                        機能：
                                    </div>
                                    <div>
                                        提出方法を表示
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div>
                                        作業：
                                    </div>
                                    <div>
                                        書類の整理と法務局に提出
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span class="fw-bold">
                                    6 申請後について
                                </span>
                                <div class="d-flex">
                                    <div>
                                        機能：
                                    </div>
                                    <div>
                                        書類に不備があったときの対応方法を表示
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div>
                                        作業：
                                    </div>
                                    <div>
                                        書類に不備があった場合は、表示された対応方法に従って訂正
                                    </div>
                                </div>
                            </li>
                            <li class="fw-bold text-center">
                                随時お問い合わせいただけます。
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id="option1-section" class="card shadow" {% if paid_option_and_amount.option1 or paid_option_and_amount.option2 %}style="display: none"{% endif %}>
            <div class="card-header p-3 bg-success-subtle bg-gradient bg-opacity-50">
                <div class="card-title text-center mb-0 d-sm-flex justify-content-center align-items-center">
                    <div>
                        {{form.option1}}
                    </div>
                    <div class="ms-sm-3">
                        <label class="fs-5 fw-bold" for="{{ form.option1.id_for_label }}">
                            {{service.OPTION1_NAME}}
                            <span class="ms-sm-3">
                                {{service.CAMPAIGN_OPTION1_PRICE_STR}}(実費・税込)
                            </span>
                        </label>
                    </div>
                </div>
                <div class="supplement text-center mt-3" style="display: none;">
                    <button type="button" class="fw-bold text-primary">
                        ページ下部の申込情報の入力をお願いします。
                    </button>
                </div>
            </div>
            <div class="card-body px-sm-5">
                <div>
                    <h5 class="text-center">
                        亡くなった方に関する必要書類の取得を代行します。
                    </h5>
                    <div class="mt-3 d-flex justify-content-center">
                        <div>
                            <ul class="ps-sm-5 ps-3">
                                <li>
                                    ・出生から死亡までの戸籍謄本
                                </li>
                                <li>
                                    ・死亡時から登記簿上の住所までの履歴を証する書類
                                </li>
                                <li>
                                    ・固定資産評価証明書
                                </li>
                                <li>
                                    ・登記情報
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ul class="ps-0 mb-0">
                        <li class="d-flex">
                            <div>
                                ※
                            </div>
                            <div>
                                取得する書類が15通を超える場合、超過1通ごとに1,500円(実費込)が加算されます。
                            </div>
                        </li>
                        <li class="d-flex mt-0">
                            <div>
                                ※
                            </div>
                            <div>
                                システムもご利用いただいている場合に、弊社の方で書類の情報をシステムに入力したり、ご入力内容をチェックすることはできません。
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="option2-section" class="card shadow" {% if paid_option_and_amount.option2 %}style="display: none"{% endif %}>
            <div class="card-header p-3 bg-warning-subtle bg-gradient bg-opacity-50">
                <div class="card-title text-center mb-0 d-sm-flex justify-content-center align-items-center">
                    <div>
                        {{form.option2}}
                    </div>
                    <div class="ms-sm-3">
                        <label class="fs-5 fw-bold" for="{{ form.option2.id_for_label }}">
                            {{service.OPTION2_NAME}}
                            <span class="ms-sm-3">
                                {{service.CAMPAIGN_OPTION2_PRICE_STR}}(税込)
                            </span>
                        </label>
                    </div>
                </div>
                <div class="supplement text-center mt-3" style="display: none;">
                    <button type="button" class="fw-bold text-primary">
                        ページ下部の申込情報の入力をお願いします。
                    </button>
                </div>
            </div>
            <div class="card-body px-sm-5">
                <div>
                    <h5 class="text-center">
                        提携の司法書士が代理で登記手続きを行います。
                    </h5>
                    <p class="mt-3 text-indent">
                        システムや戸籍謄本の取得代行をご利用中にこちらに切り替える場合、
                        <span class="border-bottom border-dark">
                            すでにお支払いいただいている金額との差額のみのお支払い
                        </span>
                        でご利用できます。
                    </p>
                    <p class="text-indent">
                        実費は登記手続前に担当の司法書士に直接お支払いいただきます。
                    </p>
                    <ul>
                        <li class="d-flex">
                            <div>
                                ※
                            </div>
                            <div>
                                実費の金額を事前に確認されたい場合は、
                                <a class="fw-bold text-primary" href="mailto:{{ company_data.MAIL_ADDRESS|urlencode }}?subject=相続登記にかかる実費の見積もりについて&body=※毎年4月ごろに役所から届く固定資産納税通知書の不動産が列挙されているページの画像を添付してください%0D%0A%0D%0Aアカウント：{{ user_email|urlencode }}%0D%0A%0D%0A相続登記にかかる実費の見積もりをお願いします。">
                                    お問い合わせ
                                </a>
                                をお願いします。
                            </div>
                        </li>
                        <li class="d-flex">
                            <div>
                                ※
                            </div>
                            <div>
                                全国どちらからでも対応可能です。
                                <br>
                                対面の必要はありません。
                            </div>
                        </li>
                        <li class="d-flex mt-0">
                            <div>
                                ※
                            </div>
                            <div>
                                どの司法書士が受任するか事前にお問い合わせいただくことも可能です。
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="charge-section" class="card shadow">
            <div class="card-header p-3 bg-danger-subtle bg-gradient bg-opacity-50">
                <h5 class="fw-bold card-title text-center mb-0">
                    {{form.charge.label}}（税込）
                </h5>
            </div>
            <div class="card-body px-sm-5">
                <ul>
                    <li class="no-option fw-bold text-center">
                        オプションが選択されてません
                    </li>
                    <li class="d-flex justify-content-center">
                        <ul class="option-detail-wrapper">
                            <li style="display: none;">
                                <div class="d-sm-flex">
                                    <div class="fw-bold">
                                        {{service.BASIC_NAME}}
                                    </div>
                                    <div class="ms-3 price">
                                        {{service.CAMPAIGN_BASIC_PRICE_STR}}
                                    </div>
                                </div>
                            </li>
                            <li style="display: none;">
                                <div class="d-sm-flex">
                                    <div class="fw-bold">
                                        {{service.OPTION1_NAME}}
                                    </div>
                                    <div class="ms-3 price">
                                        {{service.CAMPAIGN_OPTION1_PRICE_STR}}
                                    </div>
                                </div>
                            </li>
                            <li style="display: none;">
                                <div class="d-sm-flex">
                                    <div class="fw-bold">
                                        {{service.OPTION2_NAME}}
                                    </div>
                                    <div class="ms-3 price">
                                        {{service.CAMPAIGN_OPTION2_PRICE_STR}}
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <hr>
                    <li class="fw-bold text-center d-flex justify-content-center">
                        <div>
                            {{form.charge}}
                        </div>
                        <div class="d-flex align-items-center ms-3">
                            <span>
                                円
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <hr>
        <div>
            <h5 class="text-center">
                お支払い方法
            </h5>
            <p class="text-center fw-bold">
                <span class="text-success">
                    銀行振込またはクレジットカード
                </span>
            </p>
            <div class="fw-bold">
                <div class="text-indent">
                    <span class="text-danger">
                        銀行振込の場合
                    </span>
                    <span class="border-bottom border-dark">
                        振込内容を確認できる画像を弊社にメール
                    </span>
                    いただくと弊社に着金する前（土日祝日を含む）でもお申し込みいただいたオプションを利用できるようになります。
                </div>
                <div class="d-flex mt-3">
                    <div>
                        ※
                    </div>
                    <div>
                        振込日の翌銀行営業日中に入金を確認できない場合、アカウントを一時凍結させていただきます。
                    </div>
                </div>
            </div>
        </div>
        <section id="form-section" class="card shadow">
            <div class="card-header p-3 bg-secondary-subtle bg-gradient bg-opacity-50">
                <h5 class="fw-bold card-title text-center mb-0">
                    申込情報
                </h5>
            </div>
            <div class="card-body px-2 px-sm-5">
                {% include "toukiApp/parts/form_error.html" %}
                <fieldset class="mt-3" style="display: none;">
                    {% for field in form %}
                        {% if field.name == "basic" or field.name == "option1" or field.name == "option2" or field.name == "charge" %}
                        {% elif field.name == "is_card" %}
                            <div class="input-group position-relative Q">
                                <label for="{{field.auto_id}}_0" class="input-group-text label">
                                    {{ field.label }}
                                </label>
                                <div class="form-control input-group justify-content-evenly">
                                    {% for choice in field %}
                                        <div class="form-check">
                                            {% if forloop.counter == 1 %}
                                                <label class="form-check-label d-inline">
                                            {% else %}
                                                <label class="form-check-label d-inline">
                                            {% endif %}
                                                {{ choice.tag }}{{ choice.choice_label }}
                                                </label>
                                        </div>
                                    {% endfor %}
                                </div>
                                <span class="errorMessage emPosition rounded-3" style="display: none;">
                                </span>
                            </div>
                        {% else %}
                            <div class="input-group Q{% if field.name == "card_number" %} card-info-start{% elif field.name == "payer" %} payer{% endif %}">
                                <label class="input-group-text label" for="{{ field.auto_id }}">
                                    {{ field.label }}
                                </label>
                                {{ field }}
                                <span class="errorMessage emPosition" style="display: none;">
                                </span>
                            </div>
                        {% endif %}
                    {% endfor %}
                </fieldset>
                <p class="mt-5 text-center">
                    <button id="submitBtn" disabled type="submit" class="px-4 btn btn-primary p-2 fw-bold bg-gradient bg-opacity-50 border-0 shadow">
                        申し込む
                        <span id="submitSpinner" class="spinner-border spinner-border-sm text-warning" role="status" style="display: none;">
                        </span>
                    </button>
                </p>
                <p class="stand-by-message">
                    決済中です。
                    <br>
                    そのまま少々お待ちください...
                    <br>
                    (15秒ほどかかります)
                </p>
            </div>
        </section>
    </form>
</div>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}

{% block js %}
    {% load static %}
    <script> const fincodePublicKey = "{{fincode_public_key|escapejs}}"; </script>
    <script> const paid = "{{paid|escapejs}}"; </script>
    <script> const companyMailAddress = "{{company_mail_address|escapejs}}"; </script>
    <script src="{% static 'session.js' %}"></script>
    <script src="{% static 'toukiApp/parts/messages.js' %}"></script>
    <script src="{% static 'toukiApp/step_header.js' %}"></script>
    {% if DJANGO_SETTINGS_MODULE == "toukiAi.settings.production" %}
        <script src="https://js.fincode.jp/v1/fincode.js"></script>
    {% else %}
        <script src="https://js.test.fincode.jp/v1/fincode.js"></script>
    {% endif %}
    <script src="{% static 'accounts/option_select.js' %}"></script>
{% endblock %}