
{% extends "account/base.html" %}
{% block title %} パスワード再設定リンク送信完了| {{ block.super}}{% endblock title %}

{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/password_reset_done.css' %}">
{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
<section class="mx-auto my-4 px-2">
    <div>
        <div>
            <h1 class="fs-4 text-center">
                パスワードを再設定するリンクを送信しました
            </h1>
        </div>
        <hr>
        <div class="mt-5">
            <p>
                <span class="fw-bold bg-warning-subtle rounded-3 p-1">
                    ※数分経っても受信フォルダに届いていない場合
                </span><br>
            </p>
            <p class="ps-3">
                迷惑フォルダにもない場合は、下記にメールアドレスを再度入力してください。
            </p>
            <form method="POST" action="{% url 'account_reset_password' %}" class="text-center mt-3">
                {% csrf_token %}
                <p class="input-group mt-3">
                    <label class="input-group-text label" for="id_email">
                        メールアドレス
                    </label>
                    <input type="email" name="email" maxlength="254" class="form-control rounded-end" autocomplete="on" placeholder="登録したメールアドレス" required="true" id="id_email">
                    <span id="id_email_messageEl" class="errorMessage emPosition rounded-3" style="display: none;">
                    </span>
                </p>
                <p>
                    <button id="submitBtn" type="submit" class="btn btn-primary p-2 fw-bold bg-gradient bg-opacity-50 border-0 shadow" >
                        再発行する
                        <span id="submitSpinner" class="spinner-border spinner-border-sm text-warning" role="status" style="display: none;">
                        </span>
                    </button>
                </p>
            </form>
            <div id="resentMessage" class="fw-bold bg-success-subtle rounded-3 text-success text-center my-4" style="display: none;">
                ※メールを再発行しました※
            </div>
            <p class="form-text">
                ※再発行されたメールも届かない場合、登録されていないメールアドレス又は入力されたメールアドレスに誤りがあった可能性があります。
            </p>
        </div>
        <hr class="my-5">
    </div>
    <div class="mt-5">
        <a href="{% url 'toukiApp:index' %}">
            トップページに戻る
        </a>
    </div>
</section>
{% endblock%}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}

{% block js %}
    {% load static %}
    <script src="{% static 'accounts/password_reset_done.js' %}"></script>
{% endblock %}