
{% extends "account/base.html" %}
{% block title %} パスワードの変更完了| {{ block.super}}{% endblock title %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
<section class="mx-auto my-4">
    <div>
        <div>
            <h4 class="text-center">
                パスワードの変更が完了しました
            </h4>
        </div>
        <hr class="mb-5">
        <div>
            <span class="fw-bold me-3">
                作業を再開する場合
            </span>
            <a class="btn btn-primary" href="{% url 'account_login' %}" autofocus="true" tabindex="1">
                ログインページへ
            </a>
        </div>
        
    </div>
    <hr class="mt-5">
    <div class="text-center">
        <!-- <a class="btn btn-outline-primary fw-bold" href="{% url 'toukiApp:index' %}" tabindex="2">
            トップページへ
        </a> -->
    </div>
</section>
{% endblock%}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}