{% extends "account/base.html" %}
{% block title %} パスワードの再設定申請 | {{ block.super}}{% endblock title %}
{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/password_reset.css' %}">
    <link rel="stylesheet" href="{% static 'toukiApp/parts/messages.css' %}">
{% endblock %}
{% block header %}
    {% include "header.html" %}
{% endblock %}

{% include "toukiApp/parts/step_messages.html" %}

{% block content %}
<div class="mx-auto col-sm-10 col-md-8 col-lg-6 my-3">
    <div class="card shadow">
        <div class="card-header p-3 bg-warning-subtle bg-gradient bg-opacity-50">
            <h4 class="card-title text-center mb-0">
                パスワードの再設定
            </h4>
        </div>
        <div class="card-body px-md-5">
            <div class="form-text text-center">
                <span>パスワードを再設定するためのURLをご登録されたメールアドレス宛てにお送りします。</span>
            </div>
            <form method="POST" novalidate>
                {% csrf_token %}
                {% for field in form %}
                    <div class="input-group mt-3">
                        <label class="input-group-text label" for="{{ field.auto_id }}">
                            {{ field.label }}
                        </label>
                        {{ field }}
                        <span id="{{ field.auto_id}}_messageEl" class="errorMessage emPosition rounded-3" style="display: none;">
                        </span>
                    </div>
                {% endfor %}
                {% if form.errors %}
                    <div class="fw-bold bg-danger-subtle border rounded-3 p-3 mt-3">
                        {% for field, errors in form.errors.items %}
                            <div>
                                {% if field == "__all__" %}
                                    <div>アカウントデータに関するエラー</div>
                                {% elif field == "email" %}
                                    <div>メールアドレスのエラー</div>
                                {% endif %}
                                <ul>
                                    {% for error in errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <p class="mt-3 text-center">
                    <input type="hidden" name="next" value="{{next}}">
                    <button id="submitBtn" type="submit" class="btn btn-primary p-2 fw-bold bg-gradient bg-opacity-50 border-0 shadow" >
                        再設定する
                        <span id="submitSpinner" class="spinner-border spinner-border-sm text-warning" role="status" style="display: none;">
                        </span>
                    </button>
                </p>
                <p class="text-center">
                    <span class="border-bottom border-dark">
                        メールアドレスもお忘れになった場合
                    </span>
                    <br>
                    <span class="fw-bold">
                        {{ company_email_address }}
                    </span>
                    <br>
                    までメールをお願いします。
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}

{% block js %}
    {% load static %}
    <script src="{% static 'accounts/password_reset.js' %}"></script>
    <script src="{% static 'toukiApp/parts/messages.js' %}"></script>
{% endblock %}