
{% extends "account/base.html" %}
{% block title %} パスワードの変更が完了しました| {{ block.super}}{% endblock title %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
<section class="mx-auto my-4">
    <div>
        <div>
            <h4 class="text-center text-success">
                パスワードの変更が完了しました
            </h4>
        </div>
        <hr class="mb-5">
        <div class="d-flex justify-content-between">
            <div class="text-center">
                <a class="btn btn-outline-primary bg-gradient bg-opacity-50 fw-bold" href="{% url 'toukiApp:index' %}">
                    トップページへ
                </a>
            </div>
            <div>
                <a class="btn btn-primary bg-gradient bg-opacity-50 fw-bold" href="{% url 'account_login' %}" autofocus="true">
                    ログインページへ
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock%}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}