{% extends "base.html" %}
{% block title %} アカウント登録 | {{ block.super}}{% endblock title %}
{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/signup.css' %}">
{% endblock %}
{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
<div class="mx-auto col-12 col-sm-9 col-md-7 col-lg-6">
    <div class="card shadow">
        <div class="card-body px-5">
            <h4 class="card-title text-center border-bottom">アカウント登録フォーム</h4>
            <p class="fw-bold text-center mt-3">
                ご検討いただきありがとうございます！<br>
                無料のサービスなので、ぜひお試しください！
            </p>
            <form class="mt-4" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <fieldset>
                        {% if field.html_name == "password1" %}
                            <div class="input-group position-relative mt-3">
                        {% else %}
                            <div class="input-group">
                        {% endif %}

                            <label class="input-group-text label" for="{{ field.auto_id }}">
                                {{ field.label }}
                            </label>
                            {{ field }}
                            {% if field.html_name == "password1" %}
                                <button type="button" id="passDisplayToggle" class="position-absolute bg-white border-0" tabindex="-1">
                                    <svg id="eye" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" style="display: block;" viewBox="0 0 16 16">
                                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                    </svg>
                                    <svg id="eyeSlash" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" style="display: none;" viewBox="0 0 16 16">
                                        <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
                                        <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
                                        <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"/>
                                    </svg>
                                </button>
                            {% endif %}
                            <span id="{{field.auto_id}}_message" class="errorMessage emPosition rounded-3" style="display: none;">
                            </span>
                        </div>
                    {% if field.html_name == "password2" %}
                        </fieldset>
                    {% endif %}
                {% endfor %}
                {% if form.errors %}
                    <hr>
                    <div class="pt-3 ps-3 fw-bold">
                        {% for field, errors in form.errors.items %}
                            <div class="border rounded-3">
                                {% if field == "__all__" %}
                                    <div>フォーム全体のエラー</div>
                                {% else %}
                                    <div>{{ field }}のエラー</div>
                                {% endif %}
                                <ul>
                                    {% for error in errors %}
                                    <li class="text-danger">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="my-4 d-flex">
                    <div>
                        ※
                    </div>
                    <div>
                        アカウント登録ボタンを押していただいた後、
                        <span class="fw-bold border-bottom border-dark">
                            <span class="bg-warning-subtle">
                                t.saga@yahoo.ne.jp
                            </span>
                            から会員様専用ページのリンク
                        </span>
                        をお送りしますので受信の確認をお願いします。
                    </div>
                </div>
                <div class="text-center">
                    <input id="signupBtn" class="btn btn-primary" type="submit" value="アカウント登録" tabindex="100">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}

{% block js %}
    {% load static %}
    <script src="{% static 'accounts/signup.js' %}"></script>
{% endblock %}