@media (max-width: 575px){
    #accountLink .signupBtn{
        display: none!important;
    }
    #menuList .signupBtn{
        display: initial!important;
    }
}

@media (min-width: 576px){
    #accountLink .signupBtn{
        display: initial!important;
    }
    #menuList .signupBtn{
        display: none!important;
    }
}

@media (max-width: 991px){
    #menuList li:first-child{
        margin-left: 1rem;
    }
    #menuList li{
        margin-top: 1rem;
    }
}

@media (max-width:767px){
    #offcanvasMenus{
        width: 240px;
    }
}

.btn-shogi {
    position: relative;
    top: -2px;
    display: inline-block;
    padding: 20px 16px; /* 上下のパディングを調整し、左右のパディングを減らして形を整える */
    color: white;
    background-color: #007bff; /* ボタンの背景色 */
    font-weight: bold;
    text-align: center;
    clip-path: polygon(
        46% 10%, /* 上部左の開始点 */
        54% 10%, /* 上部右の終点 */
        90% 25%, /* 右下の角 */
        100% 100%, /* 下部の右端 */
        0% 100%, /* 下部の左端 */
        10% 25% /* 左下の角 */
    ); /* 下に向かって太くなる台形状の五角形 */
    transition: background-color 0.3s;
}

.btn-shogi::before {
    content: "と"; /* 将棋の駒に表示する文字 */
    position: absolute;
    font-family: 'Shippori Mincho B1', serif;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px; /* 文字のサイズ */
}

.header_logo{
    width: 75px!important;
}