.logo-img{
    max-width: 75px!important;
}

#offcanvasMenus li{
    margin-left: 1rem!important;
}

#offcanvasMenus .proxy-footer-li{
    display: none;
}

#offcanvasMenus .proxy-footer{
    text-decoration: none;
    font-weight: 700;
}

@media (min-width: 993px){
    #offcanvasMenus{
        display: none;
    }

    #offcanvasMenus .account-menu{
        display: none!important;
    }
}

@media (max-width: 992px){
    #offcanvasMenus li:first-child{
        margin-left: 1rem;
    }

    #offcanvasMenus li{
        margin-top: 1rem;
    }

    #accountLink{
        display: none!important;
    }

    footer{
        display: none!important;
    }

    #offcanvasMenus .proxy-footer-li{
        display: block!important;
    }

    .menu-toggler-btn{
        display: block!important;
    }
}

@media (max-width:768px){
    #offcanvasMenus{
        width: 240px;
    }
}

@media (min-width: 576px){

}

@media (max-width: 575px){   
    #header .navbar-toggler{
        position: absolute;
    }
}

