@media (max-width: 768px){
    #company-info{
        text-align: center!important;
    }
}

.company_logo{
    width:150px!important;
}

div .card{
    margin-top: 3rem !important;
}

/* 会社メッセージ */
.company_message{
    font-family: 'Noto Serif JP', serif;
}

/* 会社メッセージと相続登記についてのテキスト */
.company_message > p, .card-text > p{
    text-indent: 1rem!important;
}
  
/* 会社情報 */
#company_info .col-sm-4{
    margin-left: 2rem!important;
}