@media (max-width: 575px){
    #company-info{
        text-align: center!important;
    }

    #mainContainer div:first-child{
        margin-left: 2rem!important;
        margin-right: 2rem!important;
    }
}