.toInquiry:hover, .toSupport:hover, .toCharge:hover{
    cursor: pointer;
    cursor: hand;
}

@media(min-width: 992px){
    #introSubtitle{
        display: flex!important;
        justify-content: center!important;
    }
}

.supportStep::before,
.supportStep::after {
    content: "";
    border: solid transparent;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.supportStep::before {
    border-width: 22px;
    border-top-color: var(--bs-card-border-color);
}

.supportStep::after {
    border-width: 20px;
    border-top-color: #fff;
}

.custom-tooltip{
    --bs-tooltip-max-width: 100%;
    --bs-tooltip-bg: var(--bs-primary);
}

.card, .accordion{
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

/* お知らせ */
.notice p:not(:first-child){
    text-indent: 1rem!important;
}

/* 料金表 */
#decedentCertificationListModal li:not(:first-child){
    margin-top: 1rem!important;
}

.option1 .card-body, .option2 .card-body{
    min-height: 250px;
}

/* 他社比較 */
#compare li{
    display: flex!important;
}

/* 問い合わせ */
.label{
    width: 110px;
}

.emPosition{
    top: -55px;
    left: 110px;
}