.toInquiry:hover, .toSupport:hover, .toCharge:hover{
    cursor: pointer;
    cursor: hand;
}

/* 問い合わせ */
.label{
    width: 110px!important;
}

.supportStep::before,
.supportStep::after {
    content: "";
    border: solid transparent;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.supportStep::before {
    border-width: 22px;
    border-top-color: var(--bs-card-border-color);
}

.supportStep::after {
    border-width: 20px;
    border-top-color: #fff;
}

.card, .accordion{
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

/* お知らせ */
.notice p:not(:first-child){
    text-indent: 1rem!important;
}

/* 詳細 */
#support .modal{
    --bs-modal-width: 1000px;
}

/* 他社比較 */
#compare li{
    display: flex!important;
}

/* Q&A */
#whoToA ul{
    padding-left: 0;
    padding-right: 2rem!important;
}

#whoToA li:not(:first-child){
    margin-top: 1.5rem!important;
}

#whoToA li > div{
    display: flex!important;
}

.emPosition{
    top: -55px;
    left: 110px;
}

/* 画面のサイズがlg以上 */
@media(min-width: 992px){
    .option .card-body{
        min-height: 425px;
    }
}

/* 画面のサイズがxl以上 */
@media(min-width: 1200px){
    .option .card-body{
        min-height: 395px;
    }

    /* 悩み事 */
    .task .card-body{
        min-height: 230px;
    }
}

/* 画面のサイズがxxl以上 */
@media(min-width: 1400px){
    .option .card-body{
        min-height: 370px;
    }
}

/* 画面がxl以下のとき */
@media (max-width:1199px){

    /* 料金表の長所と短所 */
    .plus-and-minus{
        display: flex;
    }

    .plus-and-minus > div{
        width: 50%!important;
    }

    #compare .card-body > div:nth-child(2) > p{
        text-align: center;
    }

    .plus-and-minus > div:first-child{
        margin-right: 0.5rem;
    }

    .plus-and-minus > div:nth-child(2){
        margin-left: 0.5rem;
    }
}

@media (max-width:767px){
    #whoToA ul{
        padding-right: 0px!important;
    }
}

/* 画面のサイズがxs以下 */
@media (max-width:575px){

    /* 料金表の長所と短所 */
    .plus-and-minus{
        display: block!important;
    }

    .plus-and-minus > div{
        width: 100%!important;
    }

    .plus-and-minus > div:first-child{
        margin-right: 0px;
    }

    .plus-and-minus > div:nth-child(2){
        margin-left: 0px;
    }

    #QA button{
        font-size: 1rem!important;
    }

    #QA .accordion-body{
        font-size: 1rem!important;
        padding-left: 1rem!important;
        padding-right: 1rem!important;
    }

    .accordion-button{
        padding-left: 0.5rem!important;
        padding-right: 0.5rem!important;
    }

    form .input-group .label{
        width: 100%!important;
        text-align-last: initial!important;
        text-align: center!important;
        border-radius: 0!important;
        border-top-left-radius:var(--bs-border-radius)!important;
        border-top-right-radius:var(--bs-border-radius)!important;
    }

    form .input-group input, form .input-group select{
        margin-left: 0px!important;
        border-radius: 0!important;
        border-bottom-left-radius:var(--bs-border-radius)!important;
        border-bottom-right-radius:var(--bs-border-radius)!important;
        text-align: center!important;
    }
    
    .emPosition{
        left: 0px!important;
    }
}