.label{
    width: 105px!important;
}

.content_wrapper > div:not(:first-child){
    margin-top: 1rem;
}

.card-text{
    text-indent: 1rem;
}

@media (max-width: 768px){
    #company-info{
        text-align: center!important;
        text-indent: 0px!important;
    }

    .label{
        width: initial!important;
        text-align: center!important;
        text-align-last: initial!important;
    }
}