.no-wrap{
    white-space: nowrap;
}

.emPosition{
    top: -54px;
    left: 115px;
}

/* 判定結果 */
#heirs_list{
    max-width: 500px;
}

#heirs_list li, #legal_heirs_check_result_modal li{
    margin-top: 1rem;
}


@media (max-width:575px){

    .linebreak-wrapper{
        flex-direction: column;
    }

    .linebreak-wrapper span{
        display: block;
        text-align: center;
    }

}