form fieldset:first-of-type label{
    width: 90px!important;
}

form fieldset:first-of-type > div{
    max-width: 335px!important;
}

.single-word-label{
    width: 90px;
    display: block!important;
    font-weight: 700!important;
}

.rbEmPosition{
    top: -93px;
    left: 30px;
}

::placeholder{
    text-align: center;
}

section.container{
    max-width: 500px;
}

section.card{
    width: 400px!important;
    height: 500px!important;
    position: sticky!important;
    /* top: var(--top)!important; */
    top: calc(50% - 250px);
}

section.card .card-body{
    overflow-y: auto;
}

section.card li{
    padding-left: 0.75rem!important;
    border-left: 0.125rem solid transparent;
}

.active{
    border-left-color: var(--bs-primary)!important;
}

.active button{
    color: var(--bs-primary)!important;
    font-weight: bold;
}

.Q span, .Q .form-control{
    border-radius: initial;
}

.Q:last-child .form-control{
    border-bottom-right-radius: var(--bs-border-radius)!important;
    border-bottom-left-radius: var(--bs-border-radius)!important;
}

@media (max-width: 1245px){

    section.card{
        display: none!important;
    }
}

@media (max-width:575px){
    
    form .input-group .label, form .input-group .single-word-label{
        width: 100%!important;
        text-align-last: initial!important;
        text-align: center!important;
        border-radius: 0!important;
        border-top-left-radius:var(--bs-border-radius)!important;
        border-top-right-radius:var(--bs-border-radius)!important;
    }

    form .input-group input:not([type="radio"]), form .input-group select{
        margin-left: 0px!important;
        border-radius: 0!important;
        border-bottom-left-radius:var(--bs-border-radius)!important;
        border-bottom-right-radius:var(--bs-border-radius)!important;
        text-align: center!important;
    }
    
    .emPosition{
        left: 0px!important;
    }

    .input-group-text{
        white-space: initial;
        text-align: start;
    }
}

@media (max-width:410px){
    h5{
        font-size: medium;
    }

    .form-control label:first-child{
        margin-left: 1rem!important;
    }

    #mainContainer > .container-xxl, section.container{
        padding-left: 0px!important;
        padding-right: 0px!important;
    }

    #submitBtnFieldset > div{
        justify-content: space-between!important;
    }
}