@media print {
    body * {
        visibility: hidden;
    }
    #print_page, #print_page * {
        visibility: visible;
    }
    #print_page {
        position: absolute;
        left: 0;
        top: 0;
    }
    @page {
        size: A4;
        margin-top: 25mm;
        margin-bottom: 20mm;
    }
}

.top {
    margin-top: 3rem!important;
}

#print_page {
    /* height: 297mm; */
    width: 210mm;
    font-family: "Zen Old Mincho", serif;
}

.modal{
    --bs-modal-width: 800px;
}

.decedent_info{
    margin-top:10mm;
    margin-left:30mm;
}

.decedent_info > div{
    display: flex!important;
}

.decedent_info div > div:first-child{
    margin-right:5mm;
    width:30mm;
    display: block!important;
    text-align: justify!important;
    text-align-last: justify!important;
}

.sentence{
    text-indent: 1rem;
    margin-top:5mm;
    margin-left:25mm;
    margin-right: 20mm;
}

.content{
    margin-left: 25mm;
    margin-right: 20mm;
}

.content:not(:first-child){
    margin-top:1rem;
}

.property{
    margin-left:3rem;
}

.property > div:not(:first-child){
    margin-top:1rem
}

.site{
    margin-left:2rem;
}

.site > div > div:nth-child(2){
    margin-left:1rem;
}

.site > div{
    display: flex!important;
}

.signature{
    margin-top:5mm;
    padding-left:40mm;
}

/* 署名欄の年月日 */
.signature > div:first-child > span:not(:first-child){
    padding-left: 7mm;
}

.signature > div:first-child > span{
    border-bottom: 1px solid black ;
}

/* 住所 */
.signature > :nth-child(2){
    margin-top: 10mm;
    width: 130mm;
    border-bottom: 1px solid black ;
}

.end{
    padding-right: 50mm;
}

/* 署名欄の氏名欄 */
.signature > :nth-child(3){
    margin-top: 5mm;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signature > :nth-child(3) > :first-child{
    border-bottom: 1px solid black ;
    width: 80mm;
}

/* 署名欄の氏名欄の丸枠 */
.stamp_box {
    margin-right: 60mm; /* 氏名との間隔 */
    width: 20mm; /* 枠の幅 */
    height: 20mm; /* 枠の高さ */
    border-radius: 50%; /* 丸枠 */
    border: 1px dashed #000; /* 点線の枠 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.signature > :last-child{
    display: flex!important;
    justify-content: end!important;
    margin-right: 15mm;
}
