textarea{
    resize: none;
}

form .label{
    width:100px;
}

@media (max-width:575px){
    
    form .input-group .label{
        width: 100%!important;
        text-align-last: initial!important;
        text-align: center!important;
    }

    form .input-group input, form .input-group select{
        margin-left: 0px!important;
        text-align: center!important;
    }
    
    .emPosition{
        left: 0px!important;
    }
}