@media print {
    body * {
        visibility: hidden;
    }
    #print_page, #print_page * {
        visibility: visible;
    }
    #print_page {
        position: absolute;
        left: 0;
        top: 0;
        width: 210mm;
        height: 297mm;
    }
    .print_per_section{
        break-after: page;
        margin-top:50mm;
    }
    @page {
        margin-top: 20mm;
        margin-bottom: 15mm;
    }
}

.top {
    margin-top: 3rem!important;
}

.print_per_section {
    /* height: 297mm; */
    width: 210mm;
    font-family: "Zen Old Mincho", serif;
}

/* タイトル以外 */
.print_per_section > *:not(:first-child) {
    padding-left: 25mm;
}

/* タイトルと不動産の表示以外 */
.print_per_section > *:not(:first-child):not(:last-child) {
    display: flex!important;
}

/* 各不動産の表示 */
.print_per_section > :last-child > div > *{
    display: flex!important;
}

.property{
    margin-left: 1rem!important;
}

.property:not(:first-child){
    margin-top: 1rem!important;
}

/* モーダルのサイズ */
.modal{
    --bs-modal-width: 800px;
}

/* 登記の目的、原因、相続人、添付情報の幅 */
.headword{
    width: 115px!important;
    display: block!important;
    text-align: justify!important;
    text-align-last: justify!important;
}

.headword + * {
    margin-left:1rem!important;
}