#wrap{
    counter-reset: section 0;
    list-style-type: none;
    padding: 0;
    margin: 0;;
}

#wrap li > h5:before{
    counter-increment: section 1;
    content: counter(section);
    font: bold;
    font-size: 1.25rem;
    padding-right: 1rem;
}

#wrap ul > li{
    margin-left: 1rem!important;
}

/* 登記識別情報通知、不動産の全部事項証明書、登記情報のモーダル */
#about_owner_certification_modal, #property_registry_certification_modal, #registration_info{
    --bs-modal-width: 800px!important;
}

@media (max-width:992px){

    .heading{
        text-align: center;
    }
}

@media (max-width:575px){

    .sm-d-flex-center{
        display: flex;
        justify-content: center;
    }

    .sm-text-center{
        text-align: center!important;
    }
}