#heirs-list{
    max-width: 300px;
}

#about-family-card-modal ul li:not(:first-child), 
#about_duplicate_family_card_modal ul li:not(:first-child){
    margin-top: 1rem;
}

#about-family-card-modal ul li > div:first-child,
#about_duplicate_family_card_modal ul li > div:first-child{
    font-weight: 700;
}

#about-family-card-modal, #about_duplicate_family_card_modal{
    --bs-modal-width: 600px!important;
}

.overview{
    max-width: 800px;
}

.attachment-document{
    max-width: 800px;
    padding-top: 1rem;
}

.attachment-document > ul{
    padding-left: 2rem;
}

.attachment-document li{
    margin-top: 1rem;
}

.attachment-document li > span:first-child{
    border-bottom: 1px solid black;
    font-weight: 700;
}

#registryUploader{
    height:200px;
}

@media (max-width:992px){
    #heirs-list{
        margin-left: auto!important;
        margin-right: auto!important;
    }
}

@media (max-width:830px){
    .md-start-button{
        text-align: start!important;
    }
}

@media (max-width:768px){
    #mainContainer > .container-xxl{
        padding-left: 0px!important;
        padding-right: 0px!important;
    }

    .sheet-count{
        display: block!important;
        text-align: end;
    }
}

@media (max-width:575px){
    .sm-center-button{
        display: block;
        margin: 0 auto;
    }

    .attachment-document > ul{
        padding-left: 1rem;
    }
}

@media (max-width:460px){
    #about_family_card_modal ul,
    #about_duplicate_family_card_modal ul{
        padding-left: 0px!important;
    }
}