@media (max-width: 575px){  

    #header .navbar-toggler{
        position: absolute;
    }
}

@media (min-width: 576px){

}

@media (max-width:767px){
    #offcanvasMenus, #progress_list_offcanvas{
        width: 260px;
    }
}

@media (max-width: 991px){

    #offcanvasMenus li:not(:last-child), #progress_list_offcanvas li:not(:last-child){
        margin-top: 1rem;
    }

    .show-progress-offcanvas-btn{
        display: initial!important;
    }

    .menu-toggler-btn{
        display: block!important;
    }
    
    .logout{
        display: none!important;
    }

    .li_logout{
        display: block;
    }
}

@media (min-width: 992px){

    .li_logout{
        display: none;
    }
}

.logo-img{
    max-width: 75px!important;
}