button{
    text-align: start;
}

#stepList, #papersOrderList, #stampList, #originalOrderList, #officeList, #lastStep{
    counter-reset: section 0;
    list-style-type: none;
    padding: 0;
    margin: 0;;
}

#stepList li > h5:before{
    counter-increment: section 1;
    content: counter(section);
    font: bold;
    font-size: 1.25rem;
    padding-right: 1rem;
}

#papersOrderList li:before, #stampList li:before, #originalOrderList li:before, #officeList li:before, #lastStep li:before{
    counter-increment: section 1;
    content: "("counter(section)")";
    font: bold;
    font-size: 1rem;
    padding-right: 0.5rem;
}

.modal{
    --bs-modal-width: 800px;
}

#reacquire_price_certification_modal, #about_price_certification_copy{
    --bs-modal-width: 600px;
}

.modal-body li:not(:first-child){
    margin-top: 1rem!important;
}

@media (max-width:991px){

    #mainContainer .container-xxl, #mainContainer .container-md{
        padding-left: 0px;
        padding-right: 0px;
    }

    /* タイトル */
    .heading{
        text-align: center;
    }
}

@media (max-width:767px){
    form .list-group-item{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}