#decedent-section label, #heirs-section label, #application-section label{
    width: 115px!important;
}

#id_decedent-0-fieldset > div, #statusArea, #heirsSectionToggleBtn, #type-of-division-section > fieldset > div,
.buttons-area{
    max-width: 425px!important;
}

#id_decedent-0-fieldset > .sm-mx-auto > div{
    margin-top: 2rem!important;
}

#type-of-division-section div.input-group-text{
    display: block!important;
    text-align: left!important;
}

#type-of-division-section .input-group-text{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#type-of-division-section .form-control{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#number-of-properties-section > fieldset > div{
    width:200px
}

#land-section label, #house-section label, #bldg-section label{
    width: 125px!important;
}

.landWrapper, .landBtnsDiv, .houseWrapper, .houseBtnsDiv, .bldgWrapper, .bldgBtnsDiv{
    max-width:600px;
}

.fraction{
    max-width: 125px;
}

.heirsFieldset, #id_application-fieldset{
    max-width: 500px!important;
}

.single-word-label{
    width: 90px;
    display: block!important;
    font-weight: 700!important;
}

.emPosition{
    top: -54px;
    left: 150px;
}

.statusEmPosition{
    top: -112px;
    left: 210px;
}

.rbEmPosition{
    top: -93px;
    left: 30px;
}

.cityEmPosition{
    top: -93px;
    left: 150px;
}

.officeEmPosition{
    top: -75px;
    left: 150px;
}

.applicantEmPosition{
    top: 30px;
    left: 150px;
}

::placeholder{
    text-align: center;
}

#number-of-properties-section .Q:first-of-type span{
    border-bottom-right-radius: initial;
    border-bottom-left-radius: initial;
}

#number-of-properties-section .Q:not(:first-of-type) span{
    border-radius: initial;
    border-radius: initial;
}

#number-of-properties-section .Q:last-of-type .decreaseBtn{
    border-bottom-left-radius: var(--bs-border-radius)!important;
}

#number-of-properties-section .Q:last-of-type .increaseBtn{
    border-bottom-right-radius: var(--bs-border-radius)!important;
}

.swal2-html-container{
    text-align: left !important;
}

label[for*="purparty_top"] + * > .form-check{
    padding-left: 0px;
}

label[for*="purparty_top"] + * > .form-check > .form-check-input{
    margin-left: 0px;
}

@media (max-width:767px){
    
    form .input-group .label, form .input-group .single-word-label{
        width: 100%!important;
        text-align-last: initial!important;
        text-align: center!important;
        border-radius: 0!important;
        border-top-left-radius:var(--bs-border-radius)!important;
        border-top-right-radius:var(--bs-border-radius)!important;
    }

    form .input-group input:not([type="radio"]), form .input-group select{
        margin-left: 0px!important;
        border-radius: 0!important;
        border-bottom-left-radius:var(--bs-border-radius)!important;
        border-bottom-right-radius:var(--bs-border-radius)!important;
        text-align: center!important;
    }
    
    .emPosition{
        left: 0px!important;
    }

    .input-group-text{
        white-space: initial;
        text-align: start;
    }

    #decedent-section label, #heirs-section label, #application-section label, #land-section label,
    #house-section label, #bldg-section label{
        width: 100%!important;
    }

    #decedent-section .text-nowrap{
        white-space: initial!important;
    }

    #heirs-section > fieldset > .border > div:nth-child(5) .border,
    #application-section > fieldset > .border .border{
        border: none!important;
    }
}

@media (max-width:505px){
    
    .landWrapper, .houseWrapper, .bldgWrapper{
        display: block!important;
        border: none!important;

    }

    .landWrapper > div:first-child, .houseWrapper > div:first-child, .bldgWrapper > div:first-child{
        text-align: center!important;
        margin-top: 1rem!important;
    }

    .landFieldset, .houseFieldset, .bldgFieldset{
        margin-top: 0px!important;
    }

    #type-of-division-section > fieldset > div{
        max-width: 100%!important;
    }

    #number-of-properties-section > fieldset > div{
        margin-right: auto;
        margin-left: auto;
    }

    label[for*="purparty_top"] + * {
        display: block!important; 
    }

    label[for*="purparty_top"] + * > .form-check {
        display: flex!important; 
        justify-content: center!important;
    }

    label[for*="purparty_top"] + * > div:nth-child(2){
        margin-top: 0.5rem!important;
        justify-content: space-evenly!important;
    }
}