@media print {

    body * {
        visibility: hidden;
    }

    #print_page, #print_page * {
        visibility: visible;
    }

    #print_page {
        position: absolute;
        left: 0;
        top: 0;
    }

    .print_per_section{
        break-after: page;
    }

    @page {
        size: A4 landscape;
        margin-top: 20mm;
    }
}

.top {
    margin-top: 3rem!important;
}

.top > div > div{
    max-width: 700px!important;
}

/* 注意事項の内容 */
.top > div > div > p:not(:first-child){
    margin-left: 1rem!important;
}

#print_page {
    font-family: "Zen Old Mincho", serif;
}

ul{
    margin-bottom:0!important;
    padding-left: 0.5rem!important;
    padding-right: 0.5rem!important;
}

ul > li > span:first-child{
    font-weight: 700!important;
}

.line-container {
    position: relative;
}

.single_line{
    border-top: 1px solid #000; /* 黒色の二重線 */
    padding-right: 1rem!important;
    padding-left: 1rem!important;
}

.double_line{
    border-top: 3px double #000; /* 黒色の二重線 */
    padding-right: 1rem!important;
    padding-left: 1rem!important;
}

.empty_p{
    padding-top: 1.5rem!important;
    padding-bottom: 1.5rem!important;
}

.level{
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    padding-left: 2rem!important;
    padding-right: 2rem!important;
}

.content{
    margin-top: 2rem!important;
    position: relative;
}

.svgContainer{
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%!important; 
    height: 100%!important;
}