#decedent-section label, #heirs-section label, #application-section label{
    width: 115px!important;
}

#id_decedent-0-fieldset > div, #statusArea, #heirsSectionToggleBtn, #type-of-division-section > fieldset > div{
    width: 425px!important;
}

#type-of-division-section div.input-group-text{
    display: block!important;
    text-align: left!important;
}

#number-of-properties-section > fieldset > div{
    width:200px
}

#land-section label, #house-section, #bldg-section label{
    width: 125px!important;
}

.landWrapper, .landBtnsDiv, .houseWrapper, .houseBtnsDiv, .bldgWrapper, .bldgBtnsDiv{
    width:515px;
}

.fraction{
    width: 85px;
}

.registry-name-and-address-div, .destination-office-div{
    width: 425px!important;
}

.heirsFieldset, #id_application-fieldset{
    width: 500px!important;
}

.single-word-label{
    width: 90px;
    display: block!important;
    font-weight: 700!important;
}

.emPosition{
    top: -54px;
    left: 150px;
}

.statusEmPosition{
    top: -112px;
    left: 210px;
}

.rbEmPosition{
    top: -93px;
    left: 30px;
}

.cityEmPosition{
    top: -93px;
    left: 150px;
}

.officeEmPosition{
    top: -75px;
    left: 150px;
}

.applicantEmPosition{
    top: 30px;
    left: 150px;
}

::placeholder{
    text-align: center;
}

#number-of-properties-section .Q:first-of-type span{
    border-bottom-right-radius: initial;
    border-bottom-left-radius: initial;
}

#number-of-properties-section .Q:not(:first-of-type) span{
    border-radius: initial;
    border-radius: initial;
}

#number-of-properties-section .Q:last-of-type .decreaseBtn{
    border-bottom-left-radius: var(--bs-border-radius)!important;
}

#number-of-properties-section .Q:last-of-type .increaseBtn{
    border-bottom-right-radius: var(--bs-border-radius)!important;
}

.swal2-html-container{
    text-align: left !important;
}