.card{
    width: 300px;
    flex: 0 0 30%; /* 3 cards per row for lg and above */
    max-width: 30%;
}

#main li:not(:first-child){
    margin-top: 0.5rem;
}

@media (max-width: 991px){
    .card{
        flex: 0 0 45%; /* 3 cards per row for lg and above */
        max-width: 45%;
    }
}

@media (max-width: 575px){
    .card{
        flex: 0 0 90%; /* 3 cards per row for lg and above */
        max-width: 90%;
    }
}