{% extends "base.html" %}
{% block title %} {{ title }} | {{ block.super}}{% endblock title %}
{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'toukiApp/administrator.css' %}">
{% endblock %}

{% block og %}
    <meta property="og:title" content="会社概要">
    <meta property="og:description" content="株式会社あおぞらとは">
    <meta property="og:url" content="{% url 'toukiApp:administrator' %}">
{% endblock %}

{% block twitter %}
    <meta name="twitter:title" content="そうぞくとうきくん | 会社概要">
    <meta name="twitter:description" content="株式会社あおぞらの会社概要です">
{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
<div class="col-lg-8 col-md-10 px-3 mx-auto mt-3">
    <div>
        <h3 class="mb-5 text-center">
            <img class="company_logo" src="{% static 'toukiApp/img/company_logo.png' %}" alt="会社ロゴ">
        </h3>
        <div class="company_message">
            <p>
                弊サイトをご覧いただきありがとうございます。
            </p>
            <p>
                弊社では、不動産登記手続きを皆様にとってより身近な手続きにすることで日本の不動産が有効活用され、適切に資産承継が行われるようになることを目標にシステムを制作しております。元司法書士のシステムエンジニアがシステムを制作して、お問い合わせ対応を行っておりますので万全なサポートが可能です。
            </p>
            <p>
                相続人の判定と必要書類を一覧表示する機能を公開しておりますので、ご興味をお持ちいただけましたらお試しいただけますと幸いです。
            </p>
            <p>
                今後も登記手続きがより利用しやすいものになるようシステムの開発に励みますので、引き続き何卒よろしくお願い申し上げます。
            </p>
        </div>
    </div>
    <div class="card shadow bg-light">
        <div class="card-body">
            <h4 class="card-title">
                <span class="border-start border-5 border-primary ps-3">相続登記について</span>
            </h4>
            <div class="card-text p-3 bg-white border rounded-3">
                <p>
                    <span class="fw-bold border-bottom border-dark">
                        令和6年4月1日から相続登記を義務化
                    </span>
                    する法律が施行されました。
                </p>
                <p>
                    これは相続登記の放置により所有者不明の不動産が増加して、公共事業や都市開発など不動産の活用に支障が出ているためで、
                    <span class="fw-bold border-bottom border-dark">
                        義務化後は、相続発生から3年以内に相続登記をしないと
                        <span class="text-danger">
                            10万円以下の過料
                        </span>
                        を課される可能性があります。
                    </span>
                </p>
                <p>
                    令和6年3月1日から原則的に最寄りの役所で戸籍謄本の収集を可能とする法改正があり、相続登記で一番大変な部分が簡単になりましたので、これを機にご自身で相続登記をすることを検討してみてはいかがでしょうか？
                    その際には、本システムの利用についてもご検討いただけますと幸いです。
                </p>
            </div>
        </div>
    </div>
    <div class="mx-auto mt-5">
        <h1 class="fs-5 text-center my-3">
            会社概要
        </h1>
        <div id="company-info" class="mt-3 mx-auto">
            <hr>
            <div class="d-md-flex">
                <div class="col-md-4 fw-bold">
                    社名
                </div>
                <div class="col-md-8">
                    {{company_data.NAME}}
                </div>
            </div>
            <hr>
            <div class="d-md-flex">
                <div class="col-md-4 fw-bold">
                    住所
                </div>
                <div class="col-md-8">
                    {{company_data.POST_NUMBER}}<br>
                    {{company_data.ADDRESS}}<br>
                    {{company_data.BLDG}}
                </div>
            </div>
            <hr>
            <div class="d-md-flex">
                <div class="col-md-4 fw-bold">
                    代表取締役
                </div>
                <div class="col-md-8">
                    {{company_data.CEO}}
                </div>
            </div>
            <hr>
            <div class="d-md-flex">
                <div class="col-md-4 fw-bold">
                    電話番号
                </div>
                <div class="col-md-8">
                    {{company_data.RECEIVING_PHONE_NUMBER}}
                    <br>
                    {{company_data.CALLING_PHONE_NUMBER}}
                    <br>
                    ※お問い合わせはメール又はLINEのみ。
                </div>
            </div>
            <hr>
            <div class="d-md-flex">
                <div class="col-md-4 fw-bold">
                    メールアドレス
                </div>
                <div class="col-md-8">
                    {{company_data.MAIL_ADDRESS}}
                </div>
            </div>
            <hr>
            <div class="d-md-flex align-items-center">
                <div class="col-md-4 fw-bold">
                    LINE
                    <br>
                    お問い合わせ受付
                </div>
                <div class="col-md-8 md-mt-3">
                    <a class=" btn btn-success fw-bold bg-gradient bg-opacity-50 shadow" href="{{ company_data.OPEN_LINE_LINK }}" target="_blank" rel="noopener noreferrer">
                        友だち追加
                    </a>
                </div>
            </div>
            <hr>
            <div class="d-md-flex">
                <div class="col-md-4 fw-bold">
                    営業時間
                </div>
                <div class="col-md-8">
                    {{company_data.OPENING_HOURS}}
                </div>
            </div>
            <hr>
            <div class="d-md-flex">
                <div class="col-md-4 fw-bold">
                    設立年月日
                </div>
                <div class="col-md-8">
                    {{company_data.ESTABLISH_DATE}}
                </div>
            </div>
            <hr>
            <div class="d-md-flex">
                <div class="col-md-4 fw-bold">
                    資本金
                </div>
                <div class="col-md-8">
                    {{company_data.CAPITAL}}
                </div>
            </div>
            <hr>
            <!-- <div class="d-md-flex">
                <div class="col-md-4 fw-bold">
                    監修者
                </div>
                <div class="col-md-8">
                    {{company_data.SUPERVISER}}<br>
                    {{company_data.SUPERVISER_BELONG_1}}<br>
                    {{company_data.SUPERVISER_BELONG_2}}
                </div>
            </div>
            <hr> -->
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}

{% block js %}
    {% load static %}
{% endblock %}