{% extends "base.html" %}
{% block title %}特定商取引法に基づく表記 | {{ block.super}}{% endblock title %}

{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'toukiApp/commerce_law.css' %}">
{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
<div class="col-lg-7 col-md-9 col-sm-11 mx-auto">
    <h5 class="text-center my-3">
        特定商取引法に基づく表記
    </h5>
    <div id="company-info" class="mt-3 mx-auto">
        <hr>
        <div class="d-sm-flex">
            <div class="col-sm-4 fw-bold">
                販売業者
            </div>
            <div class="col-sm-8">
                {{company_data.NAME}}
            </div>
        </div>
        <hr>
        <div class="d-sm-flex">
            <div class="col-sm-4 fw-bold">
                所在地
            </div>
            <div class="col-sm-8">
                {{company_data.ADDRESS}}<br>
                {{company_data.BLDG}}
            </div>
        </div>
        <hr>
        <div class="d-sm-flex">
            <div class="col-sm-4 fw-bold">
                責任者
            </div>
            <div class="col-sm-8">
                {{company_data.CEO}}
            </div>
        </div>
        <hr>
        <div class="d-sm-flex">
            <div class="col-sm-4 fw-bold">
                電話番号
            </div>
            <div class="col-sm-8">
                {{company_data.RECEIVING_PHONE_NUMBER}}<br>
                {{company_data.CALLING_PHONE_NUMBER}}<br>
                ※弊社からの電話はこちらの番号が表示されます。<br>
                ※お問い合わせはメール又はＬＩＮＥのみ。
            </div>
        </div>
        <hr>
        <div class="d-sm-flex">
            <div class="col-sm-4 fw-bold">
                メールアドレス
            </div>
            <div class="col-sm-8">
                {{company_data.MAIL_ADDRESS}}
            </div>
        </div>
        <hr>
        <div class="d-sm-flex align-items-center">
            <div class="col-sm-4 fw-bold">
                LINE
                <br>
                お問い合わせ受付
            </div>
            <div class="col-sm-8 my-auto">
                <img class="ms-3 line-qr" src="{{company_data.OPEN_LINE_QR}}">
            </div>
        </div>
        <hr>
        <div class="d-sm-flex">
            <div class="col-sm-4 fw-bold">
                営業時間
            </div>
            <div class="col-sm-8">
                {{company_data.OPENING_HOURS}}
            </div>
        </div>
        <hr>
        <div class="d-sm-flex">
            <div class="col-sm-4 fw-bold">
                サイトURL
            </div>
            <div class="col-sm-8">
                <a class="text-decoration-none" href="{% url 'toukiApp:index' %}">
                    {{company_data.URL}}
                </a>
            </div>
        </div>
        <hr>
        <div class="d-sm-flex">
            <div class="col-sm-4 fw-bold">
                サービス料金
            </div>
            <div class="col-sm-8">
                {{company_data.CHARGE}}
            </div>
        </div>
        <hr>
        <div class="d-sm-flex">
            <div class="col-sm-4 fw-bold">
                支払方法
            </div>
            <div class="col-sm-8">
                {{company_data.PAYMENT}}
            </div>
        </div>
        <hr>
        <div class="d-sm-flex">
            <div class="col-sm-4 fw-bold">
                支払時期
            </div>
            <div class="col-sm-8">
                {{company_data.PAYMENT_TERMS}}
            </div>
        </div>
        <hr>
        <div class="d-sm-flex">
            <div class="col-sm-4 fw-bold">
                サービス提供の開始時期
            </div>
            <div class="col-sm-8">
                {{company_data.START_TIME}}
            </div>
        </div>
        <hr>
        <div class="d-sm-flex">
            <div class="col-sm-4 fw-bold">
                キャンセルについて
            </div>
            <div class="col-sm-8">
                {{company_data.ABOUT_CANCEL}}
            </div>
        </div>
        <hr>
    </div>
</div>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}

{% block js %}
    {% load static %}
    <script src="{% static 'toukiApp/commerce_law.js' %}"></script>
{% endblock %}