{% extends "base.html" %}
{% block title %}利用条件確認 | {{ block.super}}{% endblock title %}
{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'toukiApp/condition.css' %}">
    <link rel="stylesheet" href="{% static 'toukiApp/parts/messages.css' %}">
{% endblock %}

{% block og %}
    <meta property="og:title" content="そうぞくとうきくんの利用条件">
    <meta property="og:description" content="そうぞくとうきくんが対応できる範囲か判定します。">
    <meta property="og:url" content="{% url 'toukiApp:condition' %}">
{% endblock %}

{% block twitter %}
    <meta name="twitter:title" content="そうぞくとうきくん | 利用条件">
    <meta name="twitter:description" content="株式会社あおぞらの利用条件です">
{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% load custom_filters %}

{% block content %}

{% include "toukiApp/parts/step_messages.html" %}

<div class="mx-auto mt-3">
    <form action="{% url 'toukiApp:condition' %}" method="POST" novalidate>
        {% csrf_token %}
        <div class="card shadow-sm">
            <div class="card-body px-md-5">
                <h4 class="card-title border-bottom py-3">
                    本システムの利用条件の確認をお願いします
                </h4>
                <div class="px-sm-4">
                    <b>
                        該当するものにチェックを入れてください。
                    </b>
                    <div class="input-group mt-3">
                        <label class="input-group-text cursor-pointer">
                            <input class="form-check-input mt-0" type="checkbox" name="conditionCb" value="" aria-label="所有権（共有持分を含む）に関する相続登記である" autofocus>
                        </label>
                        <span class="form-control fw-bold">
                            所有権（共有持分を含む）に関する相続登記である
                        </span>
                    </div>
                    <div class="input-group mt-3">
                        <label class="input-group-text cursor-pointer">
                            <input class="form-check-input mt-0" type="checkbox" name="conditionCb" value="" aria-label="亡くなった方の死亡日は昭和２２年５月３日以降である">
                        </label>
                        <span class="form-control fw-bold">
                            亡くなった方の死亡日は昭和２２年５月３日以降である
                        </span>
                    </div>
                    <div class="input-group mt-3">
                        <label class="input-group-text cursor-pointer">
                            <input class="form-check-input mt-0" type="checkbox" name="conditionCb" value="" aria-label="亡くなった方及びその相続人は全員日本国籍である">
                        </label>
                        <span class="form-control fw-bold">
                            亡くなった方及びその相続人は全員日本国籍である
                        </span>
                    </div>
                    <div class="input-group mt-3">
                        <label class="input-group-text cursor-pointer">
                            <input class="form-check-input mt-0" type="checkbox" name="conditionCb" value="" aria-label="遺言書は使用しない">
                        </label>
                        <span class="form-control fw-bold">
                            遺言書はない
                        </span>
                    </div>
                    <div class="input-group mt-3">
                        <label class="input-group-text cursor-pointer">
                            <input class="form-check-input mt-0" type="checkbox" name="conditionCb" value="" aria-label="対応可能な相続関係図を確認した">
                        </label>
                        <span class="form-control fw-bold">
                            <span class="ps-1 cursor-pointer text-primary" data-bs-toggle="modal" data-bs-target="#condition_diagram_modal">
                                対応可能な相続関係図
                            </span>
                                を確認した
                        </span>
                        {% include "toukiApp/parts/condition_diagram.html" %}
                    </div>
                    <div class="input-group mt-3">
                        <label class="input-group-text cursor-pointer">
                            <input class="form-check-input mt-0" type="checkbox" name="conditionCb" value="" aria-label="相続人全員の間で遺産分割の合意ができている">
                        </label>
                        <span class="form-control fw-bold">
                            相続人全員の間で遺産分割の合意がある
                        </span>
                    </div>
                    <div class="input-group mt-3">
                        <label class="input-group-text cursor-pointer">
                            <input class="form-check-input mt-0" type="checkbox" name="conditionCb" value="" aria-label="所有権（共有持分を含む）に関する相続登記である">
                        </label>
                        <span class="form-control fw-bold">
                            相続人の中に未成年者はいない
                        </span>
                    </div>
                    <div class="input-group mt-3">
                        <label class="input-group-text cursor-pointer">
                            <input class="form-check-input mt-0" type="checkbox" name="conditionCb" value="" aria-label="相続人の中に成年被後見人はいない">
                        </label>
                        <span class="form-control fw-bold">
                            相続人の中に※成年被後見人はいない
                        </span>
                    </div>
                    <div class="form-text">
                        ※精神上の障害により判断能力を欠くとして、家庭裁判所から後見人が選任された方のことです。
                    </div>
                    <div class="input-group mt-3">
                        <label class="input-group-text cursor-pointer">
                            <input class="form-check-input mt-0" type="checkbox" name="conditionCb" value="" aria-label="所有権（共有持分を含む）に関する相続登記である">
                        </label>
                        <span class="form-control fw-bold">
                            システム利用料以外に登録免許税などの実費の負担があることを確認した
                        </span>
                    </div>
                    <div class="input-group mt-3">
                        <label class="input-group-text cursor-pointer">
                            <input class="form-check-input mt-0" type="checkbox" name="conditionCb" value="" aria-label="利用規約を確認した">
                        </label>
                        <span class="form-control fw-bold">
                            <a href="{% url 'toukiApp:terms' %}" target="_blank" rel="noopener noreferrer">
                                利用規約
                            </a>
                            を確認した
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow-sm mt-3">
            <div class="card-body">
                <div class="card-title text-center">
                    <button type="submit" id="submitBtn" class="btn btn-primary bg-gradient bg-opacity-50 fw-bold" disabled="true">
                        アカウント登録へ
                        <span id="submitSpinner" class="spinner-border spinner-border-sm text-warning" role="status" style="display: none;">
                        </span>
                    </button>
                </div>
                <div id="availableText" class="card-text text-center fw-bold text-success" style="display:none;">
                    利用条件を満たしているため、ご利用できます。
                </div>
            </div>
        </div>
    </form>
    <div class="card shadow-sm mt-3">
        <div class="card-body">
            <div class="card-title text-center">
                <a href="{% url 'toukiApp:index' %}">
                    <button type="button" class="btn btn-secondary bg-gradient bg-opacity-50 fw-bold">トップページへ</button>
                </a>
            </div>
            <div class="card-text text-center">全てにチェックが入らない場合は、申し訳ありませんがご利用いただけません。</div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}

{% block js %}
    {% load static %}
    <script src="{% static 'toukiApp/condition.js' %}"></script>
    <script src="{% static 'toukiApp/parts/messages.js' %}"></script>
{% endblock %}