{% extends "base.html" %}
{% block title %}利用条件確認 | {{ block.super}}{% endblock title %}
{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'toukiApp/condition.css' %}">
{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% load custom_filters %}

{% block content %}

{% for message in messages %}
    <div class="modal inquiry-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title fw-bold">{{message.message|until:" "}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pb-3">
                    <span class="fw-bold">
                        {{message.message|after:" "}}
                    </span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

<div class="mx-auto mt-3">
    <form action="{% url 'toukiApp:condition' %}" method="POST" novalidate>
        {% csrf_token %}
        <div class="card shadow-sm">
            <div class="card-body px-5">
                <h4 class="card-title border-bottom py-3">
                    本システムの利用条件の確認をお願いします
                </h4>
                <div class="px-4">
                    <b>
                        該当するものにチェックを入れてください。
                    </b>
                    <div class="input-group mt-3">
                        <label class="input-group-text cursor-pointer">
                            <input class="form-check-input mt-0" type="checkbox" name="conditionCb" value="" aria-label="所有権（共有持分を含む）に関する相続登記である">
                        </label>
                        <span class="form-control fw-bold">
                            所有権（共有持分を含む）に関する相続登記である
                        </span>
                    </div>
                    <div class="input-group mt-3">
                        <label class="input-group-text cursor-pointer">
                            <input class="form-check-input mt-0" type="checkbox" name="conditionCb" value="" aria-label="亡くなった方の死亡日は昭和２２年５月３日以降である">
                        </label>
                        <span class="form-control fw-bold">
                            亡くなった方の死亡日は昭和２２年５月３日以降である
                        </span>
                    </div>
                    <div class="input-group mt-3">
                        <label class="input-group-text cursor-pointer">
                            <input class="form-check-input mt-0" type="checkbox" name="conditionCb" value="" aria-label="亡くなった方及びその相続人は全員日本国籍である">
                        </label>
                        <span class="form-control fw-bold">
                            亡くなった方及びその相続人は全員日本国籍である
                        </span>
                    </div>
                    <div class="input-group mt-3">
                        <label class="input-group-text cursor-pointer">
                            <input class="form-check-input mt-0" type="checkbox" name="conditionCb" value="" aria-label="遺言書は使用しない" autofocus>
                        </label>
                        <span class="form-control fw-bold">
                            遺言書はない
                        </span>
                    </div>
                    <div class="input-group mt-3">
                        <label class="input-group-text cursor-pointer">
                            <input class="form-check-input mt-0" type="checkbox" name="conditionCb" value="" aria-label="対応可能な相続関係図を確認した">
                        </label>
                        <span class="form-control fw-bold">
                            <span class="ps-1 cursor-pointer text-primary" data-bs-toggle="modal" data-bs-target="#chart">
                                対応可能な相続関係図
                            </span>
                                を確認した
                        </span>
                        <div class="modal fade" id="chart" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header bg-secondary-subtle">
                                        <h5 class="modal-title">
                                            対応可能な相続関係の範囲
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="fw-bold">
                                            ※各続柄に相続人になる条件を記載してます。
                                            <br>
                                            ※
                                            <span class="bg-primary-subtle">
                                                子、孫
                                            </span>
                                            が相続人になるとき、それぞれ15人が上限です。
                                            <br>
                                            ※
                                            <span class="bg-warning-subtle">
                                                兄弟姉妹
                                            </span>
                                            が相続人になるとき、15人が上限です。
                                            <br>
                                            ※子以外が相続人になった後に死亡した数次相続には現在対応しておりません。
                                        </div>
                                        <div class="d-flex justify-content-evenly mt-3">
                                            <div class="card position-relative grandfather">
                                                <div class="card-body">
                                                    <div class="card-title bg-success-subtle">
                                                        父方の祖父母
                                                    </div>
                                                    <div class="card-text">
                                                        父母に記載の条件に加えて父が先に死亡しているとき
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card position-relative grandmother">
                                                <div class="card-body">
                                                    <div class="card-title bg-success-subtle">
                                                        母方の祖父母
                                                    </div>
                                                    <div class="card-text">
                                                        父母に記載の条件に加えて母が先に死亡しているとき
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-evenly mt-5">
                                            <div class="card position-relative parents">
                                                <div class="card-body">
                                                    <div class="card-title bg-success-subtle">
                                                        父母
                                                    </div>
                                                    <div class="card-text">
                                                        子がいない又は全員死亡している、かつ子の相続人もいないとき
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex mt-5">
                                            <div class="card ">
                                                <div class="card-body">
                                                    <div class="card-title bg-warning-subtle">
                                                        兄弟姉妹
                                                    </div>
                                                    <div class="card-text">
                                                        子、父母が相続人にならないとき
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="decedent" class="card">
                                                <div class="card-body">
                                                    <div class="card-title bg-secondary-subtle">
                                                        被相続人
                                                    </div>
                                                    <div class="card-text">
                                                        亡くなった方（不動産の所有者）
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="spouse" class="card">
                                                <div class="card-body">
                                                    <div class="card-title bg-danger-subtle">
                                                        配偶者
                                                    </div>
                                                    <div class="card-text">
                                                        常に相続人になる
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex mt-5 justify-content-end">
                                            <div id="childSpouse" class="card">
                                                <div class="card-body">
                                                    <div class="card-title bg-primary-subtle">
                                                        子の配偶者
                                                    </div>
                                                    <div class="card-text">
                                                        子が被相続人の後に死亡したとき
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="child" class="card">
                                                <div class="card-body">
                                                    <div class="card-title bg-primary-subtle">
                                                        子
                                                    </div>
                                                    <div class="card-text">
                                                        最初に相続人になる権利がある
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center mt-5">
                                            <div id="grandChild" class="card">
                                                <div class="card-body">
                                                    <div class="card-title bg-primary-subtle">
                                                        孫
                                                    </div>
                                                    <div class="card-text">
                                                        子が死亡しているとき
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mt-3">
                        <label class="input-group-text cursor-pointer">
                            <input class="form-check-input mt-0" type="checkbox" name="conditionCb" value="" aria-label="相続人全員の間で遺産分割の合意ができている">
                        </label>
                        <span class="form-control fw-bold">
                            相続人全員の間で遺産分割の合意がある
                        </span>
                    </div>
                    <div class="input-group mt-3">
                        <label class="input-group-text cursor-pointer">
                            <input class="form-check-input mt-0" type="checkbox" name="conditionCb" value="" aria-label="所有権（共有持分を含む）に関する相続登記である">
                        </label>
                        <span class="form-control fw-bold">
                            相続人の中に未成年者はいない
                        </span>
                    </div>
                    <div class="input-group mt-3">
                        <label class="input-group-text cursor-pointer">
                            <input class="form-check-input mt-0" type="checkbox" name="conditionCb" value="" aria-label="相続人の中に成年被後見人はいない">
                        </label>
                        <span class="form-control fw-bold">
                            相続人の中に※成年被後見人はいない
                        </span>
                    </div>
                    <div class="form-text">
                        ※精神上の障害により判断能力を欠くとして、家庭裁判所から後見人が選任された方のことです。
                    </div>
                    <div class="input-group mt-3">
                        <label class="input-group-text cursor-pointer">
                            <input class="form-check-input mt-0" type="checkbox" name="conditionCb" value="" aria-label="所有権（共有持分を含む）に関する相続登記である">
                        </label>
                        <span class="form-control fw-bold">
                            システム利用料以外に登録免許税などの実費の負担があることを確認した
                        </span>
                    </div>
                    <div class="input-group mt-3">
                        <label class="input-group-text cursor-pointer">
                            <input class="form-check-input mt-0" type="checkbox" name="conditionCb" value="" aria-label="利用規約を確認した">
                        </label>
                        <span class="form-control fw-bold">
                            <a href="{% url 'toukiApp:terms' %}" target="_blank" rel="noopener noreferrer">
                                利用規約
                            </a>
                            を確認した
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow-sm mt-3">
            <div class="card-body">
                <div class="card-title text-center">
                    <button type="submit" id="submitBtn" class="btn btn-primary" disabled="true">
                        アカウント登録へ
                        <span id="submitSpinner" class="spinner-border spinner-border-sm text-warning" role="status" style="display: none;">
                        </span>
                    </button>
                </div>
                <div id="availableText" class="card-text text-center fw-bold text-success" style="display:none;">
                    利用条件を満たしているため、ご利用できます。
                </div>
            </div>
        </div>
    </form>
    <div class="card shadow-sm mt-3">
        <div class="card-body">
            <div class="card-title text-center">
                <a href="{% url 'toukiApp:index' %}">
                    <button type="button" class="btn btn-secondary">トップページへ</button>
                </a>
            </div>
            <div class="card-text text-center">全てにチェックが入らない場合は、申し訳ありませんがご利用いただけません。</div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}

{% block js %}
    {% load static %}
    <script src="{% static 'toukiApp/condition.js' %}"></script>
{% endblock %}