{% extends "base.html" %}
{% block title %}{{title}}| {{block.super}}{% endblock title %}
{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'toukiApp/index.css' %}">
{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% load custom_filters %}

{% block content %}

{% if is_inquiry %}
    <div class="modal inquiry-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title fw-bold text-center">
                        お問い合わせありがとうございます！
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pb-3">
                    <span class="fw-bold border-bottom">
                        原則２４時間以内
                    </span>
                    にご回答いたしますので、恐れ入りますが今少しお時間をください。<br>
                    <span class="form-text">
                        ※金土日祝日にお問い合わせいただいた場合は、翌月曜日になることもあります。<br>
                        ※{{company_mail_address}}から受信できるように設定をお願いします。
                    </span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% for message in messages %}
    {% if message.tags == "success"%}
        <div id="logoutModal" class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <h5 class="modal-title">
                            ログアウトしました。
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            ご利用ありがとうございました。<br>
                            ご入力されたデータはログアウト直前に保存しました。<br>
                            最終更新日時：本日<span id="lastUpdateDate"></span>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                    </div>
                </div>
            </div>
        </div>
    {% elif message.tags == "warning" %}
        <div class="modal modal-warning inquiry-modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <h5 class="modal-title fw-bold">お問い合わせを受付できませんでした</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body pb-3">
                        <span class="fw-bold">
                            {{message}}
                        </span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                    </div>
                </div>
            </div>
        </div>
    {% elif message.tags == "error" %}
        <div class="modal inquiry-modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <h5 class="modal-title fw-bold">{{message|until:" "}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body pb-3">
                        <span class="fw-bold">
                            {{message|after:" "}}
                        </span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}


<div class="mx-md-auto">
    <div id="intro" class="my-5">
        <h3 class="text-center">
            <span class="border-start border-5 border-primary ps-3">{{company_app_name}}とは？</span>
        </h3>
        <h4 id="introSubtitle" class="py-3 mt-4">
            <div class="text-center fw-bold">
                相続登記のお悩みを一緒に解決します！
            </div>
            <div class="d-flex align-items-center justify-content-center">
                <span class="fs-6 ms-lg-2 fw-bold text-dark border border-dark p-1 rounded-1">司法書士監修</span> 
            </div>
        </h4>
        <div class="text-center">
            <a class="btn btn-primary p-2 fw-bold bg-gradient bg-opacity-50 border-0 shadow" href="{% url 'toukiApp:condition' %}">
                アカウント登録してみる！
            </a>
        </div>
        <div class="container d-lg-flex g-0 mt-3">
            <div class="col-lg-4 p-3">
                <div class="card">
                    <div class="card-header pt-3 bg-secondary-subtle bg-gradient bg-opacity-75">
                        <h5 class="text-center">
                            自分で手続をしたいが難しそう...
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                                <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                            </svg>
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="card-text fw-bold">
                            <span class="bg-primary bg-gradient bg-opacity-75 rounded-3 text-white ps-1 me-1">
                                提示される項目を入力するだけ
                            </span><br>
                            必要書類のリストや申請書類はシステムが作成しますので、手続について調べることはありません！<br>
                            画像を使った詳細な説明もありますので、自分で手続きしてみたいけど難しそう...と悩まれている方にもオススメできます。
                            <div class="mt-2 text-end">
                                <span class="text-primary fw-bold border-bottom border-dark toSupport">
                                    詳細なサポート内容へ
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-3">
                <div class="card col">
                    <div class="card-header pt-3 bg-secondary-subtle bg-gradient bg-opacity-75">
                        <h5 class="text-center">
                            費用を節約したい...
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-wallet2" viewBox="0 0 16 16">
                                <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
                            </svg>
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="card-text fs-6 fw-bold">
                            <span class="bg-primary bg-gradient bg-opacity-75 rounded-3 text-white ps-1 me-1">
                                システムの利用料は無料
                            </span><br>
                            司法書士に依頼すると8万円以上の報酬が発生することが多いため大幅な節約になります！<br>
                            システムの使用感の確認だけでもしてみませんか？<br>
                            ※丸投げしたい作業を専門家に依頼できる有料のオプションもご用意してます。
                            <div class="text-end mt-2">
                                <span class="border-bottom border-dark fw-bold text-primary toCharge">
                                    オプションの料金表へ
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-3">
                <div class="card col">
                    <div class="card-header pt-3 bg-secondary-subtle bg-gradient bg-opacity-75">
                        <h5 class="card-title border-bottom text-center ">
                            誰に頼めばいいかわからない...
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                            </svg>
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="card-text fw-bold">
                            <span class="bg-primary bg-gradient bg-opacity-75 rounded-3 text-white ps-1 me-1">
                                明瞭なサービス内容と料金表を提示
                            </span><br>
                            司法書士事務所によって対応に差があることが多く、安心して頼める事務所を探すのは大変ですが、弊社では、ご安心してシステムを利用していただけるよう心がけてます。<br>
                            少しでも気になることがありましたらお気軽ににお問い合わせください。
                            <div class="text-end mt-2">
                                <span class="border-bottom border-dark fw-bold text-primary toInquiry">
                                    お問い合わせフォームへ
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <div class="container mt-3">
        <div class="col-lg-8 mx-auto">
            <h5 class="text-center">
                <span class="border-dark border-bottom">
                    更新情報
                </span>
            </h5>
            <div class="d-flex justify-content-center">
                {% for article in update_articles %}
                    {% if update_articles.count == 0 %}
                    {% elif update_articles.count == 1 %}
                        <div class="card col-6 m-3 shadow-sm">
                    {% else %}
                        <div class="card col m-3 shadow-sm">
                    {% endif %}
                        <div class="card-body">
                            <ul class="ps-0 mb-0">
                                <li>
                                    <div class="fw-bold text-center bg-warning-subtle rounded-3">
                                        {{ article.title }}
                                    </div>
                                    <div class="mt-3">
                                        {{ article.article | linebreaksbr}}
                                        <div class="form-text text-end">{{ article.updated_at | date:"Y.n.j" }}</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <hr>
    <div id="support" class="my-5">
        <h3 class="text-center">
            <span class="border-start border-5 border-primary ps-3">サポート内容（全て無料）</span>
        </h3>
        <h4 class="py-3 mt-4 fw-bold text-center">
            ５つのステップで相続登記が完了します
        </h4>
        <ul class="container d-flex justify-content-center">
            <div class="col-xl-8">
                <span class="form-text">※STEPをクリックすると画面例が表示されます。</span>
                <li class="card">
                    <div class="card-body supportStep">
                        <h5 class="card-title">
                            <button type="button" class="btn btn-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#firstStepModal">
                                STEP1
                                <span class="ms-3">
                                    データ入力
                                </span>
                            </button>
                        </h5>
                        <div class="modal fade" id="firstStepModal" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5">STEP1</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        （Step1の画面を挿入する）
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-text fw-bold">
                            必要書類を確定させるための項目が提示されますのでご入力ください。
                        </div>
                    </div>
                </li>
                <li class="card mt-4">
                    <div class="card-body supportStep">
                        <h5 class="card-title">
                            <button type="button" class="btn btn-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#secondStepModal">
                                STEP2
                                <span class="ms-3">
                                    必要書類取得
                                </span>
                            </button>
                        </h5>
                        <div class="modal fade" id="secondStepModal" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5">STEP2</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        （Step2の画面を挿入する）
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-text fw-bold">
                            表示された必要書類一覧をご取得ください。書類の取得場所や方法なども記載されてます。<br>
                            書類取得代行又は書類をご取得いただいた後の不足がないかをチェックするオプションをご利用いただけます。<br>
                            ※一部ご本人様しか取得できない書類もあります。
                        </div>
                    </div>
                </li>
                <li class="card mt-4">
                    <div class="card-body supportStep">
                        <h5 class="card-title">
                            <button type="button" class="btn btn-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#thirdStepModal">
                                STEP3
                                <span class="ms-3">
                                    データ入力
                                </span>
                            </button>
                        </h5>
                        <div class="modal fade" id="thirdStepModal" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5">STEP3</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        （Step3の画面を挿入する）
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-text fw-bold">
                            申請書類の作成に必要な項目が提示されますので、ご取得された書類を確認しながらご入力ください。<br>
                            書類のどこを確認するのかひと目でわかる画像もつけてますので、簡単に入力が進みます。
                        </div>
                    </div>
                </li>
                <li class="card mt-4">
                    <div class="card-body supportStep">
                        <h5 class="card-title">
                            <button type="button" class="btn btn-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#fourthStepModal">
                                STEP4
                                <span class="ms-3">
                                    書類の印刷と署名押印
                                </span>
                            </button>
                        </h5>
                        <div class="modal fade" id="fourthStepModal" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5">STEP4</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        （Step4の画面を挿入する）
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-text fw-bold">
                            申請書類ができあがりますので、印刷してご署名押印ください。<br>
                            相続人皆様の署名押印が必要な書類もあります。<br>
                            ※遺産分割協議証明書は、代償分割、換価分割にも対応してます。
                        </div>
                    </div>
                </li>
                <li class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">
                            <button type="button" class="btn btn-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#fifthStepModal">
                                STEP5
                                <span class="ms-3">
                                    法務局に申請書類を郵送又は持参
                                </span>
                            </button>
                        </h5>
                        <div class="modal fade" id="fifthStepModal" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5">STEP5</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        （Step5の画面を挿入する）
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-text fw-bold">
                            書類が全て揃ったら整理して法務局に郵送または持参していただきます。<br>
                            申請にご不安がある場合は、提携の司法書士が代理で申請するオプションをご利用いただけます。
                        </div>
                    </div>
                </li>
                <li class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">
                            <button type="button" class="btn btn-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#ContactModal">
                                お問い合わせ対応
                            </button>
                        </h5>
                        <div class="modal fade" id="ContactModal" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5">お問い合わせ</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        （お問い合わせ画面を挿入する）
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-text fw-bold">
                            本システムを使用するにあたっての不明点については随時チャット又はメールによるお問い合わせを受け付けてます。<br>
                            原則24時間以内にご返信します。<br>
                            ※法的な判断を含むご相談を受けることはご対応できません。
                        </div>
                    </div>
                </li>
            </div>
        </ul>
    </div>
    <hr>
    <div id="charge" class="my-5">
        <h3 class="text-center">
            <span class="border-start border-5 border-primary ps-3">オプション料金（全て税込価格）</span>
        </h3>
        <h4 class="py-3 mt-4 fw-bold text-center">
            一部だけ司法書士にご依頼いただくこともできます。
        </h4>
        <div class="container">
            <div class="d-flex">
                <div class="col-lg-4 p-3">
                    <div class="card">
                        <div class="card-header pt-3 bg-gradient">
                            <h5 class="text-center">
                                必要証明書のチェック
                            </h5>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">
                                <span class="border-bottom border-dark border-2 px-2">
                                    11,000円
                                </span>
                            </h5>
                            <p class="card-text text-center mt-3 fw-bold">
                                <span class="d-inline-block text-start">
                                    ・ご取得された証明書の不足チェック<br>
                                    ・不足している書類のリストを作成
                                </span>
                            </p>
                            <p>
                                自分で取得してみたものの大丈夫かな？というご不安を解消します。
                            </p>
                            <div class="d-flex">
                                <span>
                                    ※
                                </span>
                                <span>
                                    チェックする書類が15通を超える場合、超過1通ごとに550円が加算されます。
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-3">
                    <div class="card">
                        <div class="card-header pt-3 bg-primary bg-gradient bg-opacity-75 text-white">
                            <h5 class="text-center">
                                必要証明書の代理取得
                            </h5>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">
                                <span class="border-bottom border-dark border-2 px-2">
                                    22,000円
                                </span>
                            </h5>
                            <p class="card-text text-center mt-3 fw-bold">
                                ・必要証明書を全て代理で取得
                            </p>
                            <p>
                                相続登記で一番面倒なところだけ専門家にお任せしてみませんか？
                            </p>
                            <div>
                                ※印鑑証明書は代理で取得できません。
                                <div class="d-flex">
                                    <span>
                                        ※
                                    </span>
                                    <span>
                                        取得する書類が15通を超える場合、超過1通ごとに1,100円が加算されます。
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-3">
                    <div class="card">
                        <div class="card-header pt-3 bg-gradient">
                            <h5 class="text-center" data-bs-toggle="tooltip" data-bs-title="かさばる戸籍謄本等の代わりになる証明書です。" data-bs-custom-class="custom-tooltip">
                                法定相続証明情報の代理取得
                            </h5>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">
                                <span class="border-bottom border-dark border-2 px-2">
                                    16,500円
                                </span>
                            </h5>
                            <p class="card-text text-center mt-3 fw-bold">
                                <span class="d-inline-block text-start">
                                    ・オプションの必要証明書のチェック<br>
                                    ・法定相続証明情報の代理取得
                                </span>
                            </p>
                            <p>
                                相続登記以外にも使用できる公的な相続関係図です。
                            </p>
                            <div class="d-flex">
                                <span>
                                    ※
                                </span>
                                <span>
                                    必要証明書の代理取得と併用いただく場合は11,000円になります。
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="col-lg-4 p-3">
                    <div class="card">
                        <div class="card-header pt-3 bg-gradient">
                            <h5 class="text-center">
                                法務局での代理申請
                            </h5>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">
                                <span class="border-bottom border-dark border-2 px-2">
                                    44,000円
                                </span>
                            </h5>
                            <p class="card-text text-center mt-3 fw-bold">
                                <span class="d-inline-block text-start">
                                    ・オプションの必要証明書のチェック<br>
                                    ・不動産漏れの確認<br>
                                    ・申請書類のチェック<br>
                                    ・法務局への申請<br>
                                    ・手続完了後の書類整理
                                </span>
                            </p>
                            <p>
                                司法書士が責任を持って申請書類の確認と法務局とのやり取りを行います。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-3">
                    <div class="card">
                        <div class="card-header pt-3 bg-gradient bg-success bg-opacity-75 text-white">
                            <h5 class="text-center">
                                全ておまかせ
                            </h5>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">
                                <span class="border-bottom border-dark border-2 px-2">
                                    88,000円
                                </span>
                            </h5>
                            <p class="card-text text-center mt-3 fw-bold">
                                ・弊社と提携の司法書士が全て行います
                            </p>
                            <p>
                                本システムを制作した者が面識ある司法書士を自信をもってご紹介いたします
                            </p>
                            <p>
                                自分でやろうと思ったけどやっぱり面倒だな、なかなかいい司法書士が見つからないときにご検討されてはいかがでしょうか？
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ps-3 mt-3">
                <span class="col card-text fst-italic mt-3 fw-bold">
                    ※必要書類の取得にかかる役所の手数料や法務局に支払う登録免許税などの実費は、上記料金とは別にご負担が必要です。
                </span><br>
                <span>
                    ・登録免許税は、不動産の固定資産評価額の0.4%です。
                </span>
            </div>
        </div>
    </div>
    <hr>
    <div id="compare" class="my-5">
        <h3 class="text-center">
            <span class="border-start border-5 border-primary ps-3">他社比較</span>
        </h3>
        <h4 class="py-3 mt-4 fw-bold text-center">
            他社のサービスとの比較表です。
        </h4>
        <div class="container">
            <div class="d-flex">
                <div class="col-lg-4 p-3">
                    <div class="card">
                        <div class="card-header pt-3 bg-secondary bg-gradient bg-opacity-75 text-white">
                            <h5 class="text-center">
                                Ａ社
                            </h5>
                        </div>
                        <div class="card-body">
                            <div class="mt-4">
                                <h5 class="card-title text-center">
                                    <span class="border-bottom border-dark border-2 px-2">
                                        最低料金：
                                        <span class="text-danger">
                                            93,500円（税込）
                                        </span>
                                    </span>
                                </h5>
                            </div>
                            <div class="mt-4">
                                <h5 class="card-title text-center">
                                    <span class="border-bottom border-dark border-2 px-2">
                                        オプション：
                                        <span class="text-success">
                                            預貯金の払い戻し
                                        </span>
                                    </span>
                                </h5>
                            </div>
                            <div class="mt-4">
                                <h5 class="card-title text-center">
                                    <span class="border-bottom border-dark border-2 px-2">
                                        概要
                                    </span>
                                </h5>
                                <p class="card-text mt-3 fw-bold">
                                    戸籍の取得を代行してくれてシステムに情報を入力すると申請書類ができあがる。
                                </p>
                            </div>
                            <div class="mt-4 p-2 bg-success-subtle bg-gradient rounded-3">
                                <h5 class="card-title text-center">
                                    <span class="border-bottom border-dark border-2 px-2">
                                        長所
                                    </span>
                                </h5>
                                <p class="card-text mt-3 fw-bold">
                                    ・不動産が何件でも、相続人が何人でも定額<br>
                                    ・証明書類の取得費用も含まれている<br>
                                    ・電話対応によるサポートが有る
                                </p>
                            </div>
                            <div class="mt-4 p-2 bg-danger-subtle bg-gradient rounded-3">
                                <h5 class="card-title text-center">
                                    <span class="border-bottom border-dark border-2 px-2">
                                        短所
                                    </span>
                                </h5>
                                <p class="card-text mt-3 fw-bold">
                                    ・93,500円以下で受任する司法書士は意外といるため、実は節約にあまりならない<br>
                                    ・登記申請を代理してくれるわけではないため、ミスがあれば結局自己責任になる
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-3">
                    <div class="card">
                        <div class="card-header pt-3 bg-secondary bg-gradient bg-opacity-75 text-white">
                            <h5 class="text-center">
                                Ｂ社
                            </h5>
                        </div>
                        <div class="card-body">
                            <div class="mt-4">
                                <h5 class="card-title text-center">
                                    <span class="border-bottom border-dark border-2 px-2">
                                        最低料金：
                                        <span class="text-success">
                                            無料
                                        </span>
                                    </span>
                                </h5>
                            </div>
                            <div class="mt-4">
                                <h5 class="card-title text-center">
                                    <span class="border-bottom border-dark border-2 px-2">
                                        オプション：
                                        <span class="text-danger">
                                            なし
                                        </span>
                                    </span>
                                </h5>
                            </div>
                            <div class="mt-4">
                                <h5 class="card-title text-center">
                                    <span class="border-bottom border-dark border-2 px-2">
                                        概要
                                    </span>
                                </h5>
                                <p class="card-text mt-3 fw-bold">
                                    資料請求すると無料で相続登記を自分でする方法が書かれた冊子が届く。
                                </p>
                            </div>
                            <div class="mt-4 p-2 bg-success-subtle bg-gradient rounded-3">
                                <h5 class="card-title text-center">
                                    <span class="border-bottom border-dark border-2 px-2">
                                        長所
                                    </span>
                                </h5>
                                <p class="card-text mt-3 fw-bold">
                                    ・無料で相続登記の方法がわかる
                                </p>
                            </div>
                            <div class="mt-4 p-2 bg-danger-subtle bg-gradient rounded-3">
                                <h5 class="card-title text-center">
                                    <span class="border-bottom border-dark border-2 px-2">
                                        短所
                                    </span>
                                </h5>
                                <p class="card-text mt-3 fw-bold">
                                    ・冊子を読むのが面倒<br>
                                    ・手作業が多く面倒
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-3">
                    <div class="card">
                        <div class="card-header pt-3 bg-primary bg-gradient bg-opacity-75 text-white">
                            <h5 class="text-center">
                                {{company_app_name}}
                            </h5>
                        </div>
                        <div class="card-body">
                            <div class="mt-4">
                                <h5 class="card-title text-center">
                                    <span class="border-bottom border-dark border-2 px-2">
                                        最低料金：
                                        <span class="text-success">
                                            無料
                                        </span>
                                    </span>
                                </h5>
                            </div>
                            <div class="mt-4">
                                <h5 class="card-title text-center">
                                    <span class="border-bottom border-dark border-2 px-2">
                                        オプション：
                                        <span class="text-success">
                                            複数種あり
                                        </span>
                                    </span>
                                </h5>
                            </div>
                            <div class="mt-4">
                                <h5 class="card-title text-center">
                                    <span class="border-bottom border-dark border-2 px-2">
                                        概要
                                    </span>
                                </h5>
                                <p class="card-text mt-3 fw-bold">
                                    システムに情報を入力すると必要書類を案内されて申請書類もできあがる
                                </p>
                            </div>
                            <div class="mt-4 p-2 bg-success-subtle bg-gradient rounded-3">
                                <h5 class="card-title text-center">
                                    <span class="border-bottom border-dark border-2 px-2">
                                        長所
                                    </span>
                                </h5>
                                <p class="card-text mt-3 fw-bold">
                                    ・無料でシステムを利用できる<br>
                                    ・必要があるときだけオプションを利用できる<br>
                                    ・オプションを利用しても他社より安く済ませることができる<br>
                                    ・元司法書士が制作し、現役の司法書士が監修したシステム
                                </p>
                            </div>
                            <div class="mt-4 p-2 bg-danger-subtle bg-gradient rounded-3">
                                <h5 class="card-title text-center">
                                    <span class="border-bottom border-dark border-2 px-2">
                                        短所
                                    </span>
                                </h5>
                                <p class="card-text mt-3 fw-bold">
                                    ・預貯金の払い戻しに対応していない<br>
                                    ・お問い合わせ対応はメールのみ
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div id="QA" class="my-5">
        <h3 class="text-center">
            <span class="border-start border-5 border-primary ps-3">Ｑ＆Ａ</span>
        </h3>
        <div class="row justify-content-center mt-4">
            <div class="w-75">
                <div class="accordion">
                    <div class="accordion-item">
                        <div class="accordion-header" id="q1">
                            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#a1" aria-expanded="false" aria-controls="a1">
                                <h5 class="mb-0">
                                    Q.遺産分割の内容をどう決めるべきかなど
                                    <span class="text-primary">
                                        法的な内容を含む相談
                                    </span>
                                    はできる？
                                </h5>
                            </button>
                        </div>
                        <div id="a1" class="accordion-collapse collapse" aria-labelledby="q1">
                            <div class="accordion-body ps-5 fs-5">
                                <p class="fw-bold">
                                    A.法的な内容を含むご相談への対応は司法書士や弁護士などの専門家の独占業務のためご対応できません。
                                </p>
                                <div class="ps-3">
                                    <p>
                                        提携の司法書士にご依頼いただいた場合は、その司法書士にご相談いただくことができます。
                                    </p>
                                    以下、専門家以外は
                                    <span class="fw-bold border-bottom border-dark">
                                        ご対応できない相談例
                                    </span>
                                    です<br>
                                    ・遺産分割の内容をどうすべきか<br>
                                    ・他の相続人への遺産分割の交渉<br>
                                    ・相続税額の計算や相続税対策<br>
                                    ・訴訟、調停の可否、など
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header" id="q2">
                            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#a2" aria-expanded="false" aria-controls="a2">
                                <h5 class="mb-0">Q.相続人の判定の仕方を教えて</h5>
                            </button>
                        </div>
                        <div id="a2" class="accordion-collapse collapse" aria-labelledby="q2">
                            <div class="accordion-body ps-5 fs-5">
                                <p class="fw-bold">
                                    A.本システムのSTEP1をご利用いただくことで確認することができます。
                                </p>
                                <div class="ps-3">
                                    <p>
                                        <span class="fw-bold border-bottom border-dark">
                                            被相続人の死亡時を基準に
                                        </span>
                                        <span class="bg-primary-subtle rounded-3">
                                            直系卑属※がいたら直系卑属
                                        </span>
                                        、
                                        <span class="bg-success-subtle rounded-3">
                                            いない場合は直系尊属※
                                        </span>
                                        、
                                        <span class="bg-warning-subtle rounded-3">
                                            直系尊属がいない場合は兄弟姉妹
                                        </span>
                                        の順番で相続人となり、
                                        <span class="bg-danger-subtle rounded-3">
                                            配偶者はこれらの相続人と一緒に相続人
                                        </span>
                                        になります。<br>
                                        相続後に亡くなった相続人がいる場合は、その方についても同様の判定を行います。<br>
                                    </p>
                                    <p>
                                        <span class="bg-primary-subtle rounded-3">
                                            ※直系卑属：
                                        </span>
                                        被相続人より後の世代（子、孫、ひ孫...）の続柄のこと（養子を含みます）。<br>
                                        <span class="bg-success-subtle rounded-3">
                                            ※直系尊属：
                                        </span>
                                        被相続人より前の世代（父母、祖父母...）の続柄のこと（養親を含みます）。<br>
                                    </p>
                                    例）被相続人が亡くなったとき配偶者と子1人がいたが、子がその後に亡くなって、その子に配偶者と子が2人いたとき<br>
                                    <span class="ps-3">
                                        相続人は、➀被相続人の配偶者➁子の配偶者➂➃子の子2人、の計4名になります。<br>
                                        ※子が被相続人より先に亡くなっているときは子の配偶者は相続人になりません。
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header" id="q3">
                            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#a3" aria-expanded="false" aria-controls="a3">
                                <h5 class="mb-0">Q.登記が何かもよくわからないけど大丈夫？</h5>
                            </button>
                        </div>
                        <div id="a3" class="accordion-collapse collapse" aria-labelledby="q3">
                            <div class="accordion-body ps-5 fs-5">
                                <p class="fw-bold">
                                    A.お時間があってやる気がある方であれば大丈夫です。
                                </p>
                                <div class="ps-3">
                                    相続登記はお亡くなりになった方が所有していた不動産の名義変更手続きのことです。<br>
                                    本システムを使用すると手続きをどう進めればいいか明確なので
                                    <span class="fw-bold border-bottom border-dark">
                                        難しいことはない
                                    </span>
                                    です。<br>
                                    ただ、何をすべきかわかっても役所で証明書を取得したり書類を整理したりする労力は省くことはできないため、
                                    <span class="fw-bold border-bottom border-dark">
                                        時間とやる気は必要
                                    </span>
                                    になります。<br>
                                    もし途中で丸投げしたくなった場合はオプションを利用することもできますので、お急ぎでなければ、まずはご自身で
                                    されてみるのもいいかと思います。
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header" id="q4">
                            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#a4" aria-expanded="false" aria-controls="a4">
                                <h5 class="mb-0">Q.実費はいくらぐらいかかる？</h5>
                            </button>
                        </div>
                        <div id="a4" class="accordion-collapse collapse" aria-labelledby="q4">
                            <div class="accordion-body ps-5 fs-5">
                                <p class="fw-bold">
                                    A.相続人が何人いるか、不動産の評価額がいくらかによるため一概にお答えできませんが以下に一例を挙げます。
                                </p>
                                <div class="ps-3">
                                    <p>
                                        例）相続人が配偶者と子3人／不動産が土地1筆、建物1棟で固定資産評価額の合計が3000万円の場合
                                        <span class="form-text">
                                            ※固定資産評価額は毎年4月頃に届く固定資産税の納税通知書と一緒に同封されている課税明細書に記載されてます。
                                        </span><br>
                                    </p>
                                    <div class="ps-3">
                                        ・必要書類の取得費：約6000円（郵送で取得する場合は別途郵送費）<br>
                                        ・登録免許税：12万円<br>
                                        ・法務局へ郵送：1040円（レターパックプラス2通）<br>
                                        <span class="fw-bold border-bottom border-dark">
                                            計約12万7040円
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header" id="q5">
                            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#a5" aria-expanded="false" aria-controls="a5">
                                <h5 class="mb-0">Q.対応しているブラウザはなに？</h5>
                            </button>
                        </div>
                        <div id="a5" class="accordion-collapse collapse" aria-labelledby="q5">
                            <div class="accordion-body ps-5 fs-5">
                                <p class="fw-bold">
                                    A.google chrome、FireFox、Safari、microsoft edgeのいずれを推奨します。<br>
                                </p>
                                <div class="ps-3">
                                    その他のブラウザでは使用状況を検証してません。
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header" id="q6">
                            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#a6" aria-expanded="false" aria-controls="a6">
                                <h5 class="mb-0">Q.営業の電話はメールはしないでほしい</h5>
                            </button>
                        </div>
                        <div id="a6" class="accordion-collapse collapse" aria-labelledby="q6">
                            <div class="accordion-body ps-5 fs-5">
                                <div class="fw-bold">
                                    A.弊社では営業の連絡を一切しておりませんので、ご安心して利用ください。<br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header" id="q7">
                            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#a7" aria-expanded="false" aria-controls="a7">
                                <h5 class="mb-0">Q.結局他社と比べてどっちがいいかわからない？</h5>
                            </button>
                        </div>
                        <div id="a7" class="accordion-collapse collapse" aria-labelledby="q7">
                            <div class="accordion-body ps-5 fs-5">
                                <p class="fw-bold">
                                    A.候補となっている他社様のサービスのホームページのURLを教えてください
                                </p>
                                <div class="ps-3">
                                    中立的にサービスを比較してどれがお客様に合っているか提案させていただきます。<br>
                                    必ず自社のサービスを提案するという営業は絶対にしません。
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header" id="q8">
                            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#a8" aria-expanded="false" aria-controls="a8">
                                <h5 class="mb-0">Q.無料で使ってても問い合わせは何回してもいいの？</h5>
                            </button>
                        </div>
                        <div id="a8" class="accordion-collapse collapse" aria-labelledby="q8">
                            <div class="accordion-body ps-5 fs-5">
                                <p class="fw-bold">
                                    A.法的な判断が必要なお問い合わせ以外であれば何回でもご回答いたします。
                                </p>
                                <div class="ps-3">
                                    簡単にご利用いただけるように随所に説明文や画像を挿入しておりますので、そちらもぜひご活用ください
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div id="inquiry" class="my-5 container">
        <h3 class="text-center">
            <span class="border-start border-5 border-primary ps-3">お問い合わせ</span>
        </h3>
        <h4 class="py-3 my-4 fw-bold text-center">
            ご不明な点がありましたらお気軽にお問い合わせください<br>
            サービス向上のためご意見・ご要望もいただけると嬉しいです<br>
        </h4>
        <form method="POST" action="{% url 'toukiApp:index' %}" class="col-lg-6 col-md-8 col-sm-11 mx-auto">
            {% csrf_token %}
            {% for field in forms %}
                {% if not field.html_name == "content" %}
                    <div class="input-group">
                        <label for="{{field.auto_id}}" class="input-group-text label">
                            {{ field.label }}
                        </label>
                        {{ field }}
                        <span id="{{field.auto_id}}_messageEl" class="errorMessage emPosition rounded-3" style="display: none;">
                        </span>
                    </div>
                {% else %}
                    <div class="mt-4">
                        <span class="fw-bold">
                            お問い合わせ内容
                        </span>
                        <p class="input-group mt-1">
                            {{ field }}
                            <span id="{{field.auto_id}}_messageEl" class="errorMessage emPosition rounded-3" style="display: none;">
                            </span>
                        </p>
                    </div>
                {% endif%}
            {% endfor %}
            {% if form.errors %}
                <div class="fw-bold bg-danger-subtle border rounded-3 ps-3 pt-3 mt-3">
                    {% for field, errors in form.errors.items %}
                        <div>
                            {% if field == "__all__" %}
                                <div>アカウントデータに関するエラー</div>
                            {% else %}
                                {% if field == "created_by" %}
                                    <div>メールアドレスのエラー</div>
                                {% elif field == "subject" %}
                                    <div>件名のエラー</div>
                                {% elif field == "content" %}
                                    <div>お問い合わせ内容のエラー</div>
                                {% endif %}
                            {% endif %}
                            <ul>
                                {% for error in errors %}
                                <li style="list-style-type: none;">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="text-center mt-3" disabled="true">
                <p class="text-danger">
                    ※toukiaidev@gmail.comからのメールを受信できるように設定をお願いします。
                </p>
                <button type="button" id="beforeSubmitBtn" class="btn btn-primary">送信</button>
                <div class="modal fade" id="submitModal" tabindex="-1" aria-labelledby="submitModalTitle" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header justify-content-center">
                                <h5 class="modal-title p-1 bg-warning-subtle" id="submitModalTitle">
                                    メールアドレスと内容にお間違えはないですか？
                                </h5>
                            </div>
                            <div class="modal-body">
                                <div class="mt-3">
                                    <div class="badge rounded-pill text-bg-light fs-6 fw-bold">
                                        メールアドレス
                                    </div>
                                    <p>
                                        <span id="modalCreatedBy">
                                        </span>
                                    </p>
                                </div>
                                <div class="mt-3">
                                    <div class="badge rounded-pill text-bg-light fs-6 fw-bold">
                                        お問い合わせ内容
                                    </div>
                                    <p class="px-5 text-break text-start">
                                        <span id="modalContent">
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="modal-footer justify-content-evenly">
                                <button id="submitBtn" type="submit" class="btn btn-primary">送信する</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">修正する</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}

{% block js %}
    {% load static %}
    <script src="{% static 'toukiApp/index.js' %}"></script>
{% endblock %}