{% extends "base.html" %}
{% block title %}{{ title }} | {{ block.super}}{% endblock title %}

{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'toukiApp/privacy.css' %}">
{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
<div class="mx-auto col-lg-8">
    <div class="card shadow-sm bg-light">
        <div class="card-body">
            <h4 class="card-title border-bottom">
                <span class="border-start border-5 border-primary ps-3">{{ title }}</span>
            </h4>
            <div class="content_wrapper px-lg-3">
                <p class="card-text pt-3">
                    {{company_data.NAME}}（以下「当社」といいます。）は、{{company_data.APP_NAME}}（以下、「本サービス」といいます。）におけるユーザーの個人情報の取り扱いについて以下のとおり定めます。
                </p>
                <div>
                    <div class="fw-bold" >
                        １
                        <span class="ms-3">
                            個人情報の定義
                        </span>
                    </div>
                    <div class="card-text bg-white border rounded-3 p-3">
                        個人情報とは、個人情報保護法にいう個人情報を指すものとし、生存する個人に関する情報であって、氏名、生年月日、住所などにより特定の個人を識別できる情報及び健康保険証の保険者番号などの当該情報それ自体から特定の個人を識別できる情報を指します。
                    </div>
                </div>
                <div>
                    <div class="fw-bold">
                        ２
                        <span class="ms-3">
                            個人情報の収集
                        </span>
                    </div>
                    <div class="card-text bg-white border rounded-3 p-3">
                        当社は、ユーザーがアカウント登録をする際などに氏名、住所、電話番号、メールアドレス、クレジットカード番号など入力された限りで個人情報を取得します。
                    </div>
                </div>
                <div>
                    <div class="fw-bold">
                        ３
                        <span class="ms-3">
                            個人情報を収集する目的
                        </span>
                    </div>
                    <div class="card-text">
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item">
                                当社サービスの提供・運営・改善のため
                            </li>
                            <li class="list-group-item">
                                ユーザーからのお問い合わせに回答するため
                            </li>
                            <li class="list-group-item">
                                ユーザーへ新機能、更新情報、キャンペーンなど有益な情報をメールで送付するため
                            </li>
                            <li class="list-group-item">
                                メンテナンス、重要なお知らせなど必要に応じたご連絡のため
                            </li>
                            <li class="list-group-item">
                                利用規約に違反したユーザーや、不正・不当な目的でサービスを利用しようとするユーザーの特定をして本サービスを保護するため
                            </li>
                            <li class="list-group-item">
                                ユーザーに自身の登録情報の閲覧や変更、削除、利用状況の閲覧を行っていただくため
                            </li>
                            <li class="list-group-item">
                                有料サービスにおいて、ユーザーに利用料金を請求するため
                            </li>
                            <li class="list-group-item">
                                上記の利用目的に付随する行為
                            </li>
                        </ol>
                    </div>
                </div>
                <div>
                    <div class="fw-bold">
                        ４
                        <span class="ms-3">
                            利用目的の変更
                        </span>
                    </div>
                    <div class="card-text">
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item">
                                当社は、利用目的が変更前と関連性を有すると合理的に認められる場合に限り、個人情報の利用目的を変更できるものとします。
                            </li>
                            <li class="list-group-item">
                                利用目的の変更を行った場合には、変更後の目的について、当社所定の方法により、ユーザーに通知し、または本ウェブサイト上に公表します。
                            </li>
                        </ol>
                    </div>
                </div>
                <div>
                    <div class="fw-bold">
                        ５
                        <span class="ms-3">
                            個人情報の第三者提供
                        </span>
                    </div>
                    <div class="card-text bg-white border rounded-3 p-3">
                        当社は、原則として、本人の同意を得ずに個人情報を第三者に提供しませんが、
                        本サービスの改善のため、ユーザーの弊社Webサイトの閲覧時間やシステムの利用状況など
                        個人を特定する情報を含まない範囲でGoogle Analyticsに情報を提供します。
                        <br>
                        <a class="ms-3" href="https://policies.google.com/privacy" target="_blank" rel="noopener noreferrer">
                            googleのプライバシーポリシー
                        </a>
                    </div>
                </div>
                <div>
                    <div class="fw-bold">
                        ６
                        <span class="ms-3">
                            個人情報の開示
                        </span>
                    </div>
                    <div class="card-text bg-white border rounded-3 p-3">
                        １．当社は、本人から個人情報の開示を求められたときは、本人に対し、遅滞なくこれを開示します。
                        ただし、開示することにより次のいずれかに該当する場合は、その全部または一部を開示しないことがあります。
                        その場合は、その旨を遅滞なく通知します。
                        <br>
                        <span class="ms-3">
                            なお、個人情報の開示に際しては、1件あたり1,000円の手数料を請求します。
                        </span>
                        <ol class="ps-0 mt-3">
                            <li>
                                ①本人または第三者の生命、身体、財産その他の権利利益を害するおそれがある場合
                            </li>
                            <li>
                                ②当社の業務の適正な実施に著しい支障を及ぼすおそれがある場合
                            </li>
                            <li>
                                ③その他法令に違反することとなる場合
                            </li>
                        </ol>
                        <p class="card-text">
                            ２．前項の定めにかかわらず、履歴情報および特性情報などの個人情報以外の情報については、原則として開示いたしません。
                        </p>
                    </div>
                </div>
                <div>
                    <div class="fw-bold">
                        ７
                        <span class="ms-3">
                            個人情報の訂正および削除
                        </span>
                    </div>
                    <div class="card-text">
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item">
                                ユーザーは、当社の保有する自己の個人情報が誤った情報である場合、問い合わせにより当社に対して個人情報の訂正、追加または削除（以下、「訂正等」といいます。）を請求することができます。
                            </li>
                            <li class="list-group-item">
                                当社は、ユーザーから前項の請求を受けて、その請求に応じる必要があると判断した場合、遅滞なく当該個人情報の訂正等を行うものとします。
                            </li>
                            <li class="list-group-item">
                                当社は、前項の規定に基づき訂正等を行った場合、または訂正等を行わない旨の決定をした場合、遅滞なくこれをユーザーに通知します。
                            </li>
                        </ol>
                    </div>
                </div>
                <div>
                    <div class="fw-bold">
                        ８
                        <span class="ms-3">
                            個人情報の利用停止等
                        </span>
                    </div>
                    <div class="card-text">
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item">
                                当社は、本人から個人情報が利用目的の範囲を超えて取り扱われているという理由、または不正の手段により取得されたものであるという理由により、その利用の停止または消去（以下、「利用停止等」といいます。）を求められた場合には、遅滞なく必要な調査を行います。
                            </li>
                            <li class="list-group-item">
                                前項の調査結果に基づき、その請求に応じる必要があると判断した場合には、遅滞なく、当該個人情報の利用停止等を行います。
                            </li>
                            <li class="list-group-item">
                                当社は、前項の規定に基づき利用停止等を行った場合、または利用停止等を行わない旨の決定をしたときは、遅滞なく、これをユーザーに通知します。
                            </li>
                            <li class="list-group-item">
                                前２項にかかわらず、利用停止等に多額の費用を有する場合その他利用停止等を行うことが困難な場合であって、ユーザーの権利利益を保護するために必要なこれに代わるべき措置をとれる場合は、この代替策を講じるものとします。
                            </li>
                        </ol>
                    </div>
                </div>
                <div>
                    <div class="fw-bold">
                        ９
                        <span class="ms-3">
                            プライバシーポリシーの変更
                        </span>
                    </div>
                    <div class="card-text">
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item">
                                本ポリシーの内容は、法令その他本ポリシーに別段の定めのある事項を除いて、ユーザーに通知することなく変更することができるものとします。
                            </li>
                            <li class="list-group-item">
                                当社が別途定める場合を除いて、変更後のプライバシーポリシーは、本Webサイトに掲載したときから効力を生じるものとします。
                            </li>
                        </ol>
                    </div>
                </div>
                <div>
                    <div class="fw-bold">
                        １０
                        <span class="ms-3">
                            免責事項
                        </span>
                    </div>
                    <div class="card-text">
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item">
                                当社が提供する情報の正確さには万全を期していますが、利用者が当社が提供した情報を用いて行う一切の行為に関して、当社は一切の責任を負わないものとします。

                            </li>
                            <li class="list-group-item">
                                当社は、利用者が当社Webサイトを利用したことにより生じた利用者の損害及び利用者が第三者に与えた損害に関して、一切の責任を負わないものとします。
                            </li>
                        </ol>
                    </div>
                </div>
                <div>
                    <div class="fw-bold" >
                        １２
                        <span class="ms-3">
                            本ポリシーに関する窓口
                        </span>
                    </div>
                    <div class="card-text bg-white border rounded-3 p-3">
                        <div id="companyInfo" class="mx-auto">
                            <div class="d-flex">
                                <div class="label">
                                    会社名
                                </div>
                                <div>
                                    {{company_data.NAME}}
                                </div>
                            </div>
                            <div class="d-flex mt-3">
                                <div class="label">
                                    所在地
                                </div>
                                <div>
                                    <div>
                                        {{company_data.ADDRESS}}
                                    </div>
                                    <div>
                                        {{company_data.BLDG}}
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex mt-3">
                                <div class="label">
                                    代表取締役
                                </div>
                                <div>
                                    {{company_data.CEO}}
                                </div>
                            </div>
                            <div class="d-flex mt-3">
                                <div class="label">
                                    メールアドレス
                                </div>
                                <div>
                                    {{company_data.MAIL_ADDRESS}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="fw-bold">
                        １３
                        <span class="ms-3">
                            SSLについて
                        </span>
                    </div>
                    <div class="card-text bg-white border rounded-3 p-3">
                        当社のWebサイトはSSLに対応しており、ユーザーが入力する情報は自動的に暗号化されます。
                    </div>
                </div>
                <div>
                    <div class="fw-bold">
                        １４
                        <span class="ms-3">
                            cookie（クッキー）について
                        </span>
                    </div>
                    <div class="card-text bg-white border rounded-3 p-3">
                        本サービスではユーザビリティを向上するためにクッキーを利用しています。
                        <br>
                        これを拒否したい場合は、ユーザー自身でクッキーを拒否する設定をお願いします。
                    </div>
                </div>
            </div>
            <div class="mt-3 text-end fw-bold">
                制定日：令和６年４月１日
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}

{% block js %}
    {% load static %}
    <script src="{% static 'toukiApp/privacy.js' %}"></script>
{% endblock %}