{% extends "toukiApp/base.html" %}
{% block title %}{{ title }} | {{ block.super}}{% endblock title %}
{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'toukiApp/step_four.css' %}">
    <link rel="stylesheet" href="{% static 'toukiApp/parts/messages.css' %}">
    <link rel="stylesheet" href="{% static 'toukiApp/parts/reference-document.css' %}">
{% endblock %}
{% block header %}
    {% include "toukiApp/step_header.html" %}
{% endblock %}
{% load custom_filters %}
{% block content %}

{% include "toukiApp/parts/step_messages.html" %}
{% include "toukiApp/parts/modals/alt_stamp_certificate.html" %}
{% include "toukiApp/parts/acquirer_resident_certification_three.html" %}

<div class="d-flex px-0 px-md-3 container-xxl">
    {% include "toukiApp/step_sidebar.html" %}
    <div class="pt-4 ps-sm-4 container-xxl">
        <div>
            <h4>
                各書類を印刷してご署名押印などをお願いします。
            </h4>
            <div class="text-danger fw-bold d-flex">
                <div>
                    ※
                </div>
                <div>
                    印刷前に内容（特に誤字脱字）の確認をお願いします。
                </div>
            </div>
        </div>
        <hr>
        <form action="{% url 'toukiApp:step_four' %}" method="POST" class="my-4" novalidate>
            {% csrf_token %}
            {% if heirs|length > 1 %}
                <section class="container">
                    <div class="form-check mt-3">
                        <div class="ps-2">
                            <input class="form-check-input fs-5" type="checkbox" value="" id="CbDivisionAgreement">
                        </div>
                        <label class="form-check-label fw-bold fs-5 ps-2 fst-italic" for="CbDivisionAgreement">
                            遺産分割協議証明書
                            <span class="ms-3 sheet-count">
                                各相続人１通ずつ
                            </span>
                        </label>
                    </div>
                    <div class="mt-4">
                        <a href="{% url 'toukiApp:step_division_agreement' %}" class="btn btn-primary p-2 fw-bold bg-gradient bg-opacity-50 border-0 shadow" role="button" target="_blank" rel="noopener noreferrer">
                            印刷ページへ
                        </a>
                    </div>
                    <div class="mt-4">
                        <div class="mt-3">
                            <span class="fw-bold">
                                ＞相続人に該当する方々
                            </span>
                            <div class="ps-3 ps-sm-5">
                                <ul id="heirsList" class="list-group">
                                    {% for heir in heirs %}
                                        <li class="text-success fw-bold">
                                            {{heir.name}} さん
                                        </li>
                                    {% endfor %}
                                </ul>
                                <ul class="mt-3 ps-0 mb-0">
                                    <li class="d-flex">
                                        <div class="text-danger">
                                            ※
                                        </div>
                                        <div>
                                            <span class="text-danger">
                                                各自の印鑑証明書と戸籍（全部または個人）事項証明書１通ずつも必要です。
                                            </span>
                                        </div>
                                    </li>
                                    <li class="d-flex">
                                        <div>
                                            ※
                                        </div>
                                        <div>
                                            不動産を取得する方は
                                            <span class="border-bottom border-secondary">
                                                住民票（マイナンバー記載なし）または戸籍の附票１通
                                            </span>
                                            も必要です。
                                        </div>
                                    </li>
                                    <li class="d-flex">
                                        <div>
                                            ※
                                        </div>
                                        <div>
                                            １通に全員が署名押印する必要はないです。
                                        </div>
                                    </li>
                                </ul>
                                {% if minors|length > 0 %}
                                    <div class="mt-3">
                                        <span class="fw-bold border-bottom border-primary">
                                            未成年のため法定代理人の署名押印と印鑑証明書が必要です。
                                            <br>
                                            ただし、印鑑証明書を取得できる場合は、未成年者の署名押印と印鑑証明書で大丈夫です。
                                        </span>
                                        <ul>
                                            {% for minor in minors %}
                                                <li class="ms-3">
                                                    {{minor.name}} さん
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                                {% if overseas|length > 0 %}
                                    <div class="mt-3">
                                        <div class="d-flex">
                                            <div>
                                                ※
                                            </div>
                                            <div>
                                                <div>
                                                    <span class="fw-bold">
                                                        日本に住民票がない方は、印鑑証明書の代わりに現地の領事館または大使館での
                                                        <button type="button" class="fw-bold text-primary" data-bs-toggle="modal" data-bs-target="#alt_stamp_certificate_modal">
                                                            署名証明
                                                        </button>
                                                        が必要です。
                                                    </span>
                                                    <br>
                                                    日本に帰国している場合は、日本の公証人役場での署名証明でも大丈夫です。
                                                </div>
                                                <div class="d-flex">
                                                    <div>
                                                        ※
                                                    </div>
                                                    <div>
                                                        不動産を取得する場合は、住民票または戸籍の附票の代わりに
                                                        <button type="button" class="fw-bold text-primary" data-bs-toggle="modal" data-bs-target="#acquirer_resident_certification_three">
                                                            在留証明書
                                                        </button>
                                                        も必要です。
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="ps-3 ps-sm-5">
                                            {% for oversea in overseas %}
                                                <li class="fw-bold text-success">
                                                    {{oversea.name}} さん
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </section>
                <hr>
            {% endif %}
            {% if principal_names_and_POA_count %}
                <section class="container">
                    <div class="form-check mt-3">
                        <div class="ps-2">
                            <input class="form-check-input fs-5" type="checkbox" value="" id="CbPOA">
                        </div>
                        <label class="form-check-label fw-bold fs-5 ps-2 fst-italic" for="CbPOA">
                            委任状
                        </label>
                    </div>
                    <div class="mt-4">
                        <a href="{% url 'toukiApp:step_POA' %}" class="btn btn-primary p-2 fw-bold bg-gradient bg-opacity-50 border-0 shadow" role="button" target="_blank" rel="noopener noreferrer">
                            印刷ページへ
                        </a>
                    </div>
                    <div class="mt-4 fw-bold">
                        {% if principal_names_and_POA_count|length > 1 %}
                            以下の方々を委任者、申請手続きをする
                            <span class="px-3 border-bottom border-dark">
                                {{agent_name}}さん
                            </span>
                            を受任者とする委任状が必要です。
                        {% else %}
                            <span class="px-3 border-bottom border-dark">
                                {{principal_names_and_POA_count.0.name}}さんを委任者
                            </span>
                            、申請手続きをする
                            <span class="px-3 border-bottom border-dark">
                                {{agent_name}}さんを受任者
                            </span>
                            とする委任状が
                            <span class="px-3 border-bottom border-dark">
                                {{principal_names_and_POA_count.0.count|to_full_width}}通
                            </span>
                            が必要です。
                        {% endif %}
                    </div>
                    {% if principal_names_and_POA_count|length > 1 %}
                        <div class="mt-3">
                            <span class="fw-bold">
                                ＞委任者になる方々と各自の通数
                            </span>
                            <ul class="list-group ps-5">
                                {% for x in principal_names_and_POA_count %}
                                    <li class="fw-bold">
                                        <span class="text-success">
                                            {{x.name}} さん
                                        </span>
                                        <span class="ms-4">
                                            {{x.count}}通
                                        </span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </section>
                <hr>
            {% endif %}
            <section class="container">
                <div class="form-check mt-3">
                    <div class="ps-2">
                        <input class="form-check-input fs-5" type="checkbox" value="" id="CbApplicationForm">
                    </div>
                    <label class="form-check-label fw-bold fs-5 ps-2 fst-italic" for="CbApplicationForm">
                        登記申請書
                        <span class="ms-3 sheet-count">
                            印刷ページで表示されている分全て
                        </span>
                    </label>
                </div>
                <div class="mt-4">
                    <a href="{% url 'toukiApp:step_application_form' %}" class="btn btn-primary p-2 fw-bold bg-gradient bg-opacity-50 border-0 shadow" role="button" target="_blank" rel="noopener noreferrer">
                        印刷ページへ
                    </a>
                </div>
                <div class="mt-4 fw-bold">
                    複数の市区町村にわたって不動産がある場合や、不動産ごとに取得者が異なる場合は２通以上になることもあります。
                </div>
            </section>
            <hr>
            <section class="container">
                <div class="form-check mt-3">
                    <div class="ps-2">
                        <input class="form-check-input fs-5" type="checkbox" value="" id="CbDiagram">
                    </div>
                    <label class="form-check-label fw-bold fs-5 ps-2 fst-italic" for="CbDiagram">
                        相続関係説明図
                        <span class="ms-3 sheet-count">
                            印刷ページで表示されている分全て
                        </span>
                    </label>
                </div>
                <div class="mt-4">
                    <a href="{% url 'toukiApp:step_diagram' %}" class="btn btn-primary p-2 fw-bold bg-gradient bg-opacity-50 border-0 shadow" role="button" target="_blank" rel="noopener noreferrer">
                        印刷ページへ
                    </a>
                </div>
                <div class="mt-4 fw-bold">
                    各登記申請書に１通の相続関係説明図が必要です。
                    <br>
                    署名押印は不要です。
                </div>
            </section>
            <hr>
            <div class="mt-5">
                <div class="d-flex justify-content-evenly px-3 pb-3">
                    <div>
                        <button id="preBtn" type="button" class="btn btn-secondary fw-bold bg-gradient bg-opacity-50">
                            前に戻る
                            <span id="spinner" class="spinner-border spinner-border-sm text-warning" role="status" style="display: none;">
                            </span>
                        </button>
                    </div>
                    <div>
                        <button id="submitBtn" type="submit" class="btn btn-primary fw-bold bg-gradient bg-opacity-50" disabled>
                            次に進む
                            <span id="submitSpinner" class="spinner-border spinner-border-sm text-warning" role="status" style="display: none;">
                            </span>
                        </button>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="d-flex fw-bold">
                        <div>
                            ※
                        </div>
                        <div>
                            前に戻るボタンを押すと、ここでのチェックの状態が初期化されます。
                            <br>
                            前の項目を確認するだけの場合は、進捗状況からご移動ください。
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include "toukiApp/step_footer.html" %}
{% endblock %}

{% block js %}
    {% load static %}
    <script src="{% static 'toukiApp/step_four.js' %}"></script>
    <script src="{% static 'toukiApp/parts/messages.js' %}"></script>
    <script> const progress = JSON.parse("{{progress|escapejs}}"); </script>
{% endblock %}