{% extends "toukiApp/base.html" %}
{% block title %}{{ title }} | {{ block.super}}{% endblock title %}
{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'toukiApp/step_six.css' %}">
{% endblock %}
{% block header %}
    {% include "toukiApp/step_header.html" %}
{% endblock %}
    {% load custom_filters %}
{% block content %}
<div class="d-flex container-xxl">
    {% include "toukiApp/step_sidebar.html" %}
    <div class="pt-4 ps-4 container-xxl">
        <div>
            <h4>
                法務局に書類を提出した後について
            </h4>
        </div>
        <hr>
        <ol id="wrap" class="col-lg-10">
            <li class="container">
                <h5>
                    提出した申請書類に不備があった場合
                </h5>
                <div class="mt-3 ms-3">
                    <div>
                        <p>
                            法務局から電話で
                            <span class="fw-bold border-bottom border-dark">
                                不備を修正（補正）又は申請を取下げる
                            </span>
                            ように指示がありますので、下記を参考にご対応ください。
                        </p>
                        指示内容に不明な点があれば、補正なのか取り下げなのか、何を提出すればいいのかなど適宜質問をして対応方法をご確認ください。
                        <br>
                        ※可能であれば指示対象の申請の
                        <span class="fw-bold">
                            受付年月日と受付番号
                        </span>
                        のメモをお願いします。
                    </div>
                    <div class="mt-3">
                        <span class="fw-bold border-bottom border-dark">
                            補正指示のとき
                        </span>
                        <div class="ms-3">
                            <div class="mt-3">
                                <span class="fw-bold">
                                    補正書を使用
                                </span>
                                して指示に従った修正をしてください。
                                <div class="ms-3">
                                    <span>
                                        補正書：
                                    </span>
                                    <a href="{% static 'toukiApp/file/補正書.docx' %}">word</a>／
                                    <a href="{% static 'toukiApp/file/補正書.pdf' %}" target="_blank" rel="noopener noreferrer">pdf</a>
                                </div>
                            </div>
                            <div class="mt-3">
                                <span class="border-bottom border-secondary">
                                    登録免許税の過納付のときは、
                                </span>
                                還付請求通知・申出書も必要です。
                                <div class="ms-3">
                                    <span>
                                        還付請求通知・申出書
                                        <span class="border-bottom border-secondary">
                                            （申請人または申請人兼代理人が受け取る場合）
                                        </span>
                                        ：
                                    </span>
                                    <a href="{% static 'toukiApp/file/還付通知請求・申出書（申請人用）.docx' %}">word</a>／
                                    <a href="{% static 'toukiApp/file/還付通知請求・申出書（申請人用）.pdf' %}" target="_blank" rel="noopener noreferrer">pdf</a>
                                </div>
                                <div class="ms-3">
                                    <div>
                                        <span>
                                            還付請求通知・申出書
                                            <span class="border-bottom border-secondary">
                                                （代理人が受け取る場合）
                                            </span>
                                            ：
                                        </span>
                                        <a href="{% static 'toukiApp/file/還付通知請求・申出書（代理人用）.docx' %}">word</a>／
                                        <a href="{% static 'toukiApp/file/還付通知請求・申出書（代理人用）.pdf' %}" target="_blank" rel="noopener noreferrer">pdf</a>
                                    </div>
                                    <div>
                                        ※代理人（申請人兼代理人を除く）が受け取る場合は、委任状が必要です。
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <span class="border-bottom border-secondary">
                                        書類を郵送するときは、
                                    </span>
                                    簡易書留またはレターパックプラスをご利用ください。
                                </div>
                            </div>
                            <div>
                                <div class="d-flex">
                                    <div>
                                        ※
                                    </div>
                                    <div>
                                        登記申請書、戸籍謄本、相続関係説明図、委任状
                                        <span class="fw-bold">
                                            以外
                                        </span>
                                        の書類を提出する場合、
                                        <span class="fw-bold">
                                            原本を返却してもらうためには
                                        </span>
                                            <button type="button" class="text-primary fw-bold" data-bs-toggle="modal" data-bs-target="#return_request">
                                                原本還付処理
                                            </button>
                                        が必要です。
                                        <br>
                                        複数枚になるときは、全てに原本還付処理またはホッチキスで留めて契印が必要です。
                                    </div>
                                </div>
                                <div class="modal fade" id="return_request" tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5">原本還付処理</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="d-flex justify-content-center">
                                                    <img class="modal-image" src="{% static 'toukiApp/img/原本還付処理例.png' %}" alt="原本還付処理例の説明画像">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ol class="ms-3 mt-3 ps-0 list-group d-inline-block">
                        <li class="list-group-item fw-bold text-center bg-warning-subtle">
                            （よくある補正理由と対応方法）
                        </li>
                        <li class="list-group-item">
                            <div class="ms-3">
                                理由：書類の誤字脱字（登記申請書の原因の日付に誤りがある、など）
                                <div>
                                    対応：補正書と必要に応じて訂正した書類を提出
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="ms-3">
                                理由：書類の押印もれ、不鮮明な押印、一部不足（戸籍が足りない、など）
                                <div class="d-flex">
                                    <div>
                                        対応：
                                    </div>
                                    <div>
                                        補正書と必要に応じて訂正した書類を提出
                                        <br>
                                        ※提出に時間がかかると判断された場合は、取り下げになることもあります。
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="ms-3">
                                理由：納付した登録免許税が少ない
                                <div class="d-flex">
                                    <div>
                                        対応：
                                    </div>
                                    <div>
                                        補正書と不足分の印紙を提出
                                    </div>                                    
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="ms-3">
                                理由：納付した登録免許税が多い
                                <div class="d-flex">
                                    <div>
                                        対応：
                                    </div>
                                    <div>
                                        補正書と還付請求通知・申出書を提出
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ol>
                    <div class="mt-5">
                        <span class="fw-bold border-bottom border-dark">
                            取下げ指示のとき
                        </span>
                        <div class="mt-3 ms-3">
                            <span class="fw-bold">
                                取下書と再使用証明申出書
                            </span>
                            に記入押印のうえ指示があった法務局に持参又は郵送してください。
                            <div class="ms-3">
                                <div>
                                    <span>
                                        取下書：
                                    </span>
                                    <a href="{% static 'toukiApp/file/取下書.docx' %}">word</a>／
                                    <a href="{% static 'toukiApp/file/取下書.pdf' %}" target="_blank" rel="noopener noreferrer">pdf</a>
                                </div>
                                <div>
                                    <span>
                                        再使用証明申出書：
                                    </span>
                                    <a href="{% static 'toukiApp/file/再使用証明申出書.docx' %}">word</a>／
                                    <a href="{% static 'toukiApp/file/再使用証明申出書.pdf' %}" target="_blank" rel="noopener noreferrer">pdf</a>
                                    <div>
                                        ※法務局で消印されてしまった収入印紙を再利用できるようにするための書類です。
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-3 ms-3">
                            取下が受理されたら法務局から書類が返却されますので、指摘された不備を修正して書類を整理しなおして改めて法務局に申請書類を提出してください。
                            <div class="d-flex">
                                <div>
                                    ※
                                </div>
                                <div>
                                    登記申請書以外の書類は、法務局職員によるチェックの形跡がありますが再利用することができます。
                                </div>
                            </div>
                        </div>
                    </div>
                    <ol class="mt-3 ms-3 ps-0 list-group d-inline-block">
                        <li class="list-group-item fw-bold text-center bg-danger-subtle">
                            （よくある取下げ理由）
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex">
                                <div class="ms-3">
                                    理由：
                                </div>
                                <div>
                                    提出する法務局を間違えている
                                    <br>
                                    相続人の判定を間違えている
                                    <br>
                                    不足書類の補完に時間がかかる
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="ms-3">
                                    対応：
                                </div>
                                <div>
                                    いずれの理由でも取下書と再使用証明申出書を郵送する
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
                <div class="mt-5 fw-bold">
                    ※補正や取下げの方法に不明な点がありましたら、お問い合わせをお願いします。
                </div>
            </li>
            <hr>
            <li class="container">
                <h5>手続が完了したら</h5>
                <div>
                    <p>
                        法務局から登記識別情報通知書と登記完了証が届きます。<br>
                        原本還付処理をしているときは、戸籍謄本や遺産分割協議証明書なども入ってます。
                    </p>
                    <div>
                        <span class="fw-bold border-bottom border-dark">登記識別情報通知書とは</span>
                        <p class="ps-3">
                            いわゆる権利証で各不動産ごとに発行されます。<br>
                            シールが貼ってある部分にパスワードが記載されてますので、シールははがさないようにしてください。
                        </p>
                    </div>
                    <div>
                        <span class="fw-bold border-bottom border-dark">登記完了証とは</span>
                        <p class="ps-3">
                            登記が完了されたことを示すだけで他に使用することはないです。
                        </p>
                    </div>
                    <div>
                        <span class="fw-bold border-bottom border-dark">登記完了後の不動産の全部事項証明書が必要な場合</span>
                        <p class="ps-3">
                            最寄りの法務局に出向く又は郵送で取得する必要があります。お急ぎでない場合は、下記リンクからオンライン請求すると後日普通郵便で受け取ることができます。
                        </p>
                        <p>
                            <a class="ms-3 link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover fs-5" href="#">
                                オンライン申請サイト
                            </a>
                        </p>
                        <div class="ps-3">
                            <span class="fw-bold border-bottom border-dark">
                                証明書でなくてもよい場合（登記簿の記載内容を確認したいだけなど）
                            </span>
                            <div class="ps-3">
                                下記リンクからオンライン上で請求してすぐに確認できます。
                                <p class="form-text">
                                    ※証明書ではないため、役所や金融機関の手続では使用することができないこともあります。
                                </p>
                            </div>
                            <p>
                                <a class="ms-3 link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover fs-5" href="#">
                                    登記情報サイト
                                </a>
                            </p>
                        </div>
                    </div>
                    <div>
                        返却された書類の中には他の相続人の方の印鑑証明書など重要な個人情報を含むものがありますので、厳重に保管してください。
                        保管に不安がある場合は、各自に返却するのもいいかと思います。
                    </div>
                </div>
            </li>
            <hr>
            <li class="container mt-3">
                <h5>なんか宣伝とか</h5>
                <div>
                    
                </div>
            </li>
        </ol>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include "toukiApp/step_footer.html" %}
{% endblock %}

{% block js %}
    {% load static %}
    <script src="{% static 'toukiApp/step_six.js' %}"></script>
    <script> const progress = JSON.parse("{{progress|escapejs}}"); </script>
{% endblock %}