{% extends "toukiApp/base.html" %}

{% block title %}{{ title }} | {{ block.super}}{% endblock title %}

{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'toukiApp/step_documents.css' %}">
    <link rel="stylesheet" href="{% static 'toukiApp/step_application_form.css' %}">
    <link rel="stylesheet" href="{% static 'toukiApp/parts/messages.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% load custom_filters %}

{% block content %}

{% include "toukiApp/parts/step_messages.html" %}

<div class="modal fade" id="howto" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning-subtle bg-gradient bg-opacity-50">
                <h5 class="modal-title">
                    登記申請書のまとめかたと押印について
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-headword="Close"></button>
            </div>
            <div class="modal-body">
                <img class="modal-image" src="{% static 'toukiApp/img/登記申請書のまとめかたと押印.png' %}" alt="契印の説明画像">
            </div>
        </div>
    </div>
</div>

<div class="container-md">
    <section class="top">
        <div class="text-center">
            <button id="backBtn" type="button" class="fs-5 btn btn-primary fw-bold bg-gradient bg-opacity-50">
                戻る
                <span id="backBtnSpinner" class="spinner-border spinner-border-sm text-warning" role="status" style="display: none;">
                </span>
            </button>
        </div>
        <h5 class="text-center mt-3">
            こちらのページをA4の縦方向でご印刷ください。
        </h5>
        <p class="fw-bold text-center mt-3">
            スマホやタブレットをご利用の方やPDFで出力する機能がない場合は、
            <a class="fw-bold text-primary" href="mailto:{{ company_data.MAIL_ADDRESS|urlencode }}?subject=遺産分割協議証明書のPDFについて&body=アカウント：{{ user_email|urlencode }}%0D%0A遺産分割協議証明書のPDFを送ってください。">
                お問い合わせ
            </a>
            をお願いします。
        </p>
        <div class="mt-4 d-flex justify-content-center">
            <div class="border rounded-3 p-3">
                <p class="text-danger fw-bold text-center">
                    ※注意事項
                </p>
                <ul class="ps-0 mb-0 ms-sm-3">
                    <li>
                        <span class="fw-bold border-bottom border-secondary">
                            住所について
                        </span>
                        <p class="ms-3">
                            法務局指定の表記に合わせるため、都道府県を削除していることがあります。
                        </p>
                    </li>
                    <li>
                        <span class="fw-bold border-bottom border-secondary">
                            押印について
                        </span>
                        <p class="ms-3">
                            認印でも大丈夫です。
                            <br>
                            法務局に書類を提出した後にも使用することがありますので、どれを使用したか忘れないようにお願いします。
                        </p>
                    </li>
                    <li>
                        <span class="fw-bold border-bottom border-secondary">
                            登記申請書のまとめかたと押印について
                        </span>
                        <p class="ms-3">
                            <button type="button" class="text-primary fw-bold" data-bs-toggle="modal" data-bs-target="#howto">
                                こちら
                            </button>
                            を参考に（各）登記申請書をまとめてください。
                        </p>
                    </li>
                    <li>
                        <span class="fw-bold border-bottom border-secondary">
                            「登記申請書」の右側にある㊞（捨印）について
                        </span>
                        <p class="ms-3">
                            法務局に書類を提出した後に簡単な誤記などを修正するための押印です。
                            <br>
                            （各）登記申請書の２枚目以降にもページの右上の余白部分に押印をお願いします。
                        </p>
                    </li>
                    <li>
                        <span class="fw-bold border-bottom border-secondary">
                            「登記申請書」の上の余白について
                        </span>
                        <p class="ms-3">
                            印刷すると「登記申請書」の上に大きめの余白ができますが、法務局側で使用する部分のためそのままで大丈夫です。
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <hr>
    <div class="d-lg-flex justify-content-center mt-5">
        <fieldset id="print_page_wrapper">
            {% for data in application_data %}
                <div class="print_per_section">
                    <div class="position-relative">
                        <h5 class="text-center">
                            登記申請書
                        </h5>
                        <span style="position: absolute; top:0mm; right: 50mm;">
                            ㊞
                        </span>
                    </div>
                    <div class="mt-4">
                        <div class="headword">
                            登記の目的
                        </div>
                        <div>
                            {{data.purpose_of_registration}}
                        </div>
                    </div>
                    <div>
                        <div class="headword">
                            原因
                        </div>
                        <div>
                            {{data.cause}}相続
                        </div>
                    </div>
                    <div>
                        <div class="headword">
                            相続人
                        </div>
                        <div>
                            <div>
                                <span>
                                    （被相続人
                                </span>
                                <span class="ms-3">
                                    {{decedent_name}}）
                                </span>
                            </div>
                            {% for acquirer in data.acquirers %}
                                <div>
                                    {{acquirer.address}}
                                </div>
                                <div class="ms-4 d-flex">
                                    <div>
                                        {% if acquirer.is_share == "true" %}
                                            {{acquirer.percentage_phrase}}
                                        {% endif %}
                                    </div>
                                    <div class="d-flex justify-content-between ms-3">
                                        <div>
                                            {{acquirer.name}}
                                        </div>
                                        <div class="ms-4">
                                            {% if acquirer.phone_number %}
                                                ㊞
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% if acquirer.phone_number %}
                                    <div class="ms-4">
                                        連絡先の電話番号
                                        <span class="ms-3">
                                            {{acquirer.phone_number}}
                                        </span>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="mt-3">
                        <div class="headword">
                            添付情報
                        </div>
                        <div>
                            {{data.document|linebreaks}}
                        </div>
                    </div>
                    <div>
                        <div>
                            <div>
                                送付の方法による登記識別情報通知書及び登記完了証の交付を希望します。
                            </div>
                            <div class="d-flex">
                                <div class="headword">
                                    送付先の区分
                                </div>
                                <div class="ms-3">
                                    {% if data.is_agent == "true" %}
                                        {{ data.agent.position }}の住所
                                    {% else %}
                                        申請人の住所
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div>
                            <span>
                                令和
                            </span>
                            <span class="ps-4">
                                年
                            </span>
                            <span class="ps-4">
                                月
                            </span>
                            <span class="ps-4">
                                日申請
                            </span>
                        </div>
                        <div class="ms-4">
                            {{data.office}}
                            <span class="ms-3">
                                御中
                            </span>
                        </div>
                    </div>
                    {% if data.is_agent == "true" %}
                        <div class="mt-3">
                            <div class="headword">
                                {{data.agent.position}}
                            </div>
                            <div>
                                <div>
                                    {{data.agent.address}}
                                </div>
                                <div class="ms-4">
                                    {{data.agent.name}}
                                    <span class="ms-4">
                                        ㊞
                                    </span>
                                </div>
                                <div class="ms-4">
                                    連絡先の電話番号
                                    <span>
                                        {{data.agent.phone_number}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="mt-3">
                        <div class="headword">
                            課税価格
                        </div>
                        <div>
                            {{data.total_price}}
                        </div>
                    </div>
                    <div>
                        <div>
                            <div class="d-flex">
                                <div class="headword">
                                    登録免許税
                                </div>
                                <div>
                                    {% if data.is_all_tax_free == "true" %}
                                        {{data.all_tax_free_phrase}}
                                    {% else %}
                                        {{data.tax}}
                                    {% endif %}
                                </div>
                            </div>
                            {% if data.is_partially_tax_free == "true" %}
                                <div>
                                    <div class="ms-3">
                                        以下の土地について租税特別措置法第８４条の２の３第２項により非課税
                                    </div>
                                    <ul>
                                        {% for land_number in data.tax_free_land_numbers %}
                                            <li>
                                                {{land_number}}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="mt-3">
                        不動産の表示
                        {% for property in data.properties %}
                            <div class="property">
                                <div>
                                    <div>
                                        不動産番号
                                    </div>
                                    <div class="ms-3">
                                        {{property.number}}
                                    </div>
                                </div>
                                {% if property.is_tax_free == "true" %}
                                    <div class="ms-3">
                                        {{property.tax_free_phrase}}
                                    </div>
                                {% endif %}
                                {% if property.sites %}
                                    {% for site in property.sites %}
                                        <div class="ms-3">
                                            <div class="headword">
                                                土地の符号
                                            </div>
                                            <div>
                                                {{site.site_number}}
                                            </div>
                                        </div>
                                        <div class="ms-3">
                                            <div class="headword">
                                                敷地権の種類
                                            </div>
                                            <div>
                                                {{site.site_type}}
                                            </div>
                                        </div>
                                        <div class="ms-3">
                                            <div class="headword">
                                                敷地権の割合
                                            </div>
                                            <div>
                                                {{site.site_purparty}}
                                            </div>
                                        </div>
                                        {% if site.is_tax_free == "true" %}
                                            <div class="ms-3">
                                                {{property.tax_free_phrase}}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                {% if data.purpose_of_registration != "所有権移転" or property.acquirers|length > 1 %}
                                    {% for acquirer in property.acquirers %}
                                        <div class="ms-5">
                                            <div>
                                                {% if acquirer.percentage != "所有権" %}
                                                    持分
                                                {% endif %}
                                                {{acquirer.percentage}}
                                            </div>
                                            {% if data.acquirers|length > 1 %}
                                                <div class="ms-3">
                                                    {{acquirer.name}}
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </fieldset>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block js %}
    {% load static %}
    <script> const progress = JSON.parse("{{progress|escapejs}}"); </script>
    <script src="{% static 'toukiApp/step_documents.js' %}"></script>
    <script src="{% static 'toukiApp/step_application_form.js' %}"></script>
    <script src="{% static 'toukiApp/parts/messages.js' %}"></script>
{% endblock %}