{% extends "toukiApp/base.html" %}

{% block title %}{{ title }} | {{ block.super}}{% endblock title %}

{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'toukiApp/parts/messages.css' %}">
    <link rel="stylesheet" href="{% static 'toukiApp/parts/reference-document.css' %}">
    <link rel="stylesheet" href="{% static 'toukiApp/step_six.css' %}">
{% endblock %}

{% block header %}
    {% include "toukiApp/step_header.html" %}
{% endblock %}

{% load custom_filters %}

{% block content %}

{% include "toukiApp/parts/step_messages.html" %}
{% include "toukiApp/parts/modals/return_request.html" %}
{% include "toukiApp/parts/modals/about_owner_certification.html" %}
{% include "toukiApp/parts/modals/property_registry_certification.html" %}
{% include "toukiApp/parts/modals/about_moj_online_request.html" %}
{% include "toukiApp/parts/modals/touki_info.html" %}
{% include "toukiApp/parts/modals/touki_jouhou_service_page.html" %}

<div class="d-flex container-xxl">
    {% include "toukiApp/step_sidebar.html" %}
    <div class="pt-4 px-0 px-sm-3 container-md">
        <h4 class="heading">
            申請後について
        </h4>
        <hr>
        <ol id="wrap">
            <li>
                <h5 class="lg-text-center">
                    書類に不備があった場合
                </h5>
                <div class="mt-3 ms-lg-3">
                    <div>
                        <p>
                            法務局から電話で
                            <span class="fw-bold border-bottom border-secondary">
                                不備を修正（補正）又は申請を取下げる
                            </span>
                            ように指示がありますので、下記を参考にご対応ください。
                        </p>
                        <div>
                            <p>
                                指示内容に不明な点があれば、補正なのか取り下げなのか、何を提出すればいいのかなど適宜質問をして対応方法をご確認ください。
                            </p>
                            <div class="d-flex">
                                <div>
                                    ※
                                </div>
                                <p>
                                    可能であれば不備が合った申請の
                                    <span class="fw-bold">
                                        受付年月日と受付番号のメモ
                                    </span>
                                    をお願いします。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <div class="lg-text-center">
                            <span class="px-3 fw-bold border-bottom border-secondary">
                                補正指示のとき
                            </span>
                        </div>
                        <div class="ps-lg-5 mt-3">
                            <div class="lg-text-center">
                                <p class="fw-bold">
                                    補正書と適宜指示された書類などを提出してください。
                                </p>
                                <p class="ms-lg-3 fw-bold linebreak-wrapper">
                                    <span>
                                        補正書
                                    </span>
                                    <span class="ms-lg-3">
                                        <a href="{% static 'toukiApp/file/補正書.docx' %}">
                                            word
                                        </a>
                                        ／
                                        <a href="{% static 'toukiApp/file/補正書.pdf' %}" target="_blank" rel="noopener noreferrer">
                                            pdf
                                        </a>
                                    </span>
                                </p>
                            </div>
                            <div>
                                <p>
                                    <span class="border-bottom border-secondary">
                                        書類を郵送するとき、
                                    </span>
                                    簡易書留またはレターパックプラスをご利用ください。
                                </p>
                                <div>
                                    <p>
                                        登記申請書、戸籍謄本、相続関係説明図、委任状
                                        <span class="fw-bold">
                                            以外
                                        </span>
                                        の書類を提出するとき、
                                        <span class="fw-bold">
                                            原本を返却してもらうためには
                                        </span>
                                        <button type="button" class="text-primary fw-bold" data-bs-toggle="modal" data-bs-target="#return_request_modal">
                                            原本還付処理
                                        </button>
                                        が必要です。
                                    </p>
                                    <div class="additional-text">
                                        <div>
                                            ※
                                        </div>
                                        <p>
                                            原本還付してもらう書類が複数枚のとき、ホッチキスで留めて契印が必要です。
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <p>
                                    <span class="border-bottom border-secondary">
                                        登録免許税の過納付のとき、
                                    </span>
                                    還付請求通知・申出書も提出して超過分を返還してもらう必要があります。
                                </p>
                                <div class="ps-lg-3">
                                    <div class="fw-bold lg-text-center">
                                        還付請求通知・申出書
                                    </div>
                                    <div class="ps-lg-5 lg-d-flex-center">
                                        <div class="fw-bold">
                                            <div class="mt-2 linebreak-wrapper">
                                                <span>
                                                    申請人又は申請人兼代理人が受け取る場合
                                                </span>
                                                <span class="ms-3">
                                                    <a href="{% static 'toukiApp/file/還付通知請求・申出書（申請人用）.docx' %}">
                                                        word
                                                    </a>
                                                    ／
                                                    <a href="{% static 'toukiApp/file/還付通知請求・申出書（申請人用）.pdf' %}" target="_blank" rel="noopener noreferrer">
                                                        pdf
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="mt-2 linebreak-wrapper">
                                                <span>
                                                    代理人が受け取る場合
                                                </span>
                                                <span class="ms-3">
                                                    <a href="{% static 'toukiApp/file/還付通知請求・申出書（代理人用）.docx' %}">
                                                        word
                                                    </a>
                                                    ／
                                                    <a href="{% static 'toukiApp/file/還付通知請求・申出書（代理人用）.pdf' %}" target="_blank" rel="noopener noreferrer">
                                                        pdf
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ol class="ps-lg-5 mt-3 ps-0 list-group d-inline-block">
                        <li class="list-group-item fw-bold text-center bg-warning-subtle">
                            （よくある
                            <span class="text-danger">
                                補正理由
                            </span>
                            と
                            <span class="text-success">
                                対応方法
                            </span>
                            ）
                        </li>
                        <li class="list-group-item">
                            <div class="ms-sm-3">
                                <div class="d-md-flex">
                                    <div class="fw-bold text-danger text-nowrap">
                                        理由
                                    </div>
                                    <div class="ms-3">
                                        書類の誤字脱字
                                    </div>
                                </div>
                                <div class="d-md-flex">
                                    <div class="fw-bold text-success text-nowrap">
                                        対応
                                    </div>
                                    <div class="ms-3">
                                        補正書と必要に応じて訂正した書類を提出
                                        <div class="d-flex">
                                            <div>
                                                ※
                                            </div>
                                            <div>
                                                登記申請書は補正書で訂正できるため、別途訂正したものを提出する必要はありません。
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="ms-sm-3">
                                <div class="d-md-flex">
                                    <div class="fw-bold text-danger text-nowrap">
                                        理由
                                    </div>
                                    <div class="ms-3">
                                        書類の押印もれ、不鮮明な押印、必要書類の不足
                                    </div>
                                </div>
                                <div class="d-md-flex">
                                    <div class="fw-bold text-success text-nowrap">
                                        対応
                                    </div>
                                    <div class="ms-3">
                                        補正書と必要に応じて訂正または追加の書類を提出
                                        <div class="d-flex">
                                            <div>
                                                ※
                                            </div>
                                            <div>
                                                提出に時間がかかると判断された場合は、取り下げになることもあります。
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="ms-sm-3">
                                <div class="d-md-flex">
                                    <div class="fw-bold text-danger text-nowrap">
                                        理由
                                    </div>
                                    <div class="ms-3">
                                        納付した登録免許税が少ない
                                    </div>
                                </div>
                                <div class="d-md-flex">
                                    <div class="fw-bold text-success text-nowrap">
                                        対応
                                    </div>
                                    <div class="ms-3">
                                        補正書と不足分の印紙を提出
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="ms-sm-3">
                                <div class="d-md-flex">
                                    <div class="fw-bold text-danger text-nowrap">
                                        理由
                                    </div>
                                    <div class="ms-3">
                                        納付した登録免許税が多い
                                    </div>
                                </div>
                                <div class="d-md-flex">
                                    <div class="fw-bold text-success text-nowrap">
                                        対応
                                    </div>
                                    <div class="ms-3">
                                        補正書と還付請求通知・申出書を提出
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ol>
                    <div class="mt-4">
                        <div class="lg-text-center">
                            <span class="px-3 fw-bold border-bottom border-secondary">
                                取下げ指示のとき
                            </span>
                        </div>
                        <div class="ps-lg-5 mt-3">
                            <p class="fw-bold lg-text-center">
                                取下書と再使用証明申出書を提出してください。
                            </p>
                            <div class="ps-3 fw-bold">
                                <p class="linebreak-wrapper">
                                    <span>
                                        取下書
                                    </span>
                                    <span class="ms-lg-3">
                                        <a href="{% static 'toukiApp/file/取下書.docx' %}">
                                            word
                                        </a>
                                        ／
                                        <a href="{% static 'toukiApp/file/取下書.pdf' %}" target="_blank" rel="noopener noreferrer">
                                            pdf
                                        </a>
                                    </span>
                                </p>
                                <div>
                                    <div class="linebreak-wrapper">
                                        <span>
                                            再使用証明申出書
                                        </span>
                                        <span class="ms-lg-3">
                                            <a href="{% static 'toukiApp/file/再使用証明申出書.docx' %}">
                                                word
                                            </a>
                                            ／
                                            <a href="{% static 'toukiApp/file/再使用証明申出書.pdf' %}" target="_blank" rel="noopener noreferrer">
                                                pdf
                                            </a>
                                        </span>
                                    </div>
                                    <div class="additional-text lg-justify-content-center">
                                        <div>
                                            ※
                                        </div>
                                        <p>
                                            法務局で消印されてしまった収入印紙を再利用できるようにするための書類です。
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    取下書が受理されたら法務局から書類が返却されます。指摘された不備を修正して適宜書類の再印刷や前の項目のチェックをして改めて法務局に書類を提出してください。
                                </div>
                                <div class="d-flex mt-3">
                                    <div>
                                        ※
                                    </div>
                                    <div>
                                        <span class="fw-bold">
                                            登記申請書以外の書類は不備がなければ、
                                        </span>
                                        法務局職員によるチェックの形跡がありますが再利用することができます。
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lg-d-flex-center">
                        <ol class="ps-md-5 mt-3 ps-0 list-group d-inline-block">
                            <li class="list-group-item fw-bold text-center bg-danger-subtle">
                                （よくある
                                <span class="text-danger">
                                    取下げ理由
                                </span>
                                ）
                            </li>
                            <li class="list-group-item">
                                <div class="ms-sm-3">
                                    <div class="d-md-flex">
                                        <div class="fw-bold text-danger text-nowrap">
                                            理由
                                        </div>
                                        <div class="ms-3">
                                            提出する法務局を間違えている
                                            <br>
                                            相続人の判定を間違えている
                                            <br>
                                            不足書類の補完に時間がかかる
                                        </div>
                                    </div>
                                    <div class="d-md-flex">
                                        <div class="fw-bold text-success text-nowrap">
                                            対応
                                        </div>
                                        <div class="ms-3">
                                            取下書と再使用証明申出書を提出
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                    <div class="mt-5 ms-lg-5 lg-text-center">
                        <button id="preBtn" type="button" class="btn btn-secondary preBtn fw-bold">
                            前の項目に戻る
                            <span id="preBtnSpinner" class="spinner-border spinner-border-sm text-warning" role="status" style="display: none;">
                            </span>
                        </button>
                    </div>
                </div>
                <div class="mt-3 fw-bold d-flex lg-d-flex-center">
                    <div>
                        ※
                    </div>
                    <div>
                        不明な点がありましたら、お気軽に
                        <a class="fw-bold text-primary" href="mailto:{{ company_data.MAIL_ADDRESS|urlencode }}?subject=補正・取下げについて&body=アカウント：{{ user_email|urlencode }}%0D%0A※補正または取下げのどちらでしょうか？%0D%0A%0D%0A※法務局からの連絡内容をご入力ください">
                            お問い合わせ
                        </a>
                        ください。
                    </div>
                </div>
            </li>
            <hr>
            <li>
                <h5 class="lg-text-center">
                    手続が完了したら
                </h5>
                <div class="mt-3 ms-sm-3">
                    <div>
                        <p>
                            法務局から
                            <span class="fw-bold">
                                登記識別情報通知書、登記完了証、書類の原本
                            </span>
                            が本人限定受取郵便（特例型）で届きます。
                        </p>
                        <p>
                            <span class="border-bottom border-secondary">
                                本人限定受取郵便（特例型）とは、
                            </span>
                            通知書が届いた後に郵便局の窓口または自宅で本人確認書類を提示して受け取る郵便方法です。
                        </p>
                    </div>
                    <div>
                        <div class="lg-text-center mb-3">
                            <span class="border-bottom border-secondary">
                                <button type="button" class="text-primary fw-bold" data-bs-toggle="modal" data-bs-target="#about_owner_certification_modal">
                                    登記識別情報通知書
                                </button>
                            </span>
                        </div>
                        <div class="ms-sm-3 ms-md-5">
                            <p>
                                不動産の所有者であることの証明書で各不動産ごとに発行されます。
                                <br>
                                不動産を売却したり、借り入れで担保に提供するなどのときに使用します。
                            </p>
                            <p>
                                目隠し部分にはパスワードが記載されてます。
                                <br>
                                このパスワードのみでは悪用できませんが、万が一のことがないよう目隠しははがさずに保管ください。
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="lg-text-center mb-3">
                            <span class="fw-bold border-bottom border-secondary">
                                登記完了証
                            </span>
                        </div>
                        <div class="ms-sm-3 ms-md-5">
                            <p>
                                登記が完了したこと証明書です。
                            </p>
                            <p>
                                ここに記載の内容以上のものを確認したい場合は、全部事項証明書または登記情報をご取得ください。
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="lg-text-center mb-3">
                            <span class="fw-bold border-bottom border-secondary">
                                書類の原本
                            </span>
                        </div>
                        <p class="ms-sm-3 ms-md-5">
                            他の方の個人情報が含まれる書類のため大事に保管ください。
                        </p>
                    </div>
                    <div>
                        <div class="lg-text-center mb-3">
                            <span class="fw-bold border-bottom border-secondary">
                                登記完了後の登記記録の証明書が必要な場合
                                <button type="button" class="text-primary fw-bold" data-bs-toggle="modal" data-bs-target="#property_registry_certification_modal">
                                    (全部事項証明書)
                                </button>
                            </span>
                        </div>
                        <div class="ms-sm-3 ms-md-5">
                            <p>
                                窓口、郵送、オンラインのいずれかにより請求できます。
                            </p>
                            <p>
                                下記サイトでオンライン請求（1通500円）すると請求日から2,3日後に普通郵便で受け取ることができます。
                            </p>
                            <div class="lg-text-center ms-lg-5">
                                <a class="fw-bold link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover fs-5" target="_blank" rel="noopener noreferrer" href={{moj_online_request_page_link}}>
                                    かんたん証明書請求
                                </a>
                                <p>
                                    平日のみ 8時30分 - 21時00分
                                </p>
                                <button type="button" class="fw-bold text-primary" data-bs-toggle="modal" data-bs-target="#about_moj_online_request_modal">
                                    手順はこちら
                                </button>
                                <p class="fw-bold">
                                    （お支払いはネットバンキングまたは振込）
                                </p>
                            </div>
                            <p>
                                窓口で請求する場合は、最寄りの法務局や法務局証明サービスセンターで取得できます(1通600円)。
                                <br>
                                請求書に不動産の所在地を記入するため登記完了証をご持参ください。
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="lg-text-center mb-3">
                            <span class="fw-bold border-bottom border-secondary">
                                登記完了後の登記記録の内容を確認するだけの場合
                                <button type="button" class="text-primary fw-bold" data-bs-toggle="modal" data-bs-target="#touki_info_modal">
                                    (登記情報)
                                </button>
                            </span>
                        </div>
                        <div class="ms-sm-3 ms-md-5">
                            <div>
                                下記リンク先で
                                <span class="fw-bold">
                                    一時利用のアカウント登録（無料）
                                </span>
                                後にオンラインでPDF(1通{{touki_info_charge}}円)を取得できます。
                            </div>
                            <div class="d-flex">
                                <div>
                                    ※
                                </div>
                                <div>
                                    「2 必要書類一覧」で一時利用の登録済みの場合は、個人利用(300円)の申込みが必要です。
                                </div>
                            </div>
                            <div class="d-flex">
                                <div>
                                    ※
                                </div>
                                <p>
                                    <span class="fw-bold">
                                        証明書ではない
                                    </span>
                                    ため、提出先によっては使用できないこともあります。
                                </p>
                            </div>
                            <div class="mt-3 lg-text-center ms-lg-5">
                                <a class="fw-bold link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover fs-5" target="_blank" rel="noopener noreferrer" href={{touki_info_link}}>
                                    登記情報提供サービス
                                </a>
                                <div>
                                    <p>
                                        平日 8時30分 - 23時00分
                                        <br>
                                        土日祝日 8時30分 - 18時00分
                                    </p>
                                    <button type="button" class="fw-bold text-primary" data-bs-toggle="modal" data-bs-target="#touki_jouhou_service_page">
                                        手順はこちら
                                    </button>
                                    <p class="fw-bold">
                                        （お支払いはクレジットカードのみ）
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="border-success border-3">
                <div class="mt-3 mb-5">
                    <h5 class="lh-lg text-center">
                        登記手続きお疲れ様でした。
                        <br>
                        ご利用いただき誠にありがとうございました。
                    </h5>
                    <div class="text-center">
                        <div class="mt-3">
                            アカウントの有効期間中（ご利用開始日から１年間）は何度でもご利用できます。
                            <div class="d-flex justify-content-center">
                                <div>
                                    ※
                                </div>
                                <p>
                                    但し、システムが使用頻度に異常を検知した場合は制限することもあります。
                                </p>
                            </div>
                        </div>
                        <div>
                            <span class="fw-bold border-bottom border-dark">
                                もしよければ、今後の改良につなげるためにご利用いただいた感想をお送りいただけますと大変うれしいです。
                            </span>
                            <p>
                                <a class="fw-bold text-primary" href="mailto:{{ company_data.MAIL_ADDRESS|urlencode }}?subject=システムを使用した感想について&body=アカウント：{{ user_email|urlencode }}%0D%0A満足した機能や不満な部分などのご感想をお願いします。">
                                    {{ company_data.MAIL_ADDRESS }}
                                </a>
                            </p>
                        </div>
                        <p>
                            重ね重ね誠にありがとうございました。
                        </p>
                        <p>
                            <a class="btn btn-primary fw-bold bg-gradient bg-opacity-50" href="{% url 'toukiApp:index' %}">
                                トップページ
                            </a>
                        </p>
                    </div>
                </div>
            </li>
        </ol>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include "toukiApp/step_footer.html" %}
{% endblock %}

{% block js %}
    {% load static %}
    <script src="{% static 'toukiApp/step_six.js' %}"></script>
    <script src="{% static 'toukiApp/parts/messages.js' %}"></script>
    <script> const progress = JSON.parse("{{progress|escapejs}}"); </script>
{% endblock %}