{% extends "toukiApp/base.html" %}

{% block title %}{{ title }} | {{ block.super}}{% endblock title %}

{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'toukiApp/parts/messages.css' %}">
    <link rel="stylesheet" href="{% static 'toukiApp/step_documents.css' %}">
    <link rel="stylesheet" href="{% static 'toukiApp/step_POA.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% load custom_filters %}

{% block content %}

{% include "toukiApp/parts/step_messages.html" %}

<div class="modal fade" id="seal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning-subtle bg-gradient bg-opacity-50">
                <h5 class="modal-title">
                    契印のしかた
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img class="modal-image" src="{% static 'toukiApp/img/委任状の契印.png' %}" alt="契印の説明画像">
            </div>
        </div>
    </div>
</div>

<div class="container-md">
    <section class="top">
        <div class="text-center">
            <button id="backBtn" type="button" class="fs-5 btn btn-primary fw-bold bg-gradient bg-opacity-50">
                戻る
                <span id="backBtnSpinner" class="spinner-border spinner-border-sm text-warning" role="status" style="display: none;">
                </span>
            </button>
        </div>
        <p class="fw-bold text-center mt-5">
            <button id="downloadPdfBtn" type="button" class="btn btn-success bg-gradient bg-opacity-50 fw-bold">
                PDFをダウンロード
                <span id="downloadPdfBtnSpinner" class="spinner-border spinner-border-sm text-warning" role="status" style="display: none;">
                </span>
            </button>
        </p>
        <h5 class="text-center mt-3">
            デスクトップをご利用の場合は、こちらのページをA4の縦方向で印刷も可能です。
        </h5>
        <div class="mt-4 d-flex justify-content-center">
            <div class="d-inline-block border rounded-3 p-3">
                <p class="text-danger fw-bold text-center">
                    ※注意事項
                </p>
                <div class="ms-sm-3">
                    <span class="fw-bold border-bottom border-secondary">
                        押印について
                    </span>
                    <p class="ms-3">
                        実印で印鑑登録証明書と照合できるように鮮明に押印ください。
                    </p>
                </div>
                <div class="ms-3">
                    <span class="fw-bold border-bottom border-secondary">
                        １つの委任状が２枚以上になっているとき
                    </span><br>
                    <div class="ms-3">
                        署名欄の押印以外に
                        <button type="button" class="text-primary fw-bold" data-bs-toggle="modal" data-bs-target="#seal">
                            契印
                        </button>
                        も必要です。
                        <div class="d-flex">
                            <div>
                                ※
                            </div>
                            <div>
                                <button type="button" class="text-primary fw-bold" data-bs-toggle="modal" data-bs-target="#seal">
                                    契印
                                </button>
                                とは、複数枚が一連の文書のものであることを証明するための押印です。
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section class="d-lg-flex justify-content-center mt-5">
        <div id="print_page_wrapper">
            {% for data in POA_data %}
                <div class="print_per_section">
                    <h5 class="text-center">
                        委任状
                    </h5>
                    <div class="mt-4">
                        <div class="text-center">
                            <p>
                                {{data.agent.address}}
                            </p>
                            <p>
                                {{data.agent.name}}
                            </p>
                        </div>
                    </div>
                    <p class="sentence">
                        私は、上記の者を代理人と定め、下記登記申請に関する一切の権限を委任します。
                    </p>
                    <p class="text-center">
                        記
                    </p>
                    <div>
                        <div class="overview">
                            <ul>
                                <li>
                                    <div class="headword">
                                        登記の目的
                                    </div>
                                    <div>
                                        {{data.purpose_of_registration}}
                                    </div>
                                </li>
                                <li>
                                    <div class="headword">
                                        原因
                                    </div>
                                    <div>
                                        {{data.cause}}相続
                                    </div>
                                </li>
                                <li>
                                    <div class="headword">
                                        相続人
                                    </div>
                                    <div>
                                        <div>
                                            <span>
                                                （被相続人
                                            </span>
                                            <span class="ms-3">
                                                {{decedent_name}}）
                                            </span>
                                        </div>
                                        {% for acquirer in data.acquirers %}
                                            <div>
                                                {{acquirer.address}}
                                            </div>
                                            <div class="ms-4 d-flex">
                                                <div>
                                                    {% if acquirer.is_share == "true" %}
                                                        {{acquirer.percentage_phrase}}
                                                    {% endif %}
                                                </div>
                                                <div class="d-flex justify-content-between ms-3">
                                                    <div>
                                                        {{acquirer.name}}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </li>
                                <li>
                                    <div class="headword">
                                        不動産の表示
                                    </div>
                                    <div>
                                        {% for property in data.properties %}
                                            <div>
                                                <div>
                                                    {% if property.property_type == "Land" %}
                                                        {{ property.address }}{{ property.address_number }}の土地
                                                    {% elif property.property_type == "House" %}
                                                        {{ property.address }}
                                                        <br>
                                                        家屋番号{{ property.address_number }}の建物
                                                    {% elif property.property_type == "Bldg" %}
                                                        {{ property.address }}
                                                        <br>
                                                        家屋番号{{ property.address_number }}の区分建物
                                                    {% endif %}
                                                </div>
                                                {% if property.sites %}
                                                    <div class="ms-3">
                                                        敷地権の表示
                                                    </div>
                                                    {% for site in property.sites %}
                                                        <div class="site">
                                                        
                                                            <div>
                                                                <div>
                                                                    土地の符号{{site.site_number}}
                                                                </div>
                                                                <div>
                                                                    {{site.address_and_land_number}}
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <div>
                                                                    敷地権の種類
                                                                </div>
                                                                <div>
                                                                    {{site.site_type}}
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <div>
                                                                    敷地権の割合
                                                                </div>
                                                                <div>
                                                                    {{site.site_purparty}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                                {% if data.purpose_of_registration != "所有権移転" or property.acquirers|length > 1 %}
                                                    {% for acquirer in property.acquirers %}
                                                        <div class="ms-5">
                                                            {% if acquirer.percentage != "所有権" %}
                                                                持分
                                                            {% endif %}
                                                            {{acquirer.percentage}}
                                                            {% if data.acquirers|length > 1 %}
                                                                <span class="ms-3">
                                                                    {{acquirer.name}}
                                                                </span>
                                                            {% endif %}
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <ul>
                                <li>
                                    １．原本還付請求及び受領に関する一切の件
                                </li>
                                <li>
                                    １．登記申請の取り下げ又は補正に関する一切の件
                                </li>
                                <li>
                                    １．再使用証明の請求及び受領に関する一切の件
                                </li>
                                <li>
                                    １．登記識別情報通知書及び登記完了証の受領に関する一切の件
                                </li>
                                <li>
                                    １．上記事項に関する復代理人選任に関する一切の件
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="end text-end">
                        <span>
                            以上
                        </span>
                    </div>
                    {% include "toukiApp/parts/signature.html" %}
                </div>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block js %}
    {% load static %}
    <script> const progress = JSON.parse("{{progress|escapejs}}"); </script>
    <script src="{% static 'toukiApp/step_documents.js' %}"></script>
    <script src="{% static 'toukiApp/step_POA.js' %}"></script>
    <script src="{% static 'toukiApp/parts/messages.js' %}"></script>
{% endblock %}