{% extends "toukiApp/base.html" %}

{% block title %}{{ title }} | {{ block.super}}{% endblock title %}

{% block stylesheet %}
    {% load static %}
    {% include "toukiApp/parts/step_one/block_stylesheet.html" %}
    <link rel="stylesheet" href="{% static 'toukiApp/step_one.css' %}">
{% endblock %}

{% block header %}
    {% include "toukiApp/step_header.html" %}
{% endblock %}

{% load custom_filters %}

{% block content %}

{% include "toukiApp/parts/step_messages.html" %}
{% include "toukiApp/parts/modals/not_available.html" %}

<div class="d-flex container-xxl">
    {% include "toukiApp/step_sidebar.html" %}
    <div class="pt-4 ps-sm-5 container-xxl">
        {% include "toukiApp/parts/step_one/top.html" %}
        <form action="{% url 'toukiApp:step_one' %}" method="POST" class="my-4 d-flex" novalidate>
            {% csrf_token %}
            {% include "toukiApp/parts/step_one/input_section.html" %}
            {% include "toukiApp/parts/step_one/guide_section.html" %}
        </form>
    </div>
</div>

{% endblock %}

{% block footer %}
    {% include "toukiApp/step_footer.html" %}
{% endblock %}

{% block js %}
    {% load static %}
    {% include "toukiApp/parts/step_one/block_js.html" %}
    <script src="{% static 'toukiApp/step_one.js' %}"></script>
{% endblock %}