{% extends "toukiApp/base.html" %}
{% block title %}{{ title }} | {{ block.super}}{% endblock title %}
{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'toukiApp/step_inquiry.css' %}">
    <link rel="stylesheet" href="{% static 'toukiApp/parts/messages.css' %}">
{% endblock %}
{% block header %}
    {% include "toukiApp/step_header.html" %}
{% endblock %}

{% block content %}

{% include "toukiApp/parts/step_inquiry_messages.html" %}

<div class="d-flex container-xxl">
    {% include "toukiApp/step_sidebar.html" %}
    <div class="pt-4 px-0 ps-sm-4 container-xxl">
        <section>
            <div>
                <h4 class="lg-text-center">
                    お問い合わせ
                </h4>
            </div>
            <hr>
            <div>
                <p>
                    <span class="border-bottom border-secondary">
                        個別具体的な事情に対する回答はできない場合もありますのでご了承ください。
                    </span>
                </p>
                <div>
                    <a class="fw-bold text-primary" href="https://lin.ee/0X7897N" target="_blank" rel="noopener noreferrer">
                        LINEからもお問い合わせいただけます。
                    </a>
                </div>
            </div>
        </section>
        {% if form.errors %}
            <div class="error_list fw-bold bg-danger-subtle border rounded-3 mx-3 px-3 py-3 my-3">
                {% for field, errors in form.errors.items %}
                    <div>
                        {% if field == "__all__" %}
                            <div>入力エラー</div>
                        {% else %}
                            {% if field == "progress" %}
                                <div>
                                    進捗状況の入力エラー
                                </div>
                            {% elif field == "subject" %}
                                <div>
                                    項目の入力エラー
                                </div>
                            {% elif field == "content" %}
                                <div>
                                    質問の入力エラー
                                </div>
                            {% endif %}
                        {% endif %}
                        <ul>
                            {% for error in errors %}
                            <li>
                                {{ error }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <form class="col-lg-10" action="{% url 'toukiApp:step_inquiry' %}" method="POST" novalidate>
            {% csrf_token %}
            {% for field in inquiry_form %}
                <fieldset>
                    <div class="input-group">
                        <span class="input-group-text fw-bold label">
                            {{ field.label }}
                        </span>
                        {{ field }}
                    </div>
                </fieldset>
            {% endfor %}
            <p class="text-danger text-center">
                ※
                <b>
                    {{company_data.MAIL_ADDRESS}}
                </b>
                からメールを受信できるように設定をお願いします。
            </p>
            {% include "toukiApp/parts/modals/confirm.html" %}
            <fieldset class="text-center mt-3">
                <button disabled type="button" id="showModalBtn" class="btn btn-primary bg-gradient bg-opacity-50 fw-bold" data-bs-toggle="modal" data-bs-target="#confirm_modal">
                    送信
                </button>
            </fieldset>
        </form>
        <hr>
        <section>
            <h5 class="md-text-center">
                過去のお問い合わせ
            </h5>
            {% if q_and_a_data %}
                {% for q, a in q_and_a_data %}
                    <ul class="mt-3 ps-md-5 ps-3">
                        <li>
                            <div>
                                <p class="fw-bold">
                                    <span class="border-bottom {% if a %}text-success border-success{% else %}text-danger border-danger{% endif %}">
                                        質問（{{q.updated_at}}）
                                    </span>
                                </p>
                                <div class="ms-3">
                                    <div>
                                        ・{{q.category}}の{{q.subject}}について
                                    </div>
                                    <p class="fw-bold">
                                        {{q.content}}
                                    </p>
                                </div>
                            </div>
                            <div class="ms-3 ms-sm-5">
                                <p class="fw-bold">
                                    <span class="border-bottom border-primary text-primary">
                                        ＞回答
                                        {% if a %}
                                            （{{a.updated_at}}）
                                        {% endif %}
                                    </span>
                                </p>
                                <p class="ms-3 fw-bold">
                                    {% if a %}
                                        {{a.content|linebreaksbr}}
                                    {% else %}
                                        原則２４以内に回答いたします。
                                    {% endif %}
                                </p>
                            </div>
                        </li>
                    </ul>
                {% endfor %}
            {% else %}
                <div class="ms-3 mt-3">
                    ありません。お気軽にお問い合わせください。
                </div>
            {% endif %}
        </section>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include "toukiApp/step_footer.html" %}
{% endblock %}

{% block js %}
    {% load static %}
    <script src="{% static 'toukiApp/step_inquiry.js' %}"></script>
    <script src="{% static 'toukiApp/parts/messages.js' %}"></script>
    <script> const progress = JSON.parse("{{progress|escapejs}}"); </script>
{% endblock %}