{% extends "toukiApp/base.html" %}

{% block title %}{{ title }} | {{ block.super}}{% endblock title %}

{% block stylesheet %}
    {% load static %}
    {% include "toukiApp/parts/step_one/block_stylesheet.html" %}
    <link rel="stylesheet" href="{% static 'toukiApp/step_one_trial.css' %}">
    <link rel="stylesheet" href="{% static 'toukiApp/parts/reference-document.css' %}">
{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% load custom_filters %}

{% block content %}

{% include "toukiApp/parts/step_messages.html" %}
{% include "toukiApp/parts/modals/not_available.html" %}
{% include "toukiApp/parts/modals/trial_result.html" %}

{% if persons_data|length > 0 %}
    {% include "toukiApp/parts/modals/legal_heirs_check_result.html" %}
{% endif %}

<div class="d-flex container-xxl">
    {% include "toukiApp/step_sidebar.html" %}
    <div class="pt-4 ps-lg-5 container-xxl">
        {% include "toukiApp/parts/step_one/top.html" %}
        {% if persons_data|length > 0 %}
            <hr>
            <h4 class="text-primary lg-text-center mb-4">
                判定結果
            </h4>
            <section id="heirs_list">
                <h5 class="text-success lg-text-center">
                    ＜法定相続人一覧＞
                </h5>
                <div class="d-flex lg-justify-content-center">
                    <ul class="p-0 mb-0">
                        {% for x in persons_data %}
                            {% if x.is_heir %}
                                <li class="d-flex">
                                    <span class="border-bottom border-success fw-bold px-3">
                                        {{ x.name }}
                                    </span>
                                    さん
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <h5 class="text-success lg-text-center mt-5">
                    ＜必要書類＞
                </h5>
                <ul class="ps-0 mb-0">
                    {% if deceased_person_names|length > 0 %}
                        <li>
                            <div class="lg-text-center">
                                <span class="border-bottom border-dark fw-bold">
                                    以下の方々の出生から死亡までの戸籍謄本
                                </span>
                                <br>
                                <span class="form-text">
                                    ※重複する戸籍謄本は1通で足ります。
                                </span>
                            </div>
                            <div class="d-flex lg-justify-content-center">
                                <ul class="ps-3 mb-0">
                                    <li class="checkmark">
                                        {{ decedent_name }}
                                        <span class="ms-3">
                                            さん
                                        </span>
                                    </li>
                                    {% for x in deceased_person_names %}
                                        <li class="checkmark">
                                            {{ x }}
                                            <span class="ms-3">
                                                さん
                                            </span>
                                        </li>                            
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        <li class="lg-text-center">
                            <span class="border-bottom border-dark fw-bold">
                                {{ decedent_name }}さんに関する書類
                            </span>
                        </li>
                    {% else %}
                        <li>
                            <div class="lg-text-center">
                                <span class="border-bottom border-dark fw-bold">
                                    {{ decedent_name }}さんに関する書類
                                </span>
                            </div>
                            <div class="checkmark ms-3 mt-3">
                                出生から死亡までの戸籍謄本
                            </div>
                        </li>
                    {% endif %}
                    <li class="checkmark ms-3">
                        不動産の登記記録がわかるもの
                        <div class="additional-text">
                            <div>
                                例）
                            </div>
                            <div>
                                <div>
                                    登記情報
                                </div>
                                <div>
                                    全部事項証明書
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="checkmark ms-3">
                        不動産の固定資産評価額がわかるもの
                        <div class="additional-text">
                            <div>
                                例）
                            </div>
                            <div>
                                <div>
                                    固定資産評価証明書
                                </div>
                                <div>
                                    固定資産税の納税通知書に付属の課税明細書、など
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="checkmark ms-3">
                        登記記録上の住所から死亡時の住所までの履歴を証明できるもの
                        <div class="additional-text">
                            <div>
                                例）
                            </div>
                            <div>
                                <div>
                                    住民票の除票
                                </div>
                                <div>
                                    戸籍の附票、など
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="lg-text-center">
                            <span class="border-bottom border-dark fw-bold">
                                法定相続人に関する書類
                            </span>
                        </div>
                        <div class="checkmark ms-3 mt-3">
                            戸籍(全部または個人)事項証明書
                            <div class="additional-text">
                                <div>
                                    ※
                                </div>
                                <div>
                                    重複する戸籍謄本は1通で足ります。
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="checkmark ms-3">
                        印鑑証明書
                        <div class="additional-text">
                            <div>
                                ※
                            </div>
                            <div>
                                法定相続人が1名の場合は不要
                            </div>
                        </div>
                        <div class="d-flex">
                            <div>
                                ※
                            </div>
                            <div>
                                日本に住民票がない方は、遺産分割協議書などの不動産の配分について法定相続人全員の合意を証明する書面に署名証明書が付されたもの
                            </div>
                        </div>
                    </li>
                    <li class="checkmark ms-3">
                        <div>
                            不動産を取得する方の住民票
                        </div>
                        <div class="additional-text">
                            <div>
                                ※
                            </div>
                            <div>
                                日本に住民票がない方は、在留証明書
                            </div>
                        </div>
                    </li>
                    <li class="checkmark ms-3">
                        相続放棄した方がいる場合は相続放棄申述受理証明書
                    </li>
                    <li>
                        <div class="lg-text-center">
                            <span class="border-bottom border-dark fw-bold">
                                申請書類
                            </span>
                        </div>
                        <div class="checkmark ms-3 mt-3">
                            登記申請書
                        </div>
                    </li>
                    <li class="checkmark ms-3">
                        遺産分割協議書などの不動産の配分について法定相続人全員の合意を証明する書面
                        <div class="additional-text">
                            <div>
                                ※
                            </div>
                            <div>
                                法定相続人が1名または法定相続分による配分のときは不要
                            </div>
                        </div>
                    </li>
                    <li class="checkmark ms-3">
                        相続関係説明図
                        <div class="additional-text">
                            <div>
                                ※
                            </div>
                            <div>
                                戸籍謄本等のコピーを提出せずに返却してもらいたい場合
                            </div>
                        </div>
                    </li>
                </ul>
            </section>
            <hr class="mb-5">
        {% endif %}
        <form action="{% url 'toukiApp:step_one_trial' %}" method="POST" class="my-4 d-flex" novalidate>
            {% csrf_token %}
            {% include "toukiApp/parts/step_one/input_section.html" %}
            {% include "toukiApp/parts/step_one/guide_section.html" %}
        </form>
    </div>
</div>

{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}

{% block js %}
    {% load static %}
    {% include "toukiApp/parts/step_one/block_js.html" %}
    <script src="{% static 'toukiApp/step_one_trial.js' %}"></script>
    <script> const persons_data_for_modal = JSON.parse("{{persons_data_for_modal|escapejs}}"); </script>
{% endblock %}