{% extends "toukiApp/base.html" %}

{% block title %}{{ title }} | {{ block.super}}{% endblock title %}

{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'toukiApp/step_POA.css' %}">
    <link rel="stylesheet" href="{% static 'toukiApp/parts/messages.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% load custom_filters %}

{% block content %}

{% include "toukiApp/parts/step_messages.html" %}

<div class="modal fade" id="seal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning-subtle bg-gradient bg-opacity-50">
                <h5 class="modal-title">
                    契印のしかた
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img class="modal-image" src="{% static 'toukiApp/img/委任状の契印.png' %}" alt="契印の説明画像">
            </div>
        </div>
    </div>
</div>

<div class="d-flex container-xxl">
    <div class="container">
        <section class="top">
            <h1 class="fs-5 text-center">
                こちらのページをA4の縦方向でご印刷ください。
            </h1>
            <p class="fw-bold text-center mt-3">
                PDFが必要でお使いのPCにこのページをPDFで印刷する機能がない場合はお問い合わせをお願いします。
                <br>
                <a class="fw-bold text-primary" href="mailto:{{ company_data.MAIL_ADDRESS|urlencode }}?subject=委任状のPDFについて&body=アカウント：{{ user_email|urlencode }}%0D%0A委任状のPDFを送ってください。">
                    {{ company_data.MAIL_ADDRESS }}
                </a>
            </p>
            <div class="mt-4 d-flex justify-content-center">
                <div class="d-inline-block border rounded-3 p-3">
                    <p class="text-danger fw-bold">
                        ※注意事項
                    </p>
                    <p class="ms-3">
                        <span class="fw-bold border-bottom border-secondary">
                            使用する印鑑について
                        </span><br>
                        <span class="ms-3">
                            実印で印鑑登録証明書と照合できるように鮮明に押印ください。
                        </span>
                    </p>
                    <div class="ms-3">
                        <span class="fw-bold border-bottom border-secondary">
                            ２枚以上になる委任状があるとき
                        </span><br>
                        <div class="ms-3">
                            署名欄の押印以外に
                            <button type="button" class="text-primary fw-bold" data-bs-toggle="modal" data-bs-target="#seal">
                                契印（こちらをクリック）
                            </button>
                            も必要です。
                        </div>
                        <div class="ms-3">
                            契印とは、複数枚が一連の文書のものであることを証明するための押印です。
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr>
        <section class="d-flex justify-content-center mt-5">
            <div id="print_page">
                {% for data in POA_data %}
                    <div class="print_per_section">
                        <h5 class="text-center">
                            委任状
                        </h5>
                        <div class="mt-4">
                            <div class="text-center">
                                <div>
                                    {{data.agent.address}}
                                </div>
                                <div class="mt-3">
                                    {{data.agent.name}}
                                </div>
                            </div>
                        </div>
                        <div class="sentence">
                            私は、上記の者を代理人と定め、下記登記申請に関する一切の権限を委任します。
                        </div>
                        <div class="text-center mt-3">
                            <span>
                                記
                            </span>
                        </div>
                        <fieldset class="content">
                            <div class="overview">
                                <ul>
                                    <li class="mt-4">
                                        <div class="headword">
                                            登記の目的
                                        </div>
                                        <div>
                                            {{data.purpose_of_registration}}
                                        </div>
                                    </li>
                                    <li>
                                        <div class="headword">
                                            原因
                                        </div>
                                        <div>
                                            {{data.cause}}相続
                                        </div>
                                    </li>
                                    <li>
                                        <div class="headword">
                                            相続人
                                        </div>
                                        <div>
                                            <div>
                                                <span>
                                                    （被相続人
                                                </span>
                                                <span class="ms-3">
                                                    {{decedent_name}}）
                                                </span>
                                            </div>
                                            {% for acquirer in data.acquirers %}
                                                <div>
                                                    {{acquirer.address}}
                                                </div>
                                                <div class="ms-4 d-flex">
                                                    <div>
                                                        {% if acquirer.is_share == "true" %}
                                                            {{acquirer.percentage_phrase}}
                                                        {% endif %}
                                                    </div>
                                                    <div class="d-flex justify-content-between ms-3">
                                                        <div>
                                                            {{acquirer.name}}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </li>
                                    <li>
                                        <div class="headword">
                                            不動産の表示
                                        </div>
                                        <div class="property">
                                            {% for property in data.properties %}
                                                <div>
                                                    <div>
                                                        {% if property.property_type == "Land" %}
                                                            {{ property.address }}{{ property.address_number }}の土地
                                                        {% elif property.property_type == "House" %}
                                                            {{ property.address }}
                                                            <br>
                                                            家屋番号{{ property.address_number }}の建物
                                                        {% elif property.property_type == "Bldg" %}
                                                            {{ property.address }}
                                                            <br>
                                                            家屋番号{{ property.address_number }}の区分建物
                                                        {% endif %}
                                                    </div>
                                                    {% if property.sites %}
                                                        <div class="ms-3">
                                                            敷地権の表示
                                                        </div>
                                                        {% for site in property.sites %}
                                                            <div class="site">
                                                            
                                                                <div>
                                                                    <div>
                                                                        土地の符号{{site.site_number}}
                                                                    </div>
                                                                    <div>
                                                                        {{site.address_and_land_number}}
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <div>
                                                                        敷地権の種類
                                                                    </div>
                                                                    <div>
                                                                        {{site.site_type}}
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <div>
                                                                        敷地権の割合
                                                                    </div>
                                                                    <div>
                                                                        {{site.site_purparty}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                    {% if data.purpose_of_registration != "所有権移転" or property.acquirers|length > 1 %}
                                                        {% for acquirer in property.acquirers %}
                                                            <div class="ms-5">
                                                                持分{{acquirer.percentage}}
                                                                <span class="ms-3">
                                                                    {{acquirer.name}}
                                                                </span>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="letter">
                                <ul>
                                    <li>
                                        １．原本還付請求及び受領に関する一切の件
                                    </li>
                                    <li>
                                        １．登記申請の取り下げ又は補正に関する一切の件
                                    </li>
                                    <li>
                                        １．再使用証明の請求及び受領に関する一切の件
                                    </li>
                                    <li>
                                        １．登記識別情報通知書及び登記完了証の受領に関する一切の件
                                    </li>
                                    <li>
                                        １．上記事項に関する復代理人選任に関する一切の件
                                    </li>
                                </ul>
                            </div>
                        </fieldset>
                        <div class="end text-end">
                            <span>
                                以上
                            </span>
                        </div>
                        <fieldset class="signature">
                            <div>
                                <span>
                                    令和
                                </span>
                                <span>
                                    年
                                </span>
                                <span>
                                    月
                                </span>
                                <span>
                                    日（記入日）
                                </span>
                            </div>
                            <div>
                                住所
                            </div>
                            <div>
                                <div>
                                    氏名
                                </div>
                                <div class="stamp_box">
                                </div>
                            </div>
                            <div>
                                <div class="form-text">
                                    ※実印（印鑑登録証明書と同じ印鑑）<br>
                                    ※不鮮明なときは、丸枠の近くに押しなおしてください
                                </div>
                            </div>
                        </fieldset>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block js %}
    {% load static %}
    <script type="module" src="{% static 'toukiApp/step_POA.js' %}"></script>
    <script type="module" src="{% static 'toukiApp/parts/messages.js' %}"></script>
{% endblock %}