{% extends "toukiApp/base.html" %}

{% block title %}{{ title }} | {{ block.super}}{% endblock title %}

{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'toukiApp/step_division_agreement.css' %}">
    <link rel="stylesheet" href="{% static 'toukiApp/step_documents.css' %}">
    <link rel="stylesheet" href="{% static 'toukiApp/parts/messages.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% load custom_filters %}

{% block content %}

{% include "toukiApp/parts/step_messages.html" %}

<div class="modal fade" id="seal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning-subtle bg-gradient bg-opacity-50">
                <h5 class="modal-title">
                    契印のしかた
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img class="modal-image" src="{% static 'toukiApp/img/遺産分割協議証明書の契印.png' %}" alt="契印の説明画像">
            </div>
        </div>
    </div>
</div>

<fieldset class="container-md">
    <div class="top">
        <div class="text-center">
            <button id="backBtn" type="button" class="fs-5 btn btn-primary fw-bold bg-gradient bg-opacity-50">
                戻る
                <span id="backBtnSpinner" class="spinner-border spinner-border-sm text-warning" role="status" style="display: none;">
                </span>
            </button>
        </div>
        <h5 class="text-center mt-3">
            こちらのページをA4の縦方向でご印刷ください。
        </h5>
        <p class="fw-bold text-center mt-3">
            スマホやタブレットをご利用の方やPDFで出力する機能がない場合は、
            <a class="fw-bold text-primary" href="mailto:{{ company_data.MAIL_ADDRESS|urlencode }}?subject=遺産分割協議証明書のPDFについて&body=アカウント：{{ user_email|urlencode }}%0D%0A遺産分割協議証明書のPDFを送ってください。">
                お問い合わせ
            </a>
            をお願いします。
        </p>
        <div class="mt-4 d-flex justify-content-center">
            <div class="d-inline-block border rounded-3 p-3">
                <p class="text-danger fw-bold">
                    ※注意事項
                </p>
                <div class="ms-sm-3">
                    <span class="fw-bold border-bottom border-secondary">
                        押印について
                    </span>
                    <p class="ms-3">
                        実印で印鑑登録証明書と照合できるように鮮明に押印ください。
                    </p>
                </div>
                <div class="ms-sm-3">
                    <span class="fw-bold border-bottom border-secondary">
                        ２枚以上になっているとき
                    </span>
                    <div class="ms-3">
                        署名欄の押印以外に
                        <button type="button" class="text-primary fw-bold" data-bs-toggle="modal" data-bs-target="#seal">
                            契印
                        </button>
                        も必要です。
                        <div class="d-flex">
                            <div>
                                ※
                            </div>
                            <div>
                                <button type="button" class="text-primary fw-bold" data-bs-toggle="modal" data-bs-target="#seal">
                                    契印
                                </button>
                                とは、複数枚が一連の文書のものであることを証明するための押印です。
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="d-lg-flex justify-content-center mt-5">
        <div id="print_page_wrapper">
            <div class="print_per_section">
                <h5 class="text-center">
                    遺産分割協議証明書
                </h5>
                <div class="decedent_info">
                    <ul>
                        <li>
                            <div>
                                被相続人
                            </div>
                            <div>
                                {{ decedent_info.name }}
                            </div>
                        </li>
                        <li>
                            <div>
                                生年月日
                            </div>
                            <div>
                                {{ decedent_info.birth_date|to_full_width }}
                            </div>
                        </li>
                        <li>
                            <div>
                                死亡年月日
                            </div>
                            <div>
                                {{ decedent_info.death_date|to_full_width }}
                            </div>
                        </li>
                        <li>
                            <div>
                                死亡時の本籍
                            </div>
                            <div>
                                {{ decedent_info.permanent_address }}
                            </div>
                        </li>
                        <li>
                            <div>
                                死亡時の住所
                            </div>
                            <div>
                                {{ decedent_info.address|linebreaks }}
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="sentence">
                    上記被相続人が死亡したことにより開始した相続について、共同相続人全員は、下記の通り遺産を分割することに合意した。
                </div>
                <div class="text-center mt-3">
                    記
                </div>
                {% if normal_division_properties %}
                    {% for d in normal_division_properties %}
                        <div class="content">
                            <p class="text-indent">
                                下記不動産は、
                                {% for acquirer in d.1 %}
                                    {% if forloop.last %}
                                        {% for name, percentage in acquirer.items %}
                                            {% if percentage == "１分の１" %}
                                                {{ name }}が
                                            {% else %}
                                                {{ name }}が{{ percentage }}
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        {% for name, percentage in acquirer.items %}
                                            {{ name }}が{{ percentage }}、
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                                取得する。
                            </p>
                            <div class="property">
                                {% for property in d.0 %}
                                    <div>
                                        <div>
                                            {% if property|classname == "Land" %}
                                                {{ property.address }}{{ property.land_number }}の土地
                                            {% elif property|classname == "House" %}
                                                {{ property.address }}
                                                <br>
                                                <span class="text-indent">
                                                    家屋番号{{ property.house_number }}の建物
                                                </span>
                                            {% elif property|classname == "Bldg" %}
                                                {{ property.address }}
                                                <br>
                                                <span class="text-indent">
                                                    家屋番号{{ property.bldg_number }}の区分建物
                                                </span>
                                            {% endif %}
                                        </div>
                                        {% if property.purparty != "１分の１" %}
                                            <div class="ms-3">
                                                （{{decedent_info.name}}の持分{{ property.purparty }}）
                                            </div>
                                        {% endif %}
                                        {% if property|classname == "Bldg" %}
                                            <div class="ms-3">
                                                敷地権の表示
                                            </div>
                                            {% for site in sites %}
                                                {% if site.bldg.id == property.id %}
                                                <div class="site">
                                                    <div>
                                                        <div>
                                                            土地の符号{{site.number}}
                                                        </div>
                                                        <div>
                                                            {{site.address_and_land_number}}
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div>
                                                            敷地権の種類
                                                        </div>
                                                        <div>
                                                            {{site.type}}
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div>
                                                            敷地権の割合
                                                        </div>
                                                        <div>
                                                            {{site.purparty_bottom}}分の{{site.purparty_top}}
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if exchange_division_properties %}
                    {% for d in exchange_division_properties %}
                        <div class="content">
                            <p class="text-indent">
                                下記不動産は、
                                {% for acquirer in d.1 %}
                                    {% if forloop.last %}
                                        {% for name, percentage in acquirer.items %}
                                            {% if percentage == "１分の１" %}
                                                {{ name }}が
                                            {% else %}
                                                {{ name }}が{{ percentage }}
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        {% for name, percentage in acquirer.items %}
                                            {{ name }}が{{ percentage }}、
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                                取得する。
                                <br>
                                <span class="ms-3">
                                    なお、この不動産は売却し、売買代金から売却にかかった費用を控除した残金を
                                </span>
                                {% for cash_acquirer in d.2 %}
                                    {% if forloop.last %}
                                        {% for name, percentage in cash_acquirer.items %}
                                            {% if percentage == "１分の１" %}
                                                {{ name }}が
                                            {% else %}
                                                {{ name }}が{{ percentage }}
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        {% for name, percentage in cash_acquirer.items %}
                                            {{ name }}が{{ percentage }}、
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                                取得する。
                            </p>
                            <div class="property">
                                {% for property in d.0 %}
                                    <div>
                                        <div>
                                            {% if property|classname == "Land" %}
                                                {{ property.address }}{{ property.land_number }}の土地
                                            {% elif property|classname == "House" %}
                                                {{ property.address }}
                                                <br>
                                                <span class="text-indent">
                                                    家屋番号{{ property.house_number }}の建物
                                                </span>
                                            {% elif property|classname == "Bldg" %}
                                                {{ property.address }}
                                                <br>
                                                <span class="text-indent">
                                                    家屋番号{{ property.bldg_number }}の区分建物
                                                </span>
                                            {% endif %}
                                        </div>
                                        {% if property.purparty != "１分の１" %}
                                            <div class="ms-3">
                                                （{{decedent_info.name}}の持分{{ property.purparty }}）
                                            </div>
                                        {% endif %}
                                        {% if property|classname == "Bldg" %}
                                            <div class="ms-3">
                                                敷地権の表示
                                            </div>
                                            {% for site in sites %}
                                                {% if site.bldg.id == property.id %}
                                                <div class="site">
                                                    <div>
                                                        <div>
                                                            土地の符号{{site.number}}
                                                        </div>
                                                        <div>
                                                            {{site.address_and_land_number}}
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div>
                                                            敷地権の種類
                                                        </div>
                                                        <div>
                                                            {{site.type}}
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div>
                                                            敷地権の割合
                                                        </div>
                                                        <div>
                                                            {{site.purparty_bottom}}分の{{site.purparty_top}}
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="end text-end">
                    <span>
                        以上
                    </span>
                </div>
                {% include "toukiApp/parts/signature.html" %}
            </div>
        </div>
    </div>
</fieldset>
{% endblock %}

{% block footer %}
{% endblock %}

{% block js %}
    {% load static %}
    <script> const progress = JSON.parse("{{progress|escapejs}}"); </script>
    <script src="{% static 'toukiApp/step_documents.js' %}"></script>
    <script src="{% static 'toukiApp/step_division_agreement.js' %}"></script>
    <script src="{% static 'toukiApp/parts/messages.js' %}"></script>
{% endblock %}