{% extends "toukiApp/base.html" %}
{% block title %}{{ title }} | {{ block.super}}{% endblock title %}
{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'toukiApp/step_five.css' %}">
    <link rel="stylesheet" href="{% static 'toukiApp/parts/messages.css' %}">
    <link rel="stylesheet" href="{% static 'toukiApp/parts/reference-document.css' %}">
{% endblock %}
{% block header %}
    {% include "toukiApp/step_header.html" %}
{% endblock %}
{% load custom_filters %}

{% block content %}

{% include "toukiApp/parts/step_messages.html" %}

{% include "toukiApp/parts/decedent_resident_certification_one.html" %}
{% include "toukiApp/parts/decedent_resident_certification_two.html" %}
{% include "toukiApp/parts/alt_decedent_resident_certification_one.html" %}
{% include "toukiApp/parts/alt_decedent_resident_certification_two.html" %}
{% include "toukiApp/parts/alt_decedent_resident_certification_three.html" %}
{% include "toukiApp/parts/price_certification.html" %}
{% include "toukiApp/parts/check_decedent_address.html" %}
{% include "toukiApp/parts/acquirer_resident_certification_three.html" %}
{% include "toukiApp/parts/heir_family_certification.html" %}
{% include "toukiApp/parts/modals/reacquire_price_certification.html" %}
{% include "toukiApp/parts/refuse_inheritance_document.html" %}
{% include "toukiApp/parts/modals/return_request.html" %}

<div class="modal fade" id="land_info" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning-subtle bg-gradient bg-opacity-50">
                <h5 class="modal-title">
                    不動産の登記情報（全部事項証明書も同じ内容が記載されてます）
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img class="modal-image" src="{% static 'toukiApp/img/登記情報（土地）.png' %}" alt="土地登記情報の説明画像">
            </div>
        </div>
    </div>
</div>      

<div class="modal fade" id="acquirer_resident_certification_two" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning-subtle bg-gradient bg-opacity-50">
                <h5 class="modal-title">
                    戸籍の附票
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="d-flex justify-content-center">
                    <img class="modal-image" src="{% static 'toukiApp/img/現在戸籍の附票.png' %}" alt="現在戸籍の附票の説明画像">
                </p>
            </div>
        </div>
    </div>
</div> 

<div class="modal fade" id="sort_application_form" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning-subtle bg-gradient bg-opacity-50">
                <h5 class="modal-title">
                    登記申請書のまとめかたと押印について
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-headword="Close"></button>
            </div>
            <div class="modal-body">
                <img class="modal-image" src="{% static 'toukiApp/img/登記申請書のまとめかたと押印.png' %}" alt="契印の説明画像">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="seal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning-subtle bg-gradient bg-opacity-50">
                <h5 class="modal-title">
                    契印のしかた（印鑑は登記申請書に使用したもの）
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <img class="modal-image" src="{% static 'toukiApp/img/契印.png' %}" alt="契印の説明画像">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="tax_amount_and_paste" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning-subtle bg-gradient bg-opacity-50">
                <h5 class="modal-title">
                    登録免許税の金額の確認と貼り付け
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <img class="modal-image" src="{% static 'toukiApp/img/登記申請書例.png' %}" alt="登録免許税の金額と貼り付けの説明画像">
                </div>
                <div class="px-sm-5 pt-4 mt-3 border-top">
                    <div class="d-flex">
                        <div>
                            ※
                        </div>
                        <div>
                            印紙は郵便局や法務局で購入できます。
                        </div>
                    </div>
                    <div class="d-flex mt-3">
                        <div>
                            ※
                        </div>
                        <div>
                            印紙の組み合わせは自由です。
                            <div>
                                例）登録免許税が８，０００円のとき
                            </div>
                            <div class="ms-3">
                                ８，０００円の印紙１枚でも１，０００円の印紙８枚などの組み合わせでも大丈夫です。
                            </div>
                            <div class="ms-3">
                                受付の方に「〇〇円分の印紙」のように伝えると適宜の組み合わせを用意してもらえます。
                            </div>
                        </div>
                    </div>
                    <div class="d-flex mt-3">
                        <div>
                            ※
                        </div>
                        <div>
                            <div>
                                登記申請書が２通以上あるとき、申請先が同じ法務局でも申請書ごとに印紙を貼る必要があります。
                            </div>
                            <div>
                                例）申請書が２通あり、それぞれ登録免許税が８，０００円（計１６，０００円）のとき
                            </div>
                            <div class="ms-3">
                                ８，０００円分の印紙を２セット購入してそれぞれの申請書の白紙ページに貼ってください。
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex container-xxl">
    {% include "toukiApp/step_sidebar.html" %}
    <div class="pt-4 px-3 ps-md-4 container-xxl">
        <div class="heading">
            <h4>
                書類を整理して法務局に提出
            </h4>
            <div class="form-text">
                ※作業時間の目安は１時間～２時間です
            </div>
        </div>
        <hr>
        <form action="{% url 'toukiApp:step_five' %}" method="POST" class="my-4" novalidate>
            {% csrf_token %}
            <ol id="stepList">
                <li class="container-md">
                    <h5>
                        書類の確認
                    </h5>
                    <span class="px-3 form-text border-bottom border-secondary">
                        書類名をクリックすると参考例が表示されます。
                    </span>
                    <ol class="list-group d-inline-block mt-3">
                        <li class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="check1">
                                <label class="form-check-label" for="check1">
                                    <button type="button" class="fw-bold cursor-pointer" data-bs-toggle="modal" data-bs-target="#price_certification">
                                        固定資産評価証明書
                                    </button>
                                    は当年度のものですか？
                                    <div class="d-flex">
                                        <div class="fw-bold text-primary">
                                            ※
                                        </div>
                                        <button type="button" class="fw-bold text-primary" data-bs-toggle="modal" data-bs-target="#reacquire_price_certification_modal">
                                            取得した固定資産評価証明書が年度をまたぐ（4月1日を超える）ときは、再取得が必要です。
                                        </button>
                                    </div>
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="check2">
                                <label class="form-check-label" for="check2">
                                    <button class="fw-bold" type="button" data-bs-toggle="modal" data-bs-target="#land_info">
                                        登記情報または全部事項証明書
                                    </button>
                                    に記載の被相続人の住所を証明する
                                    <button class="fw-bold" type="button" data-bs-toggle="modal" data-bs-target="#decedent_resident_certification_one">
                                        住民票の除票
                                    </button>
                                    または
                                    <button class="fw-bold" type="button" data-bs-toggle="modal" data-bs-target="#decedent_resident_certification_two">
                                        戸籍の附票
                                    </button>
                                    はありますか？
                                    <button type="button" class="fw-bold text-primary" data-bs-toggle="modal" data-bs-target="#check_decedent_address">
                                        （確認方法）
                                    </button>
                                    <div class="d-flex">
                                        <div>
                                            ※
                                        </div>
                                        <div>
                                            ないときは、以下のいずれか
                                            <ul class="ps-0 ps-sm-5 mb-0">
                                                <li>
                                                    <button class="fw-bold" type="button" data-bs-toggle="modal" data-bs-target="#alt_decedent_resident_certification_one">
                                                        登記済証
                                                    </button>
                                                </li>
                                                <li>
                                                    <button class="fw-bold" type="button" data-bs-toggle="modal" data-bs-target="#alt_decedent_resident_certification_two">
                                                        登記識別情報通知書
                                                    </button>
                                                </li>
                                                <li>
                                                    <button class="fw-bold" type="button" data-bs-toggle="modal" data-bs-target="#alt_decedent_resident_certification_three">
                                                        不在住証明書
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="check3">
                                <label class="form-check-label" for="check3">
                                    相続人全員の
                                    <button class="fw-bold" type="button" data-bs-toggle="modal" data-bs-target="#heir_family_certification">
                                        戸籍の全部事項証明書
                                    </button>
                                    と
                                    <span class="fw-bold">
                                        印鑑証明書
                                    </span>
                                    はありますか？
                                    {% if overseas_acquirers|length > 0 %}
                                        <div>
                                            ※日本に住民票がない方は、
                                            <button class="fw-bold" type="button" data-bs-toggle="modal" data-bs-target="#alt_stamp_certificate_modal">
                                                署名証明書。
                                            </button>
                                        </div>
                                    {% endif %}
                                    {% if minors|length > 0%}
                                        <br>
                                        ※未成年の方は、法定代理人のもの（発行から３ヶ月以内）が必要です。
                                    {% endif %}
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="check4">
                                <label class="form-check-label" for="check4">
                                    <div>
                                        不動産を取得する方の
                                        <span class="fw-bold">
                                            住民票
                                        </span>
                                        または
                                        <button class="fw-bold" type="button" data-bs-toggle="modal" data-bs-target="#acquirer_resident_certification_two">
                                            戸籍の附票
                                        </button>
                                        はありますか？
                                    </div>
                                    {% if overseas_acquirers|length > 0 %}
                                        <div>
                                            ※日本に住民票がない方は、
                                            <button class="fw-bold" type="button" data-bs-toggle="modal" data-bs-target="#acquirer_resident_certification_three">
                                                在留証明書。
                                            </button>
                                        </div>
                                    {% endif %}
                                </label>
                            </div>
                        </li>
                        {% if refused_heirs|length > 0 %}
                            <li class="list-group-item">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="check4">
                                    <label class="form-check-label" for="check4">
                                        <div>
                                            <button type="button" data-bs-toggle="modal" data-bs-target="#refuse-inheritance-document-modal">
                                                <span class="fw-bold">
                                                    相続放棄受理通知書または相続放棄受理証明書
                                                </span>
                                                はありますか？
                                            </button>
                                        </div>
                                    </label>
                                </div>
                            </li>
                        {% endif %}
                    </ol>
                </li>
                <hr>
                <li class="container-md mt-3">
                    <h5>
                        書類のコピー
                    </h5>
                    <ul class="list-group list-group-flush border-bottom d-inline-block">
                        <li class="list-group-item">
                            <button class="fw-bold" type="button" data-bs-toggle="modal" data-bs-target="#price_certification">
                                固定資産評価証明書
                            </button>
                            <div class="d-flex ms-3">
                                1通
                            </div>
                            <div class="d-flex mt-3 ms-3">
                                <div>
                                    ※
                                </div>
                                <div>
                                    登記対象の不動産が記載されているページのみのコピーで大丈夫です。
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <button type="button" class="fw-bold" data-bs-toggle="modal" data-bs-target="#decedent_resident_certification_one">
                                被相続人の住民票の除票
                            </button>
                            又は
                            <button type="button" class="fw-bold" data-bs-toggle="modal" data-bs-target="#decedent_resident_certification_two">
                                戸籍の附票
                            </button>
                            <ul class="ps-0 mb-0 ps-3">
                                <li>
                                    {{offices|length}}通
                                </li>
                                <li class="d-flex mt-3">
                                    <div>
                                        ※
                                    </div>
                                    <div>
                                        両方取得しているときは、両方ともコピーが必要です。
                                    </div>
                                </li>
                                <li class="d-flex">
                                    <div>
                                        ※
                                    </div>
                                    <div>
                                        被相続人の住所の履歴を確認できなかった場合でも、取得しているときはコピーが必要です。
                                    </div>
                                </li>
                                <li class="d-flex">
                                    <div>
                                        ※
                                    </div>
                                    <div>
                                        役所の保存期間切れなどにより取得できなかった場合は不要です。
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="list-group-item">
                            <button type="button" class="fw-bold" data-bs-toggle="modal" data-bs-target="#alt_decedent_resident_certification_one">
                                登記済証
                            </button>
                            （用意しているとき）
                            <div class="ms-3">
                                1通
                            </div>
                            <div class="mt-3 ms-3 d-flex">
                                <div>
                                    ※
                                </div>
                                <div>
                                    登記済証は全ページのコピーが必要です。
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <button type="button" class="fw-bold" data-bs-toggle="modal" data-bs-target="#alt_decedent_resident_certification_two">
                                登記識別情報通知書
                            </button>
                            （用意しているとき）
                            <div class="ms-3">
                                1通
                            </div>
                        </li>
                        <li class="list-group-item">
                            <button type="button" class="fw-bold" data-bs-toggle="modal" data-bs-target="#alt_decedent_resident_certification_three">
                                不在住証明書
                            </button>
                            （用意しているとき）
                            <div class="ms-3">
                                住所の履歴を確認できなかった不動産が記載された登記申請書と同じ通数
                            </div>
                        </li>
                        <li class="list-group-item">
                            <span class="fw-bold">
                                各相続人の遺産分割協議証明書と印鑑証明書
                            </span>
                            <div class="ms-3">
                                {{offices|length}}通
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="fw-bold">
                                不動産を取得する方の住民票または
                                <button type="button" class="fw-bold" data-bs-toggle="modal" data-bs-target="#acquirer_resident_certification_two">
                                    戸籍の附票
                                </button>
                            </div>
                            {% if overseas_acquirers|length > 0 %}
                                <div class="d-flex">
                                    <div>
                                        ※
                                    </div>
                                    <div>
                                        日本に住民票がない方は、
                                        <button type="button" class="fw-bold" data-bs-toggle="modal" data-bs-target="#acquirer_resident_certification_three">
                                            在留証明書。
                                        </button>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="ms-3">
                                {% if offices|length == 1 %}
                                    1通
                                {% else %}
                                    取得する不動産が記載された登記申請書と同じ通数。ただし、同じ法務局へは1通で足ります。
                                {% endif %}
                            </div>
                        </li>
                        {% if refused_heirs|length > 0 %}
                            <li class="list-group-item">
                                <button type="button" class="fw-bold" data-bs-toggle="modal" data-bs-target="#refuse-inheritance-document-modal">
                                    相続放棄受理通知書または相続放棄受理証明書
                                </button>
                                <div class="ms-3">
                                    {{offices|length}}通
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </li>    
                <hr>
                <li class="container-md">
                    <h5>
                        書類の整理
                    </h5>
                    <p>
                        以下の順番になるよう書類を重ねて1セットにして左側の余白2か所をホッチキス留めしてください（登記申請書が2通以上あるときは、各登記申請書ごとのセットにする）。
                    </p>
                    <div class="d-flex">
                        <div>
                            ※
                        </div>
                        <p>
                            同じ法務局に提出する登記申請書が2通以上あるとき、登記申請書の「添付書類」に「（前件添付）」の記載がないものを最初のセットにしてください。
                        </p>
                    </div>
                    <ol id="papersOrderList" class="list-group list-group-flush border-bottom d-inline-block">
                        <li class="list-group-item">
                            登記申請書
                            <div class="d-flex">
                                <div class="text-primary">
                                    ※
                                </div>
                                <button type="button" class="text-primary" data-bs-toggle="modal" data-bs-target="#sort_application_form">
                                    まとめ方（登記申請書単体でもホッチキス留めが必要です）
                                </button>
                            </div>
                        </li>
                        <li class="list-group-item">
                            委任状（用意しているとき）
                            <div class="d-flex">
                                <div>
                                    ※
                                </div>
                                <div>
                                    登記申請書に記載の「代理人」または「申請人兼代理人」と一致するもの。
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            相続関係説明図
                            <div class="d-flex">
                                <div>
                                    ※
                                </div>
                                <div>
                                    登記申請書に記載の「相続人」と相続関係説明図に「相続」と記載された相続人が一致するもの。
                                </div>
                            </div>                        
                        </li>
                        <li class="list-group-item">
                            固定資産評価証明書のコピー
                            <div class="d-flex">
                                <div>
                                    ※
                                </div>
                                <div>
                                    同じ法務局に登記申請書を2通以上提出するとき、最初の登記申請書に重ねてください。
                                </div>
                            </div>
                            {% if offices|length > 1 %}
                                <div class="d-flex">
                                    <div>
                                        ※
                                    </div>
                                    <div>
                                        登記申請書に記載の不動産の表示と一致するもの。
                                    </div>
                                </div>
                            {% endif %}
                        </li>
                        <li class="list-group-item">
                            不動産を取得する方の住民票または戸籍の附票のコピー
                            {% if overseas_acquirers|length > 0 %}
                                <div>
                                    ※日本に住民票がない方は、在留証明書のコピー
                                </div>
                            {% endif %}
                        </li>
                        <li class="list-group-item">
                            被相続人の住民票の除票または戸籍の附票のコピー
                            <div class="d-flex">
                                <div>
                                    ※
                                </div>
                                <div>
                                    同じ法務局に登記申請書を2通以上提出するとき、最初の登記申請書に重ねてください。
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            登記済証、登記識別情報通知書、不在住証明書のコピー（用意しているとき）
                            <div class="d-flex">
                                <div>
                                    ※
                                </div>
                                <div>
                                    登記申請書の「不動産の表示」に記載されているもの。
                                </div>
                            </div>
                        </li>
                        {% if refused_heirs|length > 0 %}
                            <li class="list-group-item">
                                相続放棄受理通知書または相続放棄受理証明書のコピー
                                <div class="d-flex">
                                    <div>
                                        ※
                                    </div>
                                    <div>
                                        同じ法務局に提出する登記申請書が2通以上あるとき、最初の登記申請書に重ねてください。
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                        <li class="list-group-item">
                            遺産分割協議証明書と印鑑証明書のコピー
                            <div class="d-flex">
                                <div>
                                    ※
                                </div>
                                <div>
                                    各相続人ごとに重ねてください。
                                </div>
                            </div>
                            <div class="d-flex">
                                <div>
                                    ※
                                </div>
                                <div>
                                    同じ法務局に登記申請書を2通以上提出するとき、最初の登記申請書に重ねてください。
                                </div>
                            </div>
                        </li>
                    </ol>
                </li>
                <hr>
                <li class="container-md" id="stampColumn">
                    <h5>
                        書類に記入押印
                    </h5>
                    <ol id="stampList" class="list-group list-group-flush border-bottom d-inline-block">
                        <li class="list-group-item">
                            登記申請書の「申請日」に法務局に書類を提出する日を記入する
                            <div class="d-flex ms-3">
                                <div>
                                    ※
                                </div>
                                <div>
                                    郵送の場合は空欄のまま
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            固定資産評価証明書のコピーに参考例のとおり記入押印する
                            <br>
                            <button type="button" class="ms-3 fw-bold text-primary" data-bs-toggle="modal" data-bs-target="#return_request_modal">
                                ※参考例
                            </button>
                        </li>
                        <li class="list-group-item">
                            固定資産評価証明書のコピーの裏側から最後の書類まで契印する
                            <br>
                            <button type="button" class="ms-3 fw-bold text-primary" data-bs-toggle="modal" data-bs-target="#seal">
                                ※契印のしかた
                            </button>
                        </li>
                    </ol>
                </li>
                <hr>
                <li class="container-md">
                    <h5>
                        書類の原本の並び替え
                    </h5>
                    <div>
                        以下の順番に並べた後クリップなどでまとめて、3で整理した書類の後ろに重ねてクリアファイルや適宜の封筒などに入れてください。
                    </div>
                    <ol id="originalOrderList" class="list-group list-group-flush border-bottom d-inline-block">
                        <li class="list-group-item">
                            被相続人の出生から死亡までの戸籍謄本
                            <div class=" d-flex ms-3">
                                <div>
                                    ※
                                </div>
                                <div>
                                    出生から死亡まで順番に並べると法務局職員が処理しやすくなりますが、難しい場合は、そのままでも大丈夫です。
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            各相続人の戸籍（全部または個人）事項証明書
                            {% if minors|length > 0 %}
                                <div class="ms-3 d-flex">
                                    <div>
                                        ※
                                    </div>
                                    <div>
                                        未成年の相続人がいるときの法定代理人の戸籍の全部事項証明書も含む
                                    </div>
                                </div>                        
                            {% endif %}
                        </li>
                        <li class="list-group-item">
                            固定資産評価証明書
                        </li>
                        <li class="list-group-item">
                            不動産を取得する方の住民票または戸籍の附票
                            {% if overseas_acquirers|length > 0 %}
                                <div class="ms-3">
                                    ※日本に住民票がない方は、在留証明書
                                </div>
                            {% endif %}
                        </li>
                        <li class="list-group-item">
                            被相続人の住民票の除票または戸籍の附票

                        </li>
                        <li class="list-group-item">
                            登記済証、登記識別情報通知書、不在住証明書（用意しているとき）
                        </li>
                        {% if refused_heirs|length > 0 %}
                            <li class="list-group-item">
                                相続放棄受理通知書または相続放棄受理証明書
                            </li>
                        {% endif %}
                        <li class="list-group-item">
                            遺産分割協議証明書と印鑑証明書
                            <div class="ms-3 d-flex">
                                <div>
                                    ※
                                </div>
                                <div>
                                    各相続人ごとに並べてください。
                                </div>
                            </div>
                        </li>
                    </ol>
                </li>
                <hr>
                <li class="container">
                    <h5>
                        法務局に提出
                    </h5>
                    <ol id="lastStep" class="list-group list-group-flush border-bottom d-inline-block">
                        {% if offices|length > 1 %}
                            <div class="d-flex">
                                <div>
                                    ※
                                </div>
                                <div>
                                    提出先の法務局が2つ以上あり書類の原本が1通のみの場合
                                    <p class="ms-3">
                                        いずれかに提出→完了→次に提出の繰り返しになります。
                                    </p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div>
                                    ※
                                </div>
                                <p>
                                    同じ法務局に対する登記申請書が2通以上ある場合は、書類の原本が1通だけでも、まとめて提出することができます。
                                </p>
                            </div>
                            <div class="d-flex">
                                <div>
                                    ※
                                </div>
                                <p>
                                    提出先の法務局が登記申請書に記載の法務局に間違いないかご確認ください。
                                </p>
                            </div>
                        {% else %}
                            <div class="d-flex">
                                <div>
                                    ※
                                </div>
                                <p>
                                    登記申請書が2通以上あり書類の原本が1通だけでも場合でも、同じ法務局へはまとめて提出することができます。
                                    <br>
                                    登記申請書の「添付書類」に「（前件添付）」の記載がないものを一番上にしてください。
                                </p>
                            </div>
                        {% endif %}
                        <li class="list-group-item">
                            郵便局で以下のものを購入する
                            <div class="ms-4">
                                <div>
                                    ①登録免許税分の収入印紙
                                </div>
                                <div class="ms-3 d-flex">
                                    <div class="text-primary">
                                        ※                                        
                                    </div>
                                    <button type="button" class="text-primary" data-bs-toggle="modal" data-bs-target="#tax_amount_and_paste">
                                        登録免許税の金額はこちらを参考にご確認ください
                                    </button>
                                </div>
                            </div>
                            <div class="ms-4">
                                ②Ａ４サイズの書類が入る封筒（レターパック不可）
                                <div class="ms-3 d-flex">
                                    <div>
                                        ※ 
                                    </div>
                                    <div>
                                        手続きが完了した後に書類を受け取るための返信用封筒です。
                                    </div>
                                </div>
                            </div>
                            <div class="ms-4">
                                ③８６０円分の切手
                            </div>
                        </li>
                        <li class="list-group-item">
                            印紙を登記申請書の白紙のページに貼る
                            <div class="ms-3 d-flex">
                                <div>
                                    ※
                                </div>
                                <div>
                                    消印はしないでください。
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            封筒の表に手続きをする方の住所氏名を記入して、切手と一緒に申請書類が入っているクリアファイルなどに入れる
                            <div class="ms-3 d-flex">
                                <div>
                                    ※
                                </div>
                                <div>
                                    切手は封筒に貼らずにクリアファイルに入れてください
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            登記申請書に記載の法務局に持参または郵送（レターパックプラスまたは簡易書留）してください。
                        </li>
                    </ol>
                    <div class="ms-3 mt-3">
                        <ol id="officeList" class="list-group list-group-flush border-bottom d-inline-block">
                            申請書類の提出先一覧（法務局の住所は各法務局のホームページからご確認ください）
                            {% for x in offices %}
                                <li class="list-group-item">
                                    郵送の場合の宛名：{{ x }}
                                    <span class="ms-3">
                                        不動産登記係
                                    </span>
                                </li>
                            {% endfor %}
                            <!-- {% for office_name, office_url in office_name_and_link.items %}
                                <li class="list-group-item">
                                    郵送の場合の宛名：{{ office_name }}
                                    <span class="ms-3">
                                        不動産登記係
                                    </span>
                                    <div>
                                        {{ office_name }}のサイト：<a href="{{ office_url }}" target="_blank" rel="noopener noreferrer">{{ office_url }}</a>
                                    </div>
                                </li>
                            {% endfor %} -->
                        </ol>
                    </div>
                </li>
            </ol>
            <hr>
            <div class="mt-5">
                <div class="d-flex justify-content-evenly px-3 pb-3">
                    <div>
                        <button id="preBtn" type="button" class="btn btn-secondary bg-gradient bg-opacity-50 fw-bold">
                            前に戻る
                            <span id="preBtnSpinner" class="spinner-border spinner-border-sm text-warning" role="status" style="display: none;">
                            </span>
                        </button>
                    </div>
                    <div>
                        <button id="submitBtn" type="submit" class="btn btn-primary bg-gradient bg-opacity-50 fw-bold" disabled>
                            次に進む
                            <span id="submitSpinner" class="spinner-border spinner-border-sm text-warning" role="status" style="display: none;">
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="d-flex fw-bold">
                    <div>
                        ※
                    </div>
                    <div>
                        前に戻るボタンを押すと、ここでのチェックの状態が初期化されます。
                        <br>
                        前の項目を確認するだけの場合は、進捗状況からご移動ください。
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include "toukiApp/step_footer.html" %}
{% endblock %}

{% block js %}
    {% load static %}
    <script src="{% static 'toukiApp/step_five.js' %}"></script>
    <script src="{% static 'toukiApp/parts/messages.js' %}"></script>
    <script> const progress = JSON.parse("{{progress|escapejs}}"); </script>
{% endblock %}