{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'toukiApp/step_header.css' %}">
{% endblock %}

{% for message in messages %}
{% endfor %}

<header id="header" class="navbar navbar-expand-sm navbar-light bg-light p-3 sticky-top shadow-sm">
    <nav class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#headerMenus" aria-controls="headerMenus" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="me-4" href="{% url 'toukiApp:index' %}">
            <img class="header_logo" src="{% static 'toukiApp/img/会社ロゴ.png' %}" alt="会社ロゴ">
        </a>
        <div id="headerMenus" class="collapse navbar-collapse">
            <ul class="navbar-nav py-md-0 justify-content-start">
                <li class="nav-item mx-3">
                    <a class="fw-bold text-decoration-none text-dark" href="{% url 'toukiApp:step_option_select' %}">
                        <button class="btn btn-outline-primary p-2 fw-bold">
                            オプションを利用する
                        </button>
                    </a>
                </li>
                <li class="nav-item mx-3">
                    <a class="fw-bold text-decoration-none text-dark" href="{% url 'account_change_password' %}">
                        <button class="btn btn-outline-primary p-2 fw-bold">
                            パスワードを変更
                        </button>
                    </a>
                </li>
                <li class="nav-item mx-3">
                    <a class="fw-bold text-decoration-none text-dark" href="{% url 'accounts:change_email' %}">
                        <button class="btn btn-outline-primary p-2 fw-bold">
                            メールアドレスを変更
                        </button>
                    </a>
                </li>
                <li class="nav-item mx-3">
                    <a class="fw-bold text-decoration-none text-dark" href="{% url 'accounts:delete_account' %}">
                        <button class="btn btn-outline-primary p-2 fw-bold">
                            アカウントを削除
                        </button>
                    </a>
                </li>
                <li id="linkToProgressArea" class="nav-item ms-3" style="display: none;">
                    <a id="linkToProgress" class="btn btn-outline-primary p-2 fw-bold" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">進捗状況</a>
                </li>
            </ul>
            <div id="logoutArea" class="my-0 ms-auto me-0">
                <a id="logout" class="btn btn-outline-primary p-2 fw-bold text-decoration-none" href="{% url 'account_logout' %}">ログアウト</a>
            </div>
        </div>
    </nav>
</header>
