{% extends "toukiApp/base.html" %}
{% block title %}{{ title }} | {{ block.super}}{% endblock title %}
{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'toukiApp/step_four.css' %}">
{% endblock %}
{% block header %}
    {% include "toukiApp/step_header.html" %}
{% endblock %}
{% load custom_filters %}
{% block content %}

{% for message in messages %}
    {% if message.tags == "error" %}
        <div class="modal inquiry-modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <h5 class="modal-title fw-bold">エラーが発生しました</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body pb-3">
                        <span class="fw-bold">
                            {{message}}
                        </span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}

<div class="d-flex container-xxl">
    {% include "toukiApp/step_sidebar.html" %}
    <div class="pt-4 ps-4 container-xxl">
        <div>
            <h4>
                下記書類を指定の通数印刷してご署名押印ください
            </h4>
            <p class="text-danger fw-bold">
                ※印刷前に内容（特に誤字脱字）の確認をお願いします。
            </p>
        </div>
        <hr>
        <form action="{% url 'toukiApp:step_five' %}" method="POST" class="my-4" novalidate>
            {% csrf_token %}
            {% if heirs|length > 1 %}
                <section class="container">
                    <div class="form-check mt-3">
                        <div class="ps-2">
                            <input class="form-check-input fs-5" type="checkbox" value="" id="CbDivisionAgreement">
                        </div>
                        <label class="form-check-label fw-bold fs-5 ps-2 fst-italic" for="CbDivisionAgreement">
                            遺産分割協議証明書
                            <span class="ms-3">
                                各相続人１通ずつ
                            </span>
                        </label>
                    </div>
                    <div class="mt-4">
                        <a href="{% url 'toukiApp:step_division_agreement' %}" class="btn btn-primary p-2 fw-bold bg-gradient bg-opacity-50 border-0 shadow" role="button" target="_blank" rel="noopener noreferrer">
                            遺産分割協議証明書を確認する
                        </a>
                    </div>
                    <div class="mt-4">
                        <div>
                            <span class="fw-bold">
                                相続人全員に印刷したものを配布して各自の署名押印（実印）をもらってください。
                            </span>
                            <div class="modal fade" id="seal" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5">契印について</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            （契印の画像を挿入）
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <span class="fw-bold">
                                各相続人の印鑑証明書と戸籍の全部事項証明書（謄本、抄本どちらでも可）も１通ずつ必要です。
                            </span><br>
                            ※不動産を取得する方は
                            <span class="border-bottom border-secondary">
                                住民票１通（マイナンバー不要）
                            </span>
                            も必要です。<br>
                            ※ステップ２ですでに取得済みの場合は改めてご取得いただく必要はありません。
                        </div>
                    </div>
                    <div class="mt-4">
                        <ol id="heirsList" class="list-group">
                            <span class="fw-bold">
                                相続人一覧
                            </span>
                            {% for heir in heirs %}
                                <li class="ms-3">
                                    {{heir.name}} さん
                                </li>
                            {% endfor %}
                        </ol>
                    </div>
                    {% if minors|length > 0 %}
                        <div>
                            <span class="fw-bold border-bottom border-primary">
                                以下の方は、未成年のため法定代理人の署名押印と印鑑証明書が必要です。<br>
                                ただし、印鑑証明書を取得できる場合は、未成年者の署名押印と印鑑証明書で大丈夫です。
                            </span>
                            <ul>
                                {% for minor in minors %}
                                    <li class="ms-3">
                                        {{minor.name}} さん
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% if overseas|length > 0 %}
                        <div>
                            <span class="fw-bold border-bottom border-primary">
                                以下の方は、日本に住民票がないため、現地の領事館又は大使館で署名証明が必要です。<br>
                                日本に一時的に滞在している場合は、日本の公証人役場での署名証明でも大丈夫です。
                            </span>
                            <ul>
                                {% for oversea in overseas %}
                                    <li class="ms-3">
                                        {{oversea.name}} さん
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <div class="mt-4 fw-bold">
                        申請する法務局が複数箇所ある場合、申請先の法務局の数だけ作成すると全箇所同時に申請することができます。
                    </div>
                </section>
            {% endif %}
            <hr>
            <section class="container">
                <div class="form-check mt-3">
                    <div class="ps-2">
                        <input class="form-check-input fs-5" type="checkbox" value="" id="CbApplicationForm">
                    </div>
                    <label class="form-check-label fw-bold fs-5 ps-2 fst-italic" for="CbApplicationForm">
                        委任状
                        <span class="ms-3">
                            ◯通
                        </span>
                    </label>
                </div>
                <div class="mt-4">
                    <a href="{% url 'toukiApp:step_POA' %}" class="btn btn-primary p-2 fw-bold bg-gradient bg-opacity-50 border-0 shadow" role="button" target="_blank" rel="noopener noreferrer">
                        委任状を確認する
                    </a>
                </div>
                <div class="mt-3">
                    受任者（代理人）の住所氏名に誤りがないかご確認ください。<br>
                    不動産を取得する方全員から署名押印（実印）をもらってください。
                </div>
            </section>
            <hr>
            <section class="container">
                <div class="form-check mt-3">
                    <div class="ps-2">
                        <input class="form-check-input fs-5" type="checkbox" value="" id="CbApplicationForm">
                    </div>
                    <label class="form-check-label fw-bold fs-5 ps-2 fst-italic" for="CbApplicationForm">
                        登記申請書
                        <span class="ms-3">
                            下記ボタンを押して表示されている分全て
                        </span>
                    </label>
                </div>
                <div class="mt-4">
                    <a href="{% url 'toukiApp:step_application_form' %}" class="btn btn-primary p-2 fw-bold bg-gradient bg-opacity-50 border-0 shadow" role="button" target="_blank" rel="noopener noreferrer">
                        登記申請書を確認する
                    </a>
                </div>
                <div class="mt-3">
                    ご住所が政令指定都市の場合、都道府県を削除してますが法務局指定の記載方法です。<br>
                    お電話番号に誤りがないかご確認ください。<br>
                </div>
            </section>
            <hr>
            <section class="container">
                <div class="form-check mt-3">
                    <div class="ps-2">
                        <input class="form-check-input fs-5" type="checkbox" value="" id="CbDiagram">
                    </div>
                    <label class="form-check-label fw-bold fs-5 ps-2 fst-italic" for="CbDiagram">
                        相続関係説明図
                        <span class="ms-3">
                            登記申請書と同じ通数
                        </span>
                    </label>
                </div>
                <div class="mt-4">
                    <a href="{% url 'toukiApp:step_diagram' %}" class="btn btn-primary p-2 fw-bold bg-gradient bg-opacity-50 border-0 shadow" role="button" target="_blank" rel="noopener noreferrer">
                        相続関係説明図を確認する
                    </a>
                </div>
                <div class="mt-3">
                    被相続人や各相続人の氏名生年月日等に誤りがないかご確認ください。<br>
                    署名押印など何もする必要はないです。
                </div>
            </section>
            <hr>
            <div class="mt-5">
                <div class="d-flex justify-content-evenly px-3 pb-3">
                    <div>
                        <button id="preBtn" type="button" class="btn btn-secondary">
                            ３．詳細データ入力に戻る
                            <span id="spinner" class="spinner-border spinner-border-sm text-warning" role="status" style="display: none;">
                            </span>
                        </button>
                    </div>
                    <div>
                        <button id="submitBtn" type="submit" class="btn btn-primary" disabled>
                            ５．法務局に申請に進む
                            <span id="submitSpinner" class="spinner-border spinner-border-sm text-warning" role="status" style="display: none;">
                            </span>
                        </button>
                    </div>
                </div>
                <div class="m-auto text-center">
                    <span class="fw-bold">
                        ※修正するボタンを押すと、不動産情報の入力内容が初期化される場合があります。<br>
                        他のページの入力を確認したいだけの場合は、左の進捗状況からクリックしてください。
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include "toukiApp/step_footer.html" %}
{% endblock %}

{% block js %}
    {% load static %}
    <script src="{% static 'toukiApp/step_four.js' %}"></script>
    <script> const progress = JSON.parse("{{progress|escapejs}}"); </script>
{% endblock %}