{% extends "toukiApp/base.html" %}

{% block title %}{{ title }} | {{ block.super}}{% endblock title %}

{% block stylesheet %}
    {% load static %}
    {% include "toukiApp/parts/step_one/block_stylesheet.html" %}
    <link rel="stylesheet" href="{% static 'toukiApp/step_one_trial.css' %}">
{% endblock %}

{% block header %}
    {% include "toukiApp/step_header.html" %}
{% endblock %}

{% load custom_filters %}

{% block content %}

{% include "toukiApp/parts/step_messages.html" %}
{% include "toukiApp/parts/modals/not_available.html" %}

{% if result|length > 0 %}
    {% include "toukiApp/parts/modals/legal_heirs_check_result.html" %}
{% endif %}

<div class="d-flex container-xxl">
    {% include "toukiApp/step_sidebar.html" %}
    <div class="pt-4 ps-lg-5 container-xxl">
        {% include "toukiApp/parts/step_one/top.html" %}
        {% if result|length > 0 %}
            <section id="heirs_list" class="p-3">
                <h5 class="fw-bold text-success">
                    相続人は、以下の方々です。
                </h5>
                <ul>
                    {% for heir_name in result %}
                        <li>
                            <span class="border-bottom border-success fw-bold px-3">
                                {{heir_name}}
                                <span class="ms-3">
                                    さん
                                </span>
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}
        <form action="{% url 'toukiApp:step_one_trial' %}" method="POST" class="my-4 d-flex" novalidate>
            {% csrf_token %}
            {% include "toukiApp/parts/step_one/input_section.html" %}
            {% include "toukiApp/parts/step_one/guide_section.html" %}
        </form>
    </div>
</div>

{% endblock %}

{% block footer %}
    {% include "toukiApp/step_footer.html" %}
{% endblock %}

{% block js %}
    {% load static %}
    {% include "toukiApp/parts/step_one/block_js.html" %}
    <script src="{% static 'toukiApp/step_one_trial.js' %}"></script>
    <script> const result_for_modal = JSON.parse("{{result_for_modal|escapejs}}"); </script>
{% endblock %}