{% extends "base.html" %}
{% block title %}{{ title }} | {{ block.super}}{% endblock title %}

{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'toukiApp/terms.css' %}">
{% endblock %}

{% block og %}
    <meta property="og:title" content="利用規約">
    <meta property="og:description" content="そうぞくとうきくんの利用規約です">
    <meta property="og:url" content="{% url 'toukiApp:terms' %}">
{% endblock %}

{% block twitter %}
    <meta name="twitter:title" content="そうぞくとうきくん | 利用規約">
    <meta name="twitter:description" content="そうぞくとうきくんの利用規約です">
{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
<div class="mx-auto col-lg-9">
    <div class="card shadow-sm bg-light">
        <div class="card-body">
            <h1 class="fs-4 card-title border-bottom">
                <span class="border-start border-5 border-primary ps-3">
                    {{ title }}
                </span>
            </h1>
            <div class="content_wrapper px-lg-3">
                <p class="card-text pt-3">
                    {{company_data.NAME}}（以下「当社」といいます。）は、ユーザーが当社が提供するサービスを利用する際の取り扱いについて以下のとおり定めます。
                </p>
                <div>
                    <div class="fw-bold" >
                        １
                        <span class="ms-3">
                            用語の定義
                        </span>
                    </div>
                    <div class="card-text">
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item">
                                本サービス: 当社が運営するサービス
                            </li>
                            <li class="list-group-item">
                                本サイト: 本サービスの提供のためにユーザーに表示されるWebサイト
                            </li>
                            <li class="list-group-item">
                                登録ユーザー: 本サービスを利用するためにアカウント登録が完了したユーザー
                            </li>
                            <li class="list-group-item">
                                個人情報: 住所、氏名、電話番号など個人を特定することのできる情報の総称
                            </li>
                        </ol>
                    </div>
                </div>
                <div>
                    <div class="fw-bold">
                        ２
                        <span class="ms-3">
                            本規約への同意
                        </span>
                    </div>
                    <div class="card-text">
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item">
                                登録ユーザーは、本規約に同意したものとみなします。
                            </li>
                            <li class="list-group-item">
                                システムの利用を申し込んだ登録ユーザーは、システムの利用条件を確認したものとみなします。
                            </li>
                            <li class="list-group-item">
                                登録ユーザーになったときから当社の間に本規約が適用されます。
                            </li>
                            <li class="list-group-item">
                                未成年者が利用する場合は、親権者（法定代理人を含む）の同意を得てください。
                            </li>
                            <li class="list-group-item">
                                未成年者が法定代理人の同意がないにもかかわらず同意があると偽り、または成年と偽って本サービスを利用した場合、本サービスに関する一切の法律行為を取り消すことは出来ません。
                            </li>
                            <li class="list-group-item">
                                本規約の同意時に未成年であった登録ユーザーが成年に達した後に本サービスを利用した場合、当該登録ユーザーは本サービスに関する一切の法律行為を追認したものとみなされます。
                            </li>
                        </ol>
                    </div>
                </div>
                <div>
                    <div class="fw-bold">
                        ３
                        <span class="ms-3">
                            規約の変更
                        </span>
                    </div>
                    <div class="card-text">
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item">
                                当社は、登録ユーザーの本サービスの利用目的に則する範囲で登録ユーザーの承諾を得ることなく、いつでも本規約の内容を改定することができるものとします。
                            </li>
                            <li class="list-group-item">
                                本規約の改定にあたり、改定の効力発生日の１ヶ月前までに
                                <a href="{% url 'toukiApp:index' %}">
                                    当社ホームページ
                                </a>
                                にその旨及び効力発生日を表示します。
                            </li>
                            <li class="list-group-item">
                                当社は、前項を行ったとき当社所定の方法により登録ユーザーに個別に通知します。
                            </li>
                        </ol>
                    </div>
                </div>
                <div>
                    <div class="fw-bold">
                        ４
                        <span class="ms-3">
                            アカウント登録
                        </span>
                    </div>
                    <div class="card-text">
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item">
                                本サービスの利用を希望する方は、本規約(システムの利用をご希望の場合は、システムの利用条件を含む)をよく確認したうえで登録してください。
                            </li>
                            <li class="list-group-item">
                                同一のメールアドレスを用いて複数のアカウント登録はできません。
                            </li>
                            <li class="list-group-item">
                                本サービスは個人のみが利用を申し込みすることができます。
                            </li>
                            <li class="list-group-item">
                                本サービスの利用を申し込んだ方は、弊社からアカウント登録完了の通知が届いた時から登録ユーザーとなります。
                            </li>
                            <li class="list-group-item">
                                当社は、登録ユーザー向けにメールで本サービスに関連する連絡することがあります。
                            </li>
                        </ol>
                    </div>
                </div>
                <div>
                    <div class="fw-bold">
                        ５
                        <span class="ms-3">
                            アカウント登録の拒否、取り消し
                        </span>
                    </div>
                    <div class="card-text">
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item">
                                過去に本規約または当社が定めるその他の定めに違反したことを理由として退会処分を受けた者であるとき、利用申込を拒否することがあります。
                            </li>
                            <li class="list-group-item">
                                当社が定める方法によらずアカウント登録したとき、当社はその登録を取り消すことができます。
                            </li>
                            <li class="list-group-item">
                                その他当社が不適切と判断した場合、利用申込を拒否し、または登録を取り消すことができます。
                            </li>
                        </ol>
                    </div>
                </div>
                <div>
                    <div class="fw-bold">
                        ６
                        <span class="ms-3">
                            アカウントの管理
                        </span>
                    </div>
                    <div class="card-text">
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item">
                                登録ユーザーは、第三者に自己のアカウントを利用させ、または貸与、譲渡、名義変更、売買などをすることはできません。
                            </li>
                            <li class="list-group-item">
                                前項に違反したことにより当社または第三者に損害が生じた場合、登録ユーザーは当社および第三者に対して、当該損害を賠償するものとします。
                            </li>
                            <li class="list-group-item">
                                本サービスの利用は、当該アカウントを所有する登録ユーザー本人により行われたものとみなし、利用料の支払その他一切の債務及び責任を負担するものとします。
                            </li>
                            <li class="list-group-item">
                                登録ユーザーは、アカウント情報に変更が生じた場合、速やかにその変更を届け出るものとします。これを行わなかったことにより、登録ユーザーに不利益が発生しても当社は一切責任を負いません。
                            </li>
                            <li class="list-group-item">
                                登録ユーザーが入力した個人情報が不正確または虚偽であったために登録ユーザーが被った一切の不利益および損害に関して、当社は一切責任を負いません。
                            </li>
                            <li class="list-group-item">
                                登録ユーザーの個人情報が盗用されまたは第三者に利用されていることが判明した場合、登録ユーザーは直ちにその旨を当社に通知するとともに、当社からの指示に従うものとします。
                            </li>
                        </ol>
                    </div>
                </div>
                <div>
                    <div class="fw-bold">
                        ７
                        <span class="ms-3">
                            契約期間及び期間満了後の処理
                        </span>
                    </div>
                    <div class="card-text">
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item">
                                本サービスを有料で登録したアカウントの有効期間は、登録日から１年間（登録日を含まない）とする。
                            </li>
                            <li class="list-group-item">
                                当社は、アカウントの有効期間満了日から２週間以上前に当社所定の方法により登録ユーザーに通知します。
                                <br>
                                なお、登録されているメールアドレスの変更などにより通知ができない場合でも有効期間の満了日は変更されません。
                            </li>
                            <li class="list-group-item">
                                アカウントの有効期間満了後、当社は登録ユーザーに関する一切の情報を遅滞なく削除します。
                            </li>
                        </ol>
                    </div>
                </div>
                <div>
                    <div class="fw-bold">
                        ８
                        <span class="ms-3">
                            個人情報の取り扱い
                        </span>
                    </div>
                    <div class="card-text bg-white border rounded-3 p-3">
                        当社が別途定める
                        <a href="{% url 'toukiApp:privacy' %}" target="_blank" rel="noopener noreferrer">
                            プライバシーポリシー
                        </a>
                        に準拠して適切に取り扱います。
                    </div>
                </div>
                <div>
                    <div class="fw-bold">
                        ９
                        <span class="ms-3">
                            禁止行為
                        </span>
                    </div>
                    <div class="card-text">
                        当社は、本サービスを利用する登録ユーザーに対し、次に掲げる行為を禁止します。当社は、登録ユーザーが禁止事項に違反したと認めた場合、本サービスの一時停止、アカウントの抹消処分その他当社が必要と判断した措置を取ることができます。
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item">
                                当社または第三者の知的財産権を侵害する行為
                            </li>
                            <li class="list-group-item">
                                当社または第三者の名誉・信用を毀損または不当に差別もしくは誹謗中傷する行為
                            </li>
                            <li class="list-group-item">
                                当社または第三者の財産を侵害する行為、または侵害する恐れのある行為
                            </li>
                            <li class="list-group-item">
                                当社または第三者に経済的損害を与える行為
                            </li>
                            <li class="list-group-item">
                                当社または第三者に対する脅迫的な行為
                            </li>
                            <li class="list-group-item">
                                コンピューターウィルス、有害なプログラムの使用またはそれを誘発する行為
                            </li>
                            <li class="list-group-item">
                                本サービスで使用しているインフラ設備に対して過度な負荷をかける行為
                            </li>
                            <li class="list-group-item">
                                当サイトのサーバーやシステム、セキュリティへの攻撃
                            </li>
                            <li class="list-group-item">
                                当社提供のインターフェース以外の方法で当社サービスにアクセスを試みる行為
                            </li>
                            <li class="list-group-item">
                                上記の他、当社が不適切と判断する行為
                            </li>
                        </ol>
                    </div>
                </div>
                <div>
                    <div class="fw-bold">
                        １０
                        <span class="ms-3">
                            免責
                        </span>
                    </div>
                    <div class="card-text">
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item">
                                当社は、本サービスの内容変更、中断、終了によって生じたいかなる損害について一切責任を負いません。
                            </li>
                            <li class="list-group-item">
                                当社は、登録ユーザーの本サービスの利用環境について一切関与せず、また一切の責任を負いません。
                            </li>
                            <li class="list-group-item">
                                当社は、本サービスが登録ユーザーが行う登記手続きの完了を保証するものではありません。
                            </li>
                            <li class="list-group-item">
                                当社は、本サービスが全ての情報端末に対応していることを保証するものではなく、本サービスの利用に供する情報端末のＯＳのバージョンアップ等に伴い、本サービスの動作に不具合が生じる可能性があることにつき、登録ユーザーはあらかじめ了承するものとします。当社は、かかる不具合が生じた場合に当社が行うプログラムの修正等により、当該不具合が解消されることを保証するものではありません。
                            </li>
                            <li class="list-group-item">
                                当社は、本サービスを利用したことにより直接的または間接的に登録ユーザーに発生した損害について、一切賠償責任を負いません。
                            </li>
                            <li class="list-group-item">
                                第１項から前項までの規定は、当社に故意または重過失が存する場合には適用しません。
                            </li>
                            <li class="list-group-item">
                                前項が適用される場合であっても、当社は、過失（重過失を除きます。）による行為によって登録ユーザーに生じた損害のうち、特別な事情から生じた損害については、一切賠償する責任を負いません。
                            </li>
                        </ol>
                    </div>
                </div>
                <div>
                    <div class="fw-bold">
                        １１
                        <span class="ms-3">
                            権利譲渡の禁止
                        </span>
                    </div>
                    <div class="card-text">
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item">
                                登録ユーザーは、あらかじめ当社の書面による承諾がない限り、本規約上の地位および本規約に基づく権利または義務の全部または一部を第三者に譲渡することはできません。
                            </li>
                            <li class="list-group-item">
                                当社は、登録ユーザーが本サービスを利用したことにより生じた登録ユーザーの損害及び登録ユーザーが第三者に与えた損害に関して、一切の責任を負いません。
                            </li>
                        </ol>
                    </div>
                </div>
                <div>
                    <div class="fw-bold">
                        １２
                        <span class="ms-3">
                            準拠法、管轄裁判所
                        </span>
                    </div>
                    <div class="card-text">
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item">
                                本規約の有効性，解釈及び履行については，日本法に準拠し，日本法に従って解釈されます。
                            </li>
                            <li class="list-group-item">
                                当社と登録ユーザーとの間での論議・訴訟その他一切の紛争については、訴額に応じて、福岡簡易裁判所又は福岡地方裁判所を専属的合意管轄裁判所とします｡
                            </li>
                        </ol>
                    </div>
                </div>
                <div>
                    <div class="fw-bold" >
                        １３
                        <span class="ms-3">
                            本規約に関する問い合わせ窓口
                        </span>
                    </div>
                    <div class="card-text bg-white border rounded-3 p-3">
                        <div id="company-info" class="mx-auto">
                            <div class="d-md-flex">
                                <div class="label">
                                    会社名
                                </div>
                                <div>
                                    {{company_data.NAME}}
                                </div>
                            </div>
                            <div class="d-md-flex mt-3">
                                <div class="label">
                                    所在地
                                </div>
                                <div>
                                    <div>
                                        {{company_data.ADDRESS}}
                                    </div>
                                    <div>
                                        {{company_data.BLDG}}
                                    </div>
                                </div>
                            </div>
                            <div class="d-md-flex mt-3">
                                <div class="label">
                                    代表取締役
                                </div>
                                <div>
                                    {{company_data.CEO}}
                                </div>
                            </div>
                            <div class="d-md-flex mt-3">
                                <div class="label">
                                    メールアドレス
                                </div>
                                <div>
                                    {{company_data.MAIL_ADDRESS}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-3 text-end fw-bold">
                制定日：令和６年４月１日
                <br>                
                制定日：令和６年６月１０日
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}

{% block js %}
    {% load static %}
    <script src="{% static 'toukiApp/terms.js' %}"></script>
{% endblock %}