{% extends "base.html" %}
{% block title %}{{ title }} | {{ block.super}}{% endblock title %}

{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'toukiApp/terms.css' %}">
{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
<div class="mx-auto col-lg-8">
    <div class="card shadow-sm bg-light">
        <div class="card-body">
            <h4 class="card-title border-bottom">
                <span class="border-start border-5 border-primary ps-3">{{ title }}</span>
            </h4>
            <div class="content_wrapper px-lg-3">
                <p class="card-text pt-3">
                    {{company_data.NAME}}（以下「当社」といいます。）は、ユーザーが当社が提供するサービスを利用する際の取り扱いについて以下のとおり定めます。
                </p>
                <div>
                    <div class="fw-bold" >
                        １
                        <span class="ms-3">
                            定義
                        </span>
                    </div>
                    <div class="card-text">
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item">
                                本サービス：当社が運営するサービス及び関連するサービス
                            </li>
                            <li class="list-group-item">
                                本サイト：本サービスのコンテンツが掲載されたWebサイト
                            </li>
                            <li class="list-group-item">
                                本コンテンツ：本サービスが提供する情報、ソフトウェアプログラム、コード等の総称
                            </li>
                            <li class="list-group-item">
                                登録ユーザー：本サービスのアカウント登録が完了した方
                            </li>
                            <li class="list-group-item">
                                ＩＤ：登録ユーザーの識別番号
                            </li>
                            <li class="list-group-item">
                                個人情報：住所、氏名、電話番号等個人を特定することのできる情報の総称
                            </li>
                            <li class="list-group-item">
                                登録情報：登録ユーザーが本サイトにて登録した一切の情報
                            </li>
                        </ol>
                    </div>
                </div>
                <div>
                    <div class="fw-bold">
                        ２
                        <span class="ms-3">
                            本規約への同意
                        </span>
                    </div>
                    <div class="card-text">
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item">
                                登録ユーザーは、本利用規約及びアカウント登録前に提示される利用条件に同意したものとみなします。
                            </li>
                            <li class="list-group-item">
                                本サービスのアカウント登録をした時から本規約が登録ユーザーと当社の間に本規約が適用されます。
                            </li>
                            <li class="list-group-item">
                                未成年者が利用する場合は、親権者その他の法定代理人の同意を得てください。
                            </li>
                            <li class="list-group-item">
                                未成年者が、法定代理人の同意がないにもかかわらず同意があると偽りまたは成年と偽って本サービスを利用した場合、本サービスに関する一切の法律行為を取り消すことは出来ません。
                            </li>
                            <li class="list-group-item">
                                本規約の同意時に未成年であった登録ユーザーが成年に達した後に本サービスを利用した場合、当該登録ユーザーは本サービスに関する一切の法律行為を追認したものとみなされます。
                            </li>
                        </ol>
                    </div>
                </div>
                <div>
                    <div class="fw-bold">
                        ３
                        <span class="ms-3">
                            規約の変更
                        </span>
                    </div>
                    <div class="card-text">
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item">
                                当社は、登録ユーザーの承諾を得ることなく、いつでも、本規約の内容を改定することができるものとし、登録ユーザーはこれを異議なく承諾するものとします。
                            </li>
                            <li class="list-group-item">
                                当社は、本規約を改定するときは、その内容について当社所定の方法により登録ユーザーに通知します。
                            </li>
                            <li class="list-group-item">
                                本規約の改定の効力は、当社が前項により通知を行った時点から生じるものとします。
                            </li>
                            <li class="list-group-item">
                                登録ユーザーは、本規約変更後、本サービスを利用した時点で、変更後の本利用規約に異議なく同意したものとみなされます。
                            </li>
                        </ol>
                    </div>
                </div>
                <div>
                    <div class="fw-bold">
                        ４
                        <span class="ms-3">
                            アカウント登録
                        </span>
                    </div>
                    <div class="card-text">
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item">
                                本サービスの利用を希望する方は、本規約及びアカウント登録前に提示される利用条件に同意したうえで登録してください。
                            </li>
                            <li class="list-group-item">
                                本サービスの利用を申し込んだ方は、弊社からアカウント登録完了の通知が届いた時から登録ユーザーとなります。
                            </li>
                            <li class="list-group-item">
                                当社は、登録ユーザー向けにメールで本サービスに関連する連絡することがありますので、あらかじめご了承ください。
                            </li>
                        </ol>
                    </div>
                </div>
                <div>
                    <div class="fw-bold">
                        ５
                        <span class="ms-3">
                            アカウント登録の拒否、取り消し
                        </span>
                    </div>
                    <div class="card-text">
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item">
                                過去に本規約または当社が定めるその他の定めに違反したことを理由として退会処分を受けた者であるとき、利用申込を拒否することがあります。
                            </li>
                            <li class="list-group-item">
                                当社が定める方法によらずアカウント登録したとき、その登録を取り消すことがあります。
                            </li>
                            <li class="list-group-item">
                                その他当社が不適切と判断した場合、利用申込を拒否し、または登録を取り消すことがあります。
                            </li>
                        </ol>
                    </div>
                </div>
                <div>
                    <div class="fw-bold">
                        ６
                        <span class="ms-3">
                            アカウントの管理
                        </span>
                    </div>
                    <div class="card-text">
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item">
                                登録ユーザーは、第三者に自己のアカウントを利用させ、または貸与、譲渡、名義変更、売買などをしてはならないものとします。
                            </li>
                            <li class="list-group-item">
                                前項により当社または第三者に損害が生じた場合、登録ユーザーは当社および第三者に対して、当該損害を賠償するものとします。
                            </li>
                            <li class="list-group-item">
                                登録ユーザーの個人情報が不正確または虚偽であったために登録ユーザーが被った一切の不利益および損害に関して、当社は責任を負わないものとします。
                            </li>
                            <li class="list-group-item">
                                登録ユーザーの個人情報が盗用されまたは第三者に利用されていることが判明した場合、登録ユーザーは直ちにその旨を当社に通知するとともに、当社からの指示に従うものとします。
                            </li>
                        </ol>
                    </div>
                </div>
                <div>
                    <div class="fw-bold">
                        ７
                        <span class="ms-3">
                            個人情報の取り扱い
                        </span>
                    </div>
                    <div class="card-text bg-white border rounded-3 p-3">
                        当社が別途定めるプライバシーポリシーに準拠して適切に取り扱います。
                    </div>
                </div>
                <div>
                    <div class="fw-bold">
                        ８
                        <span class="ms-3">
                            禁止行為
                        </span>
                    </div>
                    <div class="card-text">
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item">
                                当社は、本人から個人情報が利用目的の範囲を超えて取り扱われているという理由、または不正の手段により取得されたものであるという理由により、その利用の停止または消去（以下、「利用停止等」といいます。）を求められた場合には、遅滞なく必要な調査を行います。
                            </li>
                            <li class="list-group-item">
                                前項の調査結果に基づき、その請求に応じる必要があると判断した場合には、遅滞なく、当該個人情報の利用停止等を行います。
                            </li>
                            <li class="list-group-item">
                                当社は、前項の規定に基づき利用停止等を行った場合、または利用停止等を行わない旨の決定をしたときは、遅滞なく、これをユーザーに通知します。
                            </li>
                            <li class="list-group-item">
                                前２項にかかわらず、利用停止等に多額の費用を有する場合その他利用停止等を行うことが困難な場合であって、ユーザーの権利利益を保護するために必要なこれに代わるべき措置をとれる場合は、この代替策を講じるものとします。
                            </li>
                        </ol>
                    </div>
                </div>
                <div>
                    <div class="fw-bold">
                        ９
                        <span class="ms-3">
                            プライバシーポリシーの変更
                        </span>
                    </div>
                    <div class="card-text">
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item">
                                本ポリシーの内容は，法令その他本ポリシーに別段の定めのある事項を除いて，ユーザーに通知することなく，変更することができるものとします。
                            </li>
                            <li class="list-group-item">
                                当社が別途定める場合を除いて，変更後のプライバシーポリシーは，本ウェブサイトに掲載したときから効力を生じるものとします。
                            </li>
                        </ol>
                    </div>
                </div>
                <div>
                    <div class="fw-bold">
                        １０
                        <span class="ms-3">
                            免責事項
                        </span>
                    </div>
                    <div class="card-text">
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item">
                                当社が提供する情報の正確さには万全を期していますが、ユーザーが当社が提供した情報を用いて行う一切の行為に関して、当社は一切の責任を負わないものとします。

                            </li>
                            <li class="list-group-item">
                                当社は、ユーザーが当社Webサイトを利用したことにより生じたユーザーの損害及びユーザーが第三者に与えた損害に関して、一切の責任を負わないものとします。
                            </li>
                        </ol>
                    </div>
                </div>
                <div>
                    <div class="fw-bold" >
                        １２
                        <span class="ms-3">
                            本ポリシーに関する窓口
                        </span>
                    </div>
                    <div class="card-text bg-white border rounded-3 p-3">
                        <div id="companyInfo" class="mx-auto">
                            <div class="d-flex">
                                <div class="label">
                                    会社名
                                </div>
                                <div>
                                    {{company_data.NAME}}
                                </div>
                            </div>
                            <div class="d-flex mt-3">
                                <div class="label">
                                    所在地
                                </div>
                                <div>
                                    <div>
                                        {{company_data.ADDRESS}}
                                    </div>
                                    <div>
                                        {{company_data.BLDG}}
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex mt-3">
                                <div class="label">
                                    代表取締役
                                </div>
                                <div>
                                    {{company_data.CEO}}
                                </div>
                            </div>
                            <div class="d-flex mt-3">
                                <div class="label">
                                    メールアドレス
                                </div>
                                <div>
                                    {{company_data.MAIL_ADDRESS}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="fw-bold">
                        １３
                        <span class="ms-3">
                            SSLについて
                        </span>
                    </div>
                    <div class="card-text bg-white border rounded-3 p-3">
                        当社のWebサイトはSSLに対応しており、ユーザーが入力する情報は自動的に暗号化されます。
                    </div>
                </div>
                <div>
                    <div class="fw-bold">
                        １４
                        <span class="ms-3">
                            cookie（クッキー）について
                        </span>
                    </div>
                    <div class="card-text bg-white border rounded-3 p-3">
                        本サービスではユーザビリティを向上するためにクッキーを利用しています。
                    </div>
                </div>
            </div>
            <div class="mt-3 text-end fw-bold">
                制定日：令和６年４月１日
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}

{% block js %}
    {% load static %}
    <script src="{% static 'toukiApp/terms.js' %}"></script>
{% endblock %}