.label{
    width: 125px;
    display: block!important;
    text-align: justify!important;
    text-align-last: justify!important;
}

.emPosition {
    left: 125px;
    top: -55px;
}

#passDisplayToggle{
    top: 10px;
    left: 102%;
}