{% extends "base.html" %}

{% block title %} 
    {{ title }} | {{ block.super }}
{% endblock title %}

{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'toukiApp/useful_info.css' %}">
    <link rel="stylesheet" href="{% static 'toukiApp/parts/messages.css' %}">
{% endblock %}

{% block og %}
    <meta property="og:title" content={{ title }}>
    <meta property="og:description" content="{{ title }}">
    <meta property="og:url" content="{% url 'toukiApp:useful_info' param %}">
{% endblock %}

{% block twitter %}
    <meta name="twitter:title" content="{{ title }} | お役立ち情報">
    <meta name="twitter:description" content={{ title }}>
{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
<div class="container px-sm-3 mx-auto mt-3 article-font mb-5">
    {% include "toukiApp/useful_info/parts/top.html" with time="3" update_at="令和6年6月22日" %}
    <div class="mt-5">
        <h5 class="md-text-center mb-4">
            ＜概要＞
        </h5>
        <div class="text-indent">
            <p>
                亡くなった方（被相続人）名義の不動産を相続人名義に変更する手続きのことで法務局が管轄しています。専門家は司法書士です。
            </p>
            <p>
                現在では相続登記は義務となっており、亡くなった方の死亡日から３年以内に相続登記または相続人申告登記を行わないと１０万円以下の
                過料（行政上の罰則）が課させる可能性があります。
            </p>
        </div>
    </div>
    <div class="mt-5">
        <h5 class="md-text-center mb-4">
            ＜効果＞
        </h5>
        <div>
            <p class="text-md-indent md-text-center">
                主なものを列挙しています。
            </p>
            <ul class="ps-0 ps-sm-3 mb-0">
                <li class="d-flex">
                    <div>
                        ・
                    </div>
                    <p>
                        相続人が増えて手続きが複雑になるのを防ぎ子の世代へスムーズに承継させることができるようになる
                    </p>
                </li>
                <li class="d-flex">
                    <div>
                        ・
                    </div>
                    <p>
                        リフォーム、増築、売却などの不動産の管理または処分ができるようになる
                    </p>
                </li>
                <li class="d-flex">
                    <div>
                        ・
                    </div>
                    <p>
                        不動産を担保として金融機関から借り入れができるようになる
                    </p>
                </li>
                <li class="d-flex">
                    <div>
                        ・
                    </div>
                    <div>
                        賃借人から家賃全額を請求して受領できるようになる
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="mt-5">
        <h5 class="md-text-center mb-4">
            ＜手続＞
        </h5>
        <div class="text-indent">
            <div>
                <div>
                    不動産を取得した相続人（共有持分の取得も含む）がその不動産の所在地を管轄する法務局で行うことができます。
                </div>
                <p>
                    申請期限はないため、相続した後であればいつでもできます。
                </p>
            </div>
            <p>
                法定相続分に従った割合による相続または相続人が１人（遺言により単独で取得する場合を含む）のときは単独で手続きを行うことができますが、
                それ以外の場合は、相続人全員で誰が不動産を取得するかを決めて（遺産分割協議をして）から手続きを行う必要があります。
            </p>
            <p>
                手続きは、後述の必要書類を収集、作成して登録免許税（法務局に支払う手数料）と一緒に法務局に提出することで開始します。
            </p>
        </div>
    </div>
    <div class="mt-5">
        <h5 class="md-text-center mb-4">
            ＜必要書類（遺言書がない場合）＞
        </h5>
        <div>
            <div>
                <div class="text-indent">
                    成人の子と配偶者が相続する場合を想定してます。
                </div>
                <div class="additional-text ms-3">
                    <div>
                        ※
                    </div>
                    <p>
                        個別の事情により変わることがありますので参考程度にご覧ください。
                    </p>
                </div>
            </div>
            <ul class="ps-0 ps-sm-3 mb-0">
                <li class="d-flex">
                    <div>
                        ・
                    </div>
                    <p>
                        被相続人の出生から死亡までの戸籍謄本
                    </p>
                </li>
                <li class="d-flex">
                    <div>
                        ・
                    </div>
                    <div>
                        被相続人の死亡時の住所を証する住民票の除票や戸籍の附票
                        <div class="additional-text">
                            <div>
                                ※
                            </div>
                            <div>
                                本籍と筆頭者の記載があるもの
                            </div>
                        </div>
                        <div class="additional-text">
                            <div>
                                ※
                            </div>
                            <p>
                                死亡時の住所が登記記録上の住所と一致しないときは、別途の書類が必要になります。
                                <br>
                                <a href="{% url 'toukiApp:useful_info' 'is_match_decedent_and_owner' %}" target="_blank" rel="noopener noreferrer">
                                    詳細はこちら
                                </a>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="d-flex">
                    <div>
                        ・
                    </div>
                    <div>
                        <div>
                            手続きをする時点の年度の不動産の固定資産評価額を確認できるもの
                        </div>
                        <div class="additional-text">
                            <div>
                                ※
                            </div>
                            <p>
                                固定資産評価証明書や固定資産税の納税通知書に付属されている課税明細書など
                            </p>
                        </div>
                    </div>
                </li>
                <li class="d-flex">
                    <div>
                        ・
                    </div>
                    <p>
                        相続人全員の戸籍（個人または全部）事項証明書
                    </p>
                </li>
                <li class="d-flex">
                    <div>
                        ・
                    </div>
                    <p>
                        相続人全員の印鑑登録証明書
                    </p>
                </li>
                <li class="d-flex">
                    <div>
                        ・
                    </div>
                    <p>
                        不動産を取得する相続人の住民票
                    </p>
                </li>
                <li class="d-flex">
                    <div>
                        ・
                    </div>
                    <p>
                        登記申請書
                    </p>
                </li>
                <li class="d-flex">
                    <div>
                        ・
                    </div>
                    <p>
                        遺産分割協議書など誰が相続したかがわかる書面
                    </p>
                </li>
                <li class="d-flex">
                    <div>
                        ・
                    </div>
                    <div>
                        相続関係説明図
                        <div class="additional-text">
                            <div>
                                ※
                            </div>
                            <p>
                                戸籍謄本等のコピーを提出することなく戸籍謄本等を返却してもらう場合
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="mt-5">
        <h5 class="md-text-center mb-4">
            ＜手続きに最低限かかる費用＞
        </h5>
        <div>
            <div>
                <div>
                    <div class="text-indent">
                        成人の子３名と配偶者が相続する場合を想定してます。
                    </div>
                    <div class="additional-text ms-3">
                        <div>
                            ※
                        </div>
                        <p>
                            個別の事情により変わることがありますので参考程度にご覧ください。
                        </p>
                    </div>
                </div>
            </div>
            <ul class="ps-0 ps-sm-3 mb-0">
                <li class="d-flex">
                    <div>
                        ・
                    </div>
                    <div>
                        <div>
                            登録免許税
                            <br>
                            不動産の固定資産評価額の合計額✕０．４
                        </div>
                        <div class="additional-text">
                            <div>
                                ※
                            </div>
                            <p>
                                １００万円以下の土地があるときは、その土地を合計額から除きます。
                            </p>
                        </div>
                    </div>
                </li>
                <li class="d-flex">
                    <div>
                        ・
                    </div>
                    <p>
                        証明書類の手数料
                        <br>
                        ５０００円～７０００円程度
                    </p>
                </li>
                <li class="d-flex">
                    <div>
                        ・
                    </div>
                    <div>
                        <div>
                            （郵送代）
                            <br>
                            ３０００円程度
                        </div>
                        <div class="additional-text">
                            <div>
                                ※
                            </div>
                            <p>
                                郵送により役所へ証明書を請求、相続人間の書類のやりとり、法務局へ書類を提出または受け取りをする場合
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="mt-5">
        <h5 class="md-text-center mb-4">
            ＜相続登記が難しくなる要因＞
        </h5>
        <div>
            <p class="text-indent">
                主に以下の事由に該当すると専門的な知識が必要になり相続登記の難易度が上がります。
            </p>
            <ul class="ps-0 ps-sm-3 mb-0">
                <li class="d-flex">
                    <div>
                        ・
                    </div>
                    <div>
                        被相続人が外国籍である
                        <div class="additional-text">
                            <div>
                                ＞
                            </div>
                            <p>
                                被相続人の出生から死亡までの戸籍謄本の取得方法が大幅に変わります。
                            </p>
                        </div>
                    </div>
                </li>
                <li class="d-flex">
                    <div>
                        ・
                    </div>
                    <div>
                        死亡している相続人がいる（数次相続）
                        <div class="additional-text">
                            <div>
                                ＞
                            </div>
                            <p>
                                死亡している相続人の出生から死亡までの戸籍謄本の取得も必要になり、さらに死亡している相続人の相続人も遺産分割協議に参加する必要があります。
                            </p>
                        </div>
                    </div>
                </li>
                <li class="d-flex">
                    <div>
                        ・
                    </div>
                    <div>
                        音信不通の相続人がいる
                        <div class="additional-text">
                            <div>
                                ＞
                            </div>
                            <p>
                                生存調査・住所調査をする必要があり、さらに手続きに非協力的な場合は遺産分割協議がまとまらない可能性があります。
                            </p>
                        </div>
                    </div>
                </li>
                <li class="d-flex">
                    <div>
                        ・
                    </div>
                    <div>
                        被相続人の死亡時の住所と登記記録上の住所が一致しない
                        <div class="additional-text">
                            <div>
                                ＞
                            </div>
                            <p>
                                住民票の除票や戸籍の附票以外の書類も必要になります。
                                <br>
                                <a href="{% url 'toukiApp:useful_info' 'is_match_decedent_and_owner' %}" target="_blank" rel="noopener noreferrer">
                                    詳細はこちら
                                </a>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="d-flex">
                    <div>
                        ・
                    </div>
                    <div>
                        複数の市区町村に不動産がある
                        <div class="additional-text">
                            <div>
                                ＞
                            </div>
                            <p>
                                複数の法務局で手続きをする必要がある可能性があります。
                            </p>
                        </div>
                    </div>
                </li>
                <li class="d-flex">
                    <div>
                        ・
                    </div>
                    <div>
                        兄弟姉妹が相続人になる
                        <div class="additional-text">
                            <div>
                                ＞
                            </div>
                            <p>
                                子、父母、祖父母の出生から死亡までの戸籍謄本が必要になります。
                            </p>
                        </div>
                    </div>
                </li>
                <li class="d-flex">
                    <div>
                        ・
                    </div>
                    <div>
                        相続人の中に未成年者とその法定代理人（親権者など）がいる
                        <div class="additional-text">
                            <div>
                                ＞
                            </div>
                            <p>
                                通常法定代理人が未成年者の代理人になりますが、法定代理人自身も相続人であり利害が衝突する可能性があるため、
                                家庭裁判所で他の代理人を選任する手続きをする必要があります。
                            </p>
                        </div>
                    </div>
                </li>
                <li class="d-flex">
                    <div>
                        ・
                    </div>
                    <div>
                        相続人の中に精神障害などにより遺産分割の内容を正常に理解できない方がいる
                        <div class="additional-text">
                            <div>
                                ＞
                            </div>
                            <p>
                                その方の利益を保護するために成年後見人を選任する必要があります。すでに選任されているときは、その成年後見人と協力して手続きを進める必要があります。
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    {% include "toukiApp/useful_info/parts/bottom.html" %}
</div>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}

{% block js %}
    {% load static %}
    <script src="{% static 'toukiApp/parts/messages.js' %}"></script>
{% endblock %}