{% extends "base.html" %}

{% block title %} 
    {{ title }} | {{ block.super }}
{% endblock title %}

{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'toukiApp/useful_info.css' %}">
    <link rel="stylesheet" href="{% static 'toukiApp/parts/messages.css' %}">
{% endblock %}

{% block og %}
    <meta property="og:title" content={{ title }}>
    <meta property="og:description" content="{{ title }}">
    <meta property="og:url" content="{% url 'toukiApp:useful_info' param %}">
{% endblock %}

{% block twitter %}
    <meta name="twitter:title" content="{{ title }} | お役立ち情報">
    <meta name="twitter:description" content={{ title }}>
{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
<div class="container px-sm-3 mx-auto mt-3 article-font mb-5">
    {% include "toukiApp/useful_info/parts/top.html" with time="3" update_at="令和6年6月22日" %}
    <div>
        <h5 class="md-text-center mb-4">
            ＜概要＞
        </h5>
        <div class="text-indent">
            亡くなった方（被相続人）が保持していた一切の権利（資産）、義務（負債）は、遺言がない場合、相続人全員に各自の相続分の割合により自動で承継されます。
        </div>
        <div class="additional-text">
            <div>
                ※
            </div>
            <div>
                被相続人固有の事情による権利や義務（生活保護の受給権など）は承継されません。
            </div>
        </div>
        <div class="additional-text">
            <div>
                ※
            </div>
            <div>
                親が
                <span class="border-bottom border-dark">
                    生前に
                </span>
                子へ資産を無償で譲渡するのは「相続」ではなく「贈与」です。手続や適用される税制が大幅に異なります。
            </div>
        </div>
    </div>
    <div class="mt-5">
        <h5 class="md-text-center mb-4">
            ＜承継される権利と義務＞
        </h5>
        <div>
            <p class="text-md-indent md-text-center">
                主なものを列挙してます。
            </p>
            <div class="ps-md-5">
                <ul class="ps-0 mb-0">
                    <li class="d-flex">
                        <div>
                            ・
                        </div>
                        <p>
                            現金、預貯金、車、家財道具、不動産など
                        </p>
                    </li>
                    <li class="d-flex">
                        <div>
                            ・
                        </div>
                        <p>
                            貸したお金を請求する権利、ものを借りる権利、損害賠償を請求する権利など
                        </p>
                    </li>
                    <li class="d-flex">
                        <div>
                            ・
                        </div>
                        <p>
                            借り入れ、家賃、住民税、損害賠償など
                        </p>
                    </li>
                    <li class="d-flex">
                        <div>
                            ・
                        </div>
                        <p>
                            家主の管理義務、売主の引き渡し義務、連帯保証人の保証義務など
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mt-5">
        <h5 class="md-text-center mb-4">
            ＜承継されない権利と義務＞
        </h5>
        <div>
            <p class="text-md-indent md-text-center">
                主なものを列挙してます。
            </p>
            <div class="ps-md-5">
                <ul class="ps-0 mb-0">
                    <li class="d-flex">
                        <div>
                            ・
                        </div>
                        <p>
                            年金を受給する権利や生活保護を受給する権利
                        </p>
                    </li>
                    <li class="d-flex">
                        <div>
                            ・
                        </div>
                        <p>
                            雇用契約における労働者の地位
                        </p>
                    </li>
                    <li class="d-flex">
                        <div>
                            ・
                        </div>
                        <p>
                            ものの管理を任せていた又は任されていたなどの委任契約
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% include "toukiApp/useful_info/parts/inheritance_order.html" %}
    <div class="mt-5">
        <h5 class="md-text-center mb-4">
            ＜遺産分割協議＞
        </h5>
        <div>
            <p class="text-indent">
                全ての資産について各自の相続分に従った相続にする場合、相続人が１人の場合、遺言がある場合を除いて、相続人全員で各自の取得割合を取り決める必要があります。
            </p>
            <div>
                <div class="text-indent">
                    負債や義務については、遺産分割協議を行ったとしても、債権者側の同意がない限り内部的な取り決めとして扱われ、相続人各自が相続分に従った負担を負うことになります。
                </div>
                <div class="additional-text">
                    <div>
                        例）
                    </div>
                    <div>
                        相続人が子３人の場合に被相続人の借り入れ100万円について１人が全て負担すると取り決めをしても債権者がそれを同意しない限り子３人各自３分の１ずつ返済する責任を負います。
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5">
        <h5 class="md-text-center mb-4">
            ＜財産の取得を確定させる手続＞
        </h5>
        <div >
            <p class="text-indent">
                現金や家財道具などは相続人間の話し合いで解決できますが、不動産や預貯金、車などは名義変更などの手続が必要になります。
            </p>
            <div class="text-indent">
                <p>
                    不動産は、被相続人が保管していた権利証や役所から毎年届く固定資産税の納税通知書を参考に調査して、その不動産を管轄する法務局で手続きが必要になります。専門家は司法書士です。
                </p>
                <p>
                    預貯金は、被相続人が持っていた通帳やキャッシュカード、クレジットカードなどを参考に金融機関に照会をかけて口座が存在するときは、その金融機関で手続が必要になります。
                </p>
                <p>
                    車は、現物や車検証、役所から毎年届く自動車税の納税通知書を参考に調査して、管轄の運輸局で手続が必要になります。専門家は行政書士です。
                </p>
            </div>
        </div>
    </div>
    {% include "toukiApp/useful_info/parts/bottom.html" %}
</div>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}

{% block js %}
    {% load static %}
    <script src="{% static 'toukiApp/parts/messages.js' %}"></script>
{% endblock %}