{% extends "base.html" %}

{% block title %} 
    {{ title }} | {{ block.super }}
{% endblock title %}

{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'toukiApp/useful_info.css' %}">
    <link rel="stylesheet" href="{% static 'toukiApp/parts/messages.css' %}">
{% endblock %}

{% block og %}
    <meta property="og:title" content={{ title }}>
    <meta property="og:description" content="{{ title }}">
    <meta property="og:url" content="{% url 'toukiApp:useful_info' param %}">
{% endblock %}

{% block twitter %}
    <meta name="twitter:title" content="{{ title }} | お役立ち情報">
    <meta name="twitter:description" content={{ title }}>
{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
<div class="container px-sm-3 mx-auto mt-3 article-font mb-5">
    {% include "toukiApp/useful_info/parts/top.html" with time="3" update_at="令和6年6月22日" %}
    {% include "toukiApp/useful_info/parts/inheritance_order.html" %}
    <div class="mt-5">
        <h5 class="md-text-center mb-4">
            ＜数次相続＞
        </h5>
        <div class="text-indent">
            <p>
                相続人が死亡して相続が連鎖している状態の相続のことです。
            </p>
            <p>
                相続人が死亡したとき、その相続人についても前述の「相続人と相続分」に従って相続人の相続人を判定します。
            </p>
            <p>
                相続を放置すると、これが繰り返されることで相続人が増え、さらに面識のない相続人も現れることにより相続手続きが難航することが多々あります。
            </p>
            <p>
                例）Ａが死亡して相続人が配偶者Ｂと子Ｃの２名であったところ、Ｂが死亡した場合、Ｂが再婚していれば、その再婚相手、ＢにＡ以外との子がいるときはその子もＡの相続人になります。
            </p>
        </div>
    </div>
    <div class="mt-5">
        <h5 class="md-text-center mb-4">
            ＜代襲相続＞
        </h5>
        <div>
            <p class="text-indent">
                本来相続人になる順位の方が被相続人より先に死亡しているときにその方に代わって相続することです。
            </p>
            <div class="d-flex">
                <div>
                    ・
                </div>
                <p>
                    <span class="border-bottom border-dark">
                        子が先に死亡しているとき
                    </span>
                    は、孫が相続人になります。孫も先に死亡しているときはひ孫、、、のように続きます。
                </p>
            </div>
            <div class="d-flex">
                <div>
                    ・
                </div>
                <p>
                    <span class="border-bottom border-dark">
                        父母が相続人になる場合で父または母が先に死亡しているとき
                    </span>
                    は、祖父母が相続人になります。祖父母も先に死亡しているときは曽祖父母、、、のように続きます。
                </p>
            </div>
            <div class="d-flex">
                <div>
                    ・
                </div>
                <div>
                    <span class="border-bottom border-dark">
                        兄弟姉妹が相続人になる場合で先に死亡している兄弟姉妹がいるとき
                    </span>
                    は、その兄弟姉妹の子が相続人になります。兄弟姉妹の子も先に死亡している場合、他の兄弟姉妹に相続分が移ります。
                    <div class="additional-text">
                        <div>
                            ※
                        </div>
                        <p>
                            兄弟姉妹の場合は子より後の世代への代襲は起こりません。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5">
        <h5 class="md-text-center mb-4">
            ＜異父母の兄弟姉妹が相続したときの例＞
        </h5>
        <div>
            <ul class="ps-0 mb-0">
                <li>
                    <div class="text-indent">
                        配偶者Ａと父母双方を同じくする兄弟姉妹Ｂと異父母の兄弟姉妹がＣの３名が相続人になるとき
                    </div>
                    <p class="mt-2 ms-5">
                        Ａは１２分の９
                        <br>
                        Ｂは１２分の２
                        <br>
                        Ｃは１２分の１
                    </p>
                </li>
                <li>
                    <div class="text-indent">
                        配偶者Ａと父母双方を同じくする兄弟姉妹Ｂ、Ｃと異父母の兄弟姉妹がＤ、Ｅの５名が相続人になるとき
                    </div>
                    <p class="mt-2 ms-5">
                        Ａは２４分の１８
                        <br>
                        Ｂは２４分の２
                        <br>
                        Ｃは２４分の２
                        <br>
                        Ｄは２４分の１
                        <br>
                        Ｅは２４分の１
                    </p>
                </li>
                <li>
                    <div class="text-indent">
                        父母双方を同じくする兄弟姉妹Ａと異父母の兄弟姉妹がＢの２名が相続人になるとき
                    </div>
                    <p class="mt-2 ms-5">
                        Ａは３分の２
                        <br>
                        Ｂは３分の１
                        <br>
                    </p>
                </li>
                <li>
                    <div class="text-indent">
                        父母双方を同じくする兄弟姉妹Ａ、Ｂと異父母の兄弟姉妹がＣ、Ｄの４名が相続人になるとき
                    </div>
                    <p class="mt-2 ms-5">
                        Ａは６分の２
                        <br>
                        Ｂは６分の２
                        <br>
                        Ｃは６分の１
                        <br>
                        Ｄは６分の１
                        <br>
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="mt-5">
        <h5 class="md-text-center mb-4">
            ＜養子について＞
        </h5>
        <div>
            <div>
                <div class="text-indent">
                    <p>
                        養子縁組には、普通養子縁組と特別養子縁組の２種類あります。
                    </p>
                    <p>
                        特別養子縁組では実親との親族関係が終了するため、実親の相続人になりませんが、普通養子縁組では実親との親族関係は継続したままの状態で
                        養親との親族関係が発生するため実親と養親両方の相続人となります。
                    </p>
                    <p>
                        養子に子がいる場合、養子縁組後に生まれた子は養親の親族となりますが、養子縁組前に生まれていた子は養親の親族にはなりません。
                        そのため、養子が養親より先に亡くなった場合、養子縁組後に生まれた子は代襲により養親を相続しますが、養子縁組前に生まれていた子は養親を相続しません。
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% include "toukiApp/useful_info/parts/bottom.html" %}
</div>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}

{% block js %}
    {% load static %}
    <script src="{% static 'toukiApp/parts/messages.js' %}"></script>
{% endblock %}