{% extends "base.html" %}

{% block title %} 
    {{ title }} | {{ block.super }}
{% endblock title %}

{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'toukiApp/useful_info.css' %}">
    <link rel="stylesheet" href="{% static 'toukiApp/parts/messages.css' %}">
    <link rel="stylesheet" href="{% static 'toukiApp/parts/reference-document.css' %}">
{% endblock %}

{% block og %}
    <meta property="og:title" content={{ title }}>
    <meta property="og:description" content="{{ title }}">
    <meta property="og:url" content="{% url 'toukiApp:useful_info' param %}">
{% endblock %}

{% block twitter %}
    <meta name="twitter:title" content="{{ title }} | お役立ち情報">
    <meta name="twitter:description" content={{ title }}>
{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}

{% include "toukiApp/parts/modals/touki_info.html" %}

<div class="container px-sm-3 mx-auto mt-3 article-font mb-5">
    {% include "toukiApp/useful_info/parts/top.html" with time="3" update_at="令和6年6月25日" %}
    <div>
        <h5 class="md-text-center mb-4">
            ＜概要＞
        </h5>
        <div class="text-indent">
            <div>
                遺産の全容が不明な場合は、被相続人が保管していた書類や被相続人の住所に届く郵便物、役所や企業へ照会をして遺産の有無を調査する必要があります。
            </div>
            <p>
                税理士、弁護士、司法書士などの専門家に依頼することも可能です。
            </p>
            <p>
                以下に主な財産についての調査方法を記載しています。
            </p>
        </div>
    </div>
    <div class="mt-5">
        <div>
            <h5 class="md-text-center mb-4 lh-lg">
                ＜調査方法＞
            </h5>
            <ul class="ps-0 mb-0">
                <li>
                    <div class="md-text-center">
                        <span class="border-bottom border-dark">
                            不動産
                        </span>
                    </div>
                    <ul class="ps-0 mb-0">
                        <li class="d-flex mt-3">
                            <div>
                                ・
                            </div>
                            <p>
                                固定資産税の納税通知書や領収書、権利証があるか確認する。
                            </p>
                        </li>
                        <li class="d-flex">
                            <div>
                                ・
                            </div>
                            <p>
                                通帳がある場合は履歴に固定資産税の納税の有無を確認する。
                            </p>
                        </li>
                        <li class="d-flex">
                            <div>
                                ・
                            </div>
                            <div>
                                市区町村の税務課で固定資産税公課証明書を取得する。
                                <div class="additional-text">
                                    <div>
                                        ※
                                    </div>
                                    <div>
                                        その市区町村で所有している不動産全ての記載があります。
                                    </div>
                                </div>
                                <div class="additional-text">
                                    <div>
                                        ※
                                    </div>
                                    <div>
                                        取得にあたっては相続人であることを証明できる戸籍謄本が必要です。
                                    </div>
                                </div>
                                <div class="additional-text">
                                    <div>
                                        ※
                                    </div>
                                    <p>
                                        共有のものも必要である旨を申請書に記載するか窓口でお伝え下さい。
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="md-text-center">
                        <span class="border-bottom border-dark">
                            預貯金
                        </span>
                    </div>
                    <ul class="ps-0 mb-0 mt-3">
                        <li class="d-flex">
                            <div>
                                ・
                            </div>
                            <p>
                                キャッシュカードや通帳、取引明細書など関係する資料があるか確認する。
                            </p>
                        </li>
                        <li class="d-flex">
                            <div>
                                ・
                            </div>
                            <div>
                                金融機関で残高証明書を取得する。
                                <div class="additional-text">
                                    <div>
                                        ※
                                    </div>
                                    <p>
                                        取得にあたっては相続人であることを証明できる戸籍謄本などが必要です。
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="md-text-center">
                        <span class="border-bottom border-dark">
                            株式などの有価証券
                        </span>
                    </div>
                    <ul class="ps-0 mb-0 mt-3">
                        <li class="d-flex">
                            <div>
                                ・
                            </div>
                            <p>
                                株券や証券会社からの取引明細書などの書類があるか確認する。
                            </p>
                        </li>
                        <li class="d-flex">
                            <div>
                                ・
                            </div>
                            <p>
                                通帳に配当金の入金があるか確認する。
                            </p>
                        </li>
                        <li class="d-flex">
                            <div>
                                ・
                            </div>
                            <div>
                                証券保管振替機構に照会する。
                                <div class="additional-text">
                                    <div>
                                        ※
                                    </div>
                                    <p>
                                        照会にあたっては相続人であることを証明できる戸籍謄本などが必要です。
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="md-text-center">
                        <span class="border-bottom border-dark">
                            株式などの有価証券
                        </span>
                    </div>
                    <ul class="ps-0 mb-0 mt-3">
                        <li class="d-flex">
                            <div>
                                ・
                            </div>
                            <p>
                                金融機関、クレジット会社、消費者金融などとの借り入れに関する書類があるか確認する。
                            </p>
                        </li>
                        <li class="d-flex">
                            <div>
                                ・
                            </div>
                            <p>
                                通帳や口座の取引明細書に定期的な支払がないか確認する。
                            </p>
                        </li>
                        <li class="d-flex">
                            <div>
                                ・
                            </div>
                            <p>
                                不動産の登記簿謄本を取得して住宅ローンの記載があるか確認する。
                            </p>
                        </li>
                        <li class="d-flex">
                            <div>
                                ・
                            </div>
                            <div>
                                信用情報を取り扱っている会社（ＣＩＣ、全国銀行個人信用情報センター、ＪＩＣＣ）に照会する。
                                <div class="additional-text">
                                    <div>
                                        ※
                                    </div>
                                    <div>
                                        照会にあたっては相続人であることを証明できる戸籍謄本などが必要です。
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    {% include "toukiApp/useful_info/parts/bottom.html" %}
</div>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}

{% block js %}
    {% load static %}
    <script src="{% static 'toukiApp/parts/messages.js' %}"></script>
{% endblock %}