{% extends "base.html" %}

{% block title %} 
    {{ title }} | {{ block.super }}
{% endblock title %}

{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'toukiApp/useful_info.css' %}">
    <link rel="stylesheet" href="{% static 'toukiApp/parts/messages.css' %}">
{% endblock %}

{% block og %}
    <meta property="og:title" content={{ title }}>
    <meta property="og:description" content="{{ title }}">
    <meta property="og:url" content="{% url 'toukiApp:useful_info' param %}">
{% endblock %}

{% block twitter %}
    <meta name="twitter:title" content="{{ title }} | お役立ち情報">
    <meta name="twitter:description" content={{ title }}>
{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
<div class="container px-sm-3 mx-auto mt-3 article-font mb-5">
    <p class="ps-4">
        <a class="fw-bold" href="{% url 'toukiApp:useful_info_links' %}">
            お役立ち情報に戻る
        </a>
    </p>
    <div class="text-center">
        <h3 class="mb-3">
            {{ title|linebreaksbr }}
        </h3>
        <div class="form-text text-center">
            (1分ほどで読み終えることができます。)
        </div>
        <div class="form-text text-end mt-3">
            最終更新日
            <br>
            令和6年6月21日
        </div>
    </div>
    <hr class="my-4">
    <div class="mt-5">
        <h5 class="md-text-center mb-4">
            <span class="pe-md-4 md-px-2 border-bottom border-dark">
                概要
            </span>
        </h5>
        <div class="text-indent">
            <p>
                遺産分割協議がまとまらないなどの事情により亡くなった方の死亡日から３年以内に相続登記を行うことが難しい場合の
                代替手続きで法務局が管轄しています。専門家は司法書士です。
            </p>
        </div>
    </div>
    <div class="mt-5">
        <h5 class="md-text-center mb-4">
            <span class="pe-md-4 md-px-2 border-bottom border-dark lh-lg">
                効果
            </span>
        </h5>
        <p class="text-indent">
            相続登記の義務を果たしたものと扱われ、過料を課されることがなくなります。
        </p>
    </div>
    <div class="mt-5">
        <h5 class="md-text-center mb-4">
            <span class="pe-md-4 md-px-2 border-bottom border-dark">
                手続
            </span>
        </h5>
        <div class="text-indent">
            <p>
                いずれの相続人も単独で不動産の所在地を管轄する法務局で行うことができます。
            </p>
            <p>
                手数料はかからず、他の相続人の分もまとめて手続きをすることもできます。
            </p>
            <div>
                <div>
                    手続きは、後述の必要書類を法務局に提出することで開始します。
                </div>
                <p>
                    相続登記と比較してかなり簡素化されています。
                </p>
            </div>
        </div>
    </div>
    <div class="mt-5">
        <h5 class="md-text-center mb-4">
            <span class="pe-md-4 md-px-2 border-bottom border-dark lh-lg">
                必要書類
            </span>
        </h5>
        <div>
            <ul class="ps-3 mb-0">
                <li class="d-flex">
                    <div>
                        ・
                    </div>
                    <p>
                        被相続人が死亡したことがわかる戸籍謄本
                    </p>
                </li>
                <li class="d-flex">
                    <div>
                        ・
                    </div>
                    <p>
                        相続人であることを証明できる戸籍謄本
                    </p>
                </li>
                <li class="d-flex">
                    <div>
                        ・
                    </div>
                    <div>
                        相続人の住民票
                        <div class="additional-text">
                            <div>
                                ※
                            </div>
                            <p>
                                申出書に氏名のふりがなと生年月日を記載したときは省略できます。
                            </p>
                        </div>
                    </div>
                </li>
                <li class="d-flex">
                    <div>
                        ・
                    </div>
                    <p>
                        申出書
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <hr class="my-4">
    <div class="text-center">
        <a class="fw-bold text-primary" href="mailto:{{ company_data.MAIL_ADDRESS|urlencode }}?subject={{ title|urlencode }}とはの記事について&body=">
            この記事について問い合わせる
        </a>
        <br>
        (メールソフトが起動します)
    </div>
</div>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}

{% block js %}
    {% load static %}
    <script src="{% static 'toukiApp/parts/messages.js' %}"></script>
{% endblock %}