{% extends "base.html" %}
{% block title %}アクセス禁止 | {{ block.super}}{% endblock title %}

{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static '403.css' %}">
{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
<div class="mx-auto py-5">
    <div class="text-center">
        <h3>
            アクセスが制限されています。
        </h3>
        {% if reason %}
            <p class="fw-bold">
                理由：{{ reason }}
            </p>
        {% endif %}
    </div>
    <p class="text-center">
        問題が発生した場合は、{{ company_data.MAIL_ADDRESS }}までご連絡をお願いします。
    </p>
    <p class="mt-5 link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover text-center">
        <a href="{% url 'toukiApp:index' %}">
            トップページに戻る
        </a>
    </p>
</div>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}

{% block js %}
    {% load static %}
    <script src="{% static '403.js' %}"></script>
{% endblock %}