{% extends "base.html" %}
{% block title %}システムエラー | {{ block.super}}{% endblock title %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
<div class="mx-auto py-5">
    <div class="text-center">
        <h1>
            システム側でエラーが発生しました
        </h1>
        <h4>
            恐れ入りますが、現在復旧作業中のため、しばらく時間をおいて再度アクセスをお試しください。
        </h4>
        <p class="mt-5 link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover fs-5">
            <a href="{% url `toukiApp:index` %}">
                トップページに戻る
            </a>
        </p>
    </div>
    {% if DJANGO_SETTINGS_MODULE != "toukiAi.settings.production" %}
        <div class="d-flex justify-content-center">
            <div>
                <h4 class="text-center">
                    エラー詳細
                </h4>
                <p>
                    {{ traceback }}
                </p>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}

