{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'header.css' %}">
{% endblock %}

<header id="header" class="navbar navbar-expand-lg navbar-light bg-light p-2 sticky-top shadow-sm">
    <nav class="container-xl">
        <a class="me-lg-4" href="{% url 'toukiApp:index' %}">
            <img class="logo-img" src="{% static 'toukiApp/img/company_logo.png' %}" alt="会社ロゴ">
        </a>
        <div>
            <a class="useful-info-links-btn btn btn-outline-success p-2 fw-bold shadow" href="{% url 'toukiApp:useful_info_links' %}">
                お役立ち情報
            </a>
            {% if request.path != "/toukiApp/step_one_trial" %}
                <a class="btn btn-success p-2 fw-bold bg-gradient bg-opacity-50 border-0 shadow" href="{% url 'toukiApp:step_one_trial' %}">
                    相続人判定
                </a>
            {% else %}
                <a class="btn btn-success p-2 fw-bold bg-gradient bg-opacity-50 border-0 shadow" href="{% url 'accounts:option_select' %}">
                    利用する
                </a>
            {% endif %}
        </div>
        <button class="menu-toggler-btn btn btn-primary p-2 fw-bold bg-gradient bg-opacity-50 border-0 shadow" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenus" aria-controls="offcanvasMenus" style="display: none;">
            メニュー
        </button>
        <div id="offcanvasMenus" class="offcanvas offcanvas-end" tabindex="-1" aria-labelledby="offcanvasLabel">
            <div class="offcanvas-header bg-light border-bottom">
                <h5 id="offcanvasLabel" class="offcanvas-title">
                    メニュー
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#offcanvasMenus">
                </button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav py-md-0">
                    {% if user.is_authenticated %}
                        <li class="nav-item col col-md-auto account-menu">
                            <a class="btn btn-outline-primary p-2 fw-bold shadow" href="{% url 'account_logout' %}">
                                ログアウト
                            </a>
                        </li>
                        {% if user.basic_date %}
                            <li class="nav-item col col-md-auto account-menu pb-3 border-bottom">
                                <a class="btn btn-outline-primary p-2 fw-bold shadow" href="{% url 'toukiApp:nav_to_last_user_page' %}">
                                    作業に戻る
                                </a>
                            </li>
                        {% endif %}
                        <li class="nav-item col col-md-auto account-menu pb-3 border-bottom">
                            <a class="btn btn-primary p-2 fw-bold bg-gradient bg-opacity-50 border-0 shadow" href="{% url 'accounts:option_select' %}">
                                サービスを申し込む
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item col col-md-auto account-menu">
                            <a class="btn btn-outline-primary p-2 fw-bold shadow" href="{% url 'account_login' %}">
                                ログイン
                            </a>
                        </li>
                        <li class="nav-item col col-md-auto account-menu pb-3 border-bottom">
                            <a class="btn btn-primary p-2 fw-bold bg-gradient bg-opacity-50 border-0 shadow" href="{% url 'accounts:option_select' %}">
                                サービスを申し込む
                            </a>                                
                        </li>
                    {% endif %}
                    <li class="nav-item col col-md-auto proxy-footer-li">
                        <a class="proxy-footer" href="{% url 'toukiApp:index' %}">
                            トップページ
                        </a>
                    </li>
                    <li class="nav-item col col-md-auto proxy-footer-li">
                        <a class="proxy-footer" href="{% url 'toukiApp:useful_info_links' %}">
                            お役立ち情報
                        </a>
                    </li>
                    <li class="nav-item col col-md-auto proxy-footer-li">
                        <a class="proxy-footer" href="{% url 'toukiApp:terms' %}">
                            利用規約
                        </a>
                    </li>
                    <li class="nav-item col col-md-auto proxy-footer-li">
                        <a class="proxy-footer" href="{% url 'toukiApp:privacy' %}">
                            プライバシーポリシー
                        </a>
                    </li>
                    <li class="nav-item col col-md-auto proxy-footer-li">
                        <a class="proxy-footer" href="{% url 'toukiApp:commerce_law' %}">
                            特商法に基づく表記
                        </a>
                    </li>
                    <li class="nav-item col col-md-auto proxy-footer-li">
                        <a class="proxy-footer" href="{% url 'toukiApp:administrator' %}">
                            会社概要
                        </a>
                    </li>
                    <li class="nav-item col col-md-auto proxy-footer-li">
                        {% if user.is_authenticated %}
                            {% if request.path == "/toukiApp/step_one_trial" or request.path == "/account/option_select/" %}
                                <a class="proxy-footer" href="{% url 'toukiApp:step_inquiry' %}">
                            {% else %}
                                <a class="proxy-footer inquiry-link" href="{% url 'toukiApp:index' %}#inquiry">
                            {% endif %}
                        {% else %}
                            <a class="proxy-footer inquiry-link" href="{% url 'toukiApp:index' %}#inquiry">
                        {% endif %}
                            お問い合わせ
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="accountLink">
            {% if user.is_authenticated %}
                <a class="btn btn-outline-primary p-2 fw-bold shadow" href="{% url 'account_logout' %}">
                    ログアウト
                </a>
                {% if user.basic_date %}
                    <a class="btn btn-primary p-2 fw-bold bg-gradient bg-opacity-50 border-0 shadow" href="{% url 'toukiApp:nav_to_last_user_page' %}">
                        作業に戻る
                    </a>
                {% else %}
                    <a class="btn btn-primary p-2 fw-bold bg-gradient bg-opacity-50 border-0 shadow" href="{% url 'accounts:option_select' %}">
                        サービスを申し込む
                    </a>
                {% endif %}
            {% else %}
                <a class="btn btn-outline-primary p-2 fw-bold shadow" href="{% url 'account_login' %}">
                    ログイン
                </a>
                <a class="btn btn-primary p-2 fw-bold bg-gradient bg-opacity-50 border-0 shadow" href="{% url 'accounts:option_select' %}">
                    サービスを申し込む
                </a>
            {% endif %}
        </div>
    </nav>
</header>
