{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'header.css' %}">
{% endblock %}

<header id="header" class="navbar navbar-expand-lg navbar-light bg-light p-2 sticky-top shadow-sm">
    <nav class="container">
        <button id="toggler" class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenus" aria-controls="offcanvasMenus">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="me-4" href="{% url 'toukiApp:index' %}">
            <img class="header_logo" src="{% static 'toukiApp/img/会社ロゴ.png' %}" alt="会社ロゴ">
        </a>
        <div id="offcanvasMenus" class="offcanvas offcanvas-start" tabindex="-1" aria-labelledby="offcanvasLabel">
            <div class="offcanvas-header border-bottom">
                <h5 id="offcanvasLabel" class="offcanvas-title">
                    メニュー
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#offcanvasMenus">
                </button>
            </div>
            <div class="offcanvas-body">
                <ul id="menuList" class="navbar-nav py-md-0">
                    <li class="nav-item col col-md-auto">
                        <button type="button" id="toIntroBtn" class="btn btn-outline-primary p-2 fw-bold toIntro">そうぞくとうきくんとは？</button>
                    </li>
                    <li class="nav-item col col-md-auto ms-3">
                        <button type="button" id="toSupportBtn" class="btn btn-outline-primary p-2 fw-bold toSupport">詳細</button>
                    </li>
                    <li class="nav-item col col-md-auto ms-3">
                        <button type="button" id="toChargeBtn" class="btn btn-outline-primary p-2 fw-bold toCharge">料金</button>
                    </li>
                    <li class="nav-item col col-md-auto ms-3">
                        <button type="button" id="toCompareBtn" class="btn btn-outline-primary p-2 fw-bold toCompare">他社比較</button>
                    </li>
                    <li class="nav-item col col-md-auto ms-3">
                        <button type="button" id="toQABtn" class="btn btn-outline-primary p-2 fw-bold toQA">Ｑ＆Ａ</button>
                    </li>
                    <li class="nav-item col col-md-auto ms-3">
                        <button type="button" id="toInquiryBtn" class="btn btn-outline-primary p-2 fw-bold toInquiry">お問い合わせ</button>
                    </li>
                    <li class="nav-item col col-md-auto ms-3">
                        <a class="btn btn-primary p-2 fw-bold bg-gradient bg-opacity-50 border-0 shadow signupBtn" href="{% url 'toukiApp:condition' %}" style="display: none;">
                            アカウント登録
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="accountLink">
            {% if user.is_authenticated %}
                <a id="logoutBtn" class="btn btn-outline-primary p-2 fw-bold" href="{% url 'account_logout' %}">
                    ログアウト
                </a>
                <a class="btn btn-primary p-2 fw-bold bg-gradient bg-opacity-50 border-0 shadow" href="{% url 'toukiApp:nav_to_last_user_page' %}">
                    会員ページに戻る
                </a>
            {% else %}
                <a class="btn btn-outline-primary p-2 fw-bold" href="{% url 'account_login' %}">
                    ログイン
                </a>
                <a class="btn btn-primary p-2 fw-bold bg-gradient bg-opacity-50 border-0 shadow signupBtn" href="{% url 'toukiApp:condition' %}">
                    アカウント登録
                </a>
            {% endif %}
        </div>
    </nav>
</header>

{% block js %}
    {% load static %}
    <script src="{% static 'header.js' %}"></script>
{% endblock %}