/* 各項目内のul */
section:nth-of-type(n+2){
    margin-top: 1rem;
}

section ul{
    padding-left: 0!important;
    margin-bottom: 0!important;
}

section ul li{
    margin-top: 1rem;
}

#basic-section ul li .d-flex > div:first-child{
    min-width: 50px;
    margin-left: 2rem!important;
}

#charge-section ul > li > ul{
    margin-top: 0px!important;
    padding-left: 0px!important;
}

#charge-section ul > li > ul > li{
    margin-top: 0px!important;
}

/*
    フォーム
 */

.form-check-input[type=radio]{
    border-radius: 50%!important;
}

label{
    min-width: 110px;
}

::placeholder{
    text-align: center;
}

.payer{
    display: none;
}

/* その他 */
.emPosition {
    left: 145px;
    top: -55px;
}

.stand-by-message{
    display: none;
    color: rgba(var(--bs-danger-rgb),var(--bs-text-opacity))!important;
    text-align: center!important;
    font-weight: 700!important;
}

.linebreak-wrapper{
    display: flex;
    flex-wrap: nowrap;
}

.linebreak-wrapper span{
    display: inline;
}

/* 
    レスポンシブ
 */
@media (max-width:575px){

    #basic-section ul li .d-flex > div:first-child{
        margin-left: 1rem!important;
    }

    fieldset .label, input[type=text], input[type=number], input[type=email], input[type=password]{
        width: 100%!important;
        text-align-last: initial!important;
        text-align: center!important;
    }

    fieldset .form-control{
        margin-left: 0px!important;
    }

    .emPosition{
        left: 0px!important;
    }
}

@media (max-width:470px){

    #basic-section label > span, #option1-section label > span, #option2-section label > span{
        display: block;
    }
}

@media (max-width:420px){
    .linebreak-wrapper{
        flex-direction: column;
    }

    .linebreak-wrapper span{
        display: block;
        text-align: center;
    }
}