/* 各項目内のul */
section ul{
    padding-left: 0!important;
    margin-bottom: 0!important;
}

section ul li{
    margin-top: 1rem;
}

#basic-section ul li .d-flex > div:first-child{
    min-width: 50px;
    margin-left: 2rem!important;
}

section:nth-of-type(n+2){
    margin-top: 1rem;
}

#charge-section ul > li > ul{
    margin-top: 0px!important;
    padding-left: 0px!important;
}

#charge-section ul > li > ul > li{
    margin-top: 0px!important;
}

/*
    フォーム
 */

 /* 支払名義人は初期値を非表示にする */
fieldset > .input-group:nth-child(3){
    display: none; 
}

/* カード情報の上に余白 */
fieldset > .input-group:nth-child(6){
    margin-top: 1rem!important;
}

fieldset label, 
fieldset .form-control{
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
}
    
.form-check-input[type=radio]{
    border-radius: 50%!important;
}

label{
    min-width: 110px;
}

::placeholder{
    text-align: center;
}

/* その他 */
.emPosition {
    left: 145px;
    top: -55px;
}

.stand-by-message{
    display: none;
    color: rgba(var(--bs-danger-rgb),var(--bs-text-opacity))!important;
    text-align: center!important;
    font-weight: 700!important;
}

@media (min-width:576px){

    fieldset > .input-group:first-child label,
    fieldset > .input-group:nth-child(6) label{
        border-top-left-radius: var(--bs-border-radius)!important;
    }
    
    fieldset > .input-group:first-child .form-control,
    fieldset > .input-group:nth-child(6) input{
        border-top-right-radius: var(--bs-border-radius)!important;
    }
    fieldset > .input-group:nth-child(5) label,
    fieldset > .input-group:last-child label{
        border-bottom-left-radius: var(--bs-border-radius)!important;
    }
    
    fieldset > .input-group:nth-child(5) input,
    fieldset > .input-group:last-child input{
        border-bottom-right-radius: var(--bs-border-radius)!important;
    }
}

/* 
    レスポンシブ
 */
@media (max-width:575px){

    #basic-section ul li .d-flex > div:first-child{
        margin-left: 1rem!important;
    }

    fieldset .label, input[type=text]{
        width: 100%!important;
        text-align-last: initial!important;
        text-align: center!important;
    }

    fieldset .form-control{
        margin-left: 0px!important;
    }

    .emPosition{
        left: 0px!important;
    }
    
    fieldset > .input-group:first-child label,
    fieldset > .input-group:nth-child(6) label{
        border-top-left-radius: var(--bs-border-radius)!important;
        border-top-right-radius: var(--bs-border-radius)!important;
    }

    fieldset > .input-group:nth-child(5) input,
    fieldset > .input-group:last-child input{
        border-bottom-left-radius: var(--bs-border-radius)!important;
        border-bottom-right-radius: var(--bs-border-radius)!important;
    }
}

@media (max-width:470px){

    #basic-section label > span, #option1-section label > span, #option2-section label > span{
        display: block;
    }
}